<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div class="profile_top_banner">
  <span class="profile"><%= t('details') %></span>
  <div class="profile-topbanner"></div>
</div>

<table width="700">
  <tr class="odd left"><td><%= t('joining_date') %></td><td class="right"><%= I18n.l(@employee.joining_date,:format=>:normal)%></td></tr>
  <tr class="even left"><td><%= t('department') %></td><td class="right"><%= @employee.employee_department.name%></td></tr>
  <tr class="odd left"><td><%= t('category') %></td><td class="right"><%= @employee.employee_category.name %></td></tr>
  <tr class="even left"><td><%= t('position') %></td><td class="right"><%= @employee.employee_position.name %></td></tr>
<!--
  <tr class="odd left"><td><%= t('grade') %></td><td class="right"><%= @employee.employee_grade.name unless @employee.employee_grade.nil? %></td></tr>
  <tr class="even left"><td><%= t('job_title') %></td><td class="right"><%= @employee.job_title %></td></tr>

  <tr class="odd left"><td><%= t('manager') %></td><td class="right">
      <% if @current_user.admin? %>
        <%= link_to @reporting_manager.to_s, :controller=> "employee", :action=> "profile", :id=>@employee.reporting_manager_id %>
      <% else %>
        <%= @reporting_manager %>
      <% end %>
      <% if permitted_to? :change_reporting_manager, :employee %>
        <%= link_to "#{t('change')}", :controller=> "employee", :action=> "change_reporting_manager", :id=>@employee.id %>
      <%end%></td></tr>
-->  
  <tr class="even left"><td><%= t('gender') %></td><td class="right"><%= t("#{@gender.downcase}") %></td></tr>



<tr class="odd left"><td><%= "Interview Date" %></td><td class="right"><%= @employee.interview_date %></td></tr>

<tr class="even left"><td><%= "Identity Card" %></td><td class="right"><%= @employee.identitycard_num %></td></tr>
<tr class="odd left"><td><%= t('epf') %></td><td class="right"><%= @employee.epf %></td></tr>
<tr class="even left"><td><%= t('socso') %></td><td class="right"><%= @employee.socso %></td></tr>
<tr class="odd left"><td><%= t('income_tax') %></td><td class="right"><%= @employee.income_tax %></td></tr>


<!--<tr class="odd left"><td><%= "Monthly Basic Salary" %></td><td class="right"><%= @employee.mbs %></td></tr>
-->
  <tr class="even left"><td><%= t('email') %></td><td class="right"><%= @employee.email %></td></tr>
  <tr class="odd left"><td><%= t('status') %></td><td class="right"><%= t("#{@status.downcase}") %></td></tr>
  <tr class="even left"><td><%= t('qualification') %></td><td class="right"><%= @employee.qualification %></td></tr>
  <tr class="odd left"><td><%= t('total_exp') %></td><td class="right"><%= @total_years.to_s+" #{t('years')} "+@total_months.to_s+" #{t('months')}" %></td></tr>
  <tr class="even left"><td><%= t('exp_info') %></td><td class="right"><%= @employee.experience_detail %></td></tr>
</table>

<div class="edit-pdf-group">
  <% if permitted_to? :change_reporting_manager, :employee %>
    <div>
      <%= link_to "► #{t('edit_text')}", {:controller => "employee", :action => "edit1", :id =>@employee.id}, :class=> 'user_button' %>
    </div>
  <%end%>
  
  <% if permitted_to?  :profile_pdf , :employee %>
    <div>
      <%= link_to " ► #{t('pdf_report')}",
        {:controller => "employee", :action => "profile_pdf", :id => @employee.id},:target => '_blank', :class=> 'user_button' %>
    </div>
  <% end %>
</div>
