<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

  <% unless @personal_references.empty? %>
    <% @personal_references.each_with_index do |b, index| %>

<table width="700">

      <tr class="even right"><td>Personal Reference #<%= index+1 %></td><td></td></tr>
      <tr class="odd left"><td>Name</td><td class="right"><%= b.name unless b.name.nil? %></td></tr>
      <tr class="even left"><td>Tel No</td><td class="right"><%= b.telephone_no unless b.telephone_no.nil? %></td></tr>
      <tr class="odd left"><td>Relationship</td><td class="right"><%= b.relationship unless b.relationship.nil? %></td></tr>
      <tr class="even left"><td>Company</td><td class="right"><%= b.company unless b.company.nil? %></td></tr>
      <tr class="odd left"><td>Position</td><td class="right"><%= b.position unless b.position.nil? %></td></tr>
  </table>

  <div class="extender"></div>

<center><div class="edit-ref-group">
    <% if permitted_to? :add_personal_reference ,:employee %>
      <div>
        <%= link_to " ► Add",
          {:controller => "employee", :action => "add_personal_reference", :id => @employee.id}, :class=> 'user_button' %>
      </div>
   <%end %>

    <% if permitted_to? :edit_personal_reference ,:employee %>
      <div>
<%= link_to "► #{t('edit_text')}",   {:controller => "employee", :action => 'edit_personal_reference', :id =>b.id, :edit_request=>1 }, :class=> 'user_button'%>
      </div>
    <%end%>
    <% if permitted_to?  :delete_personal_reference , :employee %>
      <div>
        <%= link_to " ► Delete",
          {:controller => 'employee', :action => 'delete_personal_reference', :id => b.id},
	  {:confirm => "#{t('are_you_completely_sure')}",  :class=> "user_button"} %>

      </div>

    <% end %>

  </div>
</center>
<h1>&nbsp;</h1><h1>&nbsp;</h1>
    <% end %>
   <% else %>
  <% if permitted_to? :add_personal_reference,:employee %>
    <p class="flash-msg"><%=  "No personal references for"  %> <%= @employee.first_name%>. <%= link_to "#{t('add')}", :controller => "employee",:action=>"add_personal_reference", :id => @employee.id %></p>
  <% else %>
    <p class="flash-msg"><%="No personal references for"%> <%= @employee.first_name%>. <%#= link_to "ADD", :controller => "employee", :action => "edit3_1", :id => @employee.id %></p>
  <% end %>
<% end %>
