<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<table width="700">
  <tr class="odd left"><td><%= t('date_of_birth') %></td><td class="right"><%= @employee.date_of_birth%></td></tr>
  <tr class="even left"><td><%= t('marital_status') %></td><td class="right"><%= @employee.marital_status %></td></tr>
  <tr class="odd left"><td><%= t('no_of_children') %></td><td class="right"><%= @employee.children_count %></td></tr>
  <tr class="even left"><td><%= t('father_name') %></td><td class="right"><%= @employee.father_name %></td></tr>
  <tr class="odd left"><td><%= t('mother_name') %></td><td class="right"><%= @employee.mother_name %></td></tr>
  <tr class="even left"><td><%= t('spouse_name') %></td><td class="right"><%=  @employee.husband_name %></td></tr>
<!--  <tr class="odd left"><td><%= t('blood_group') %></td><td class="right"><%= @employee.blood_group %></td></tr>
-->  <tr class="odd left"><td><%= t('nationality') %></td><td class="right"><%= @employee.nationality.name unless @employee.nationality.nil? %></td></tr>
</table>

<div class="edit-pdf-group">
  <% if permitted_to? :edit_personal, :employee %>
    <div>
      <%= link_to "► #{t('edit_text')}", { :controller => "employee", :action => "edit_personal", :id =>@employee.id}, :class=> 'user_button'%>
    </div>
  <%end%>
  <% if permitted_to?  :profile_pdf , :employee %>
  <div>
    <%= link_to " ► #{t('pdf_report')}",
      {:controller => "employee", :action => "profile_pdf", :id => @employee.id},:target => '_blank', :class=> 'user_button' %>
  </div>
  <% end %>
</div>