<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
<h1><%= t('employee_admission') %></h1>
<h3><%= t('step_1') %></h3>
<div id="app-back-button">
<%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
</div>
</div>

<div id="page-yield">

<% unless flash[:notice].nil? %>
<p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>



<% form_for :personal_reference do |a| %>
  <%= error_messages_for 'personal_reference' %>
    <div id="form-contents">
        <span class="span-sub-heading"><%= "Personal References" %></span>
<br>    
<hr class="sub-heading"></hr>
      <div id="necessary-field-notification"> <%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %></div>

        <div class="label-field-pair">
          <label><%= "Name" %> <span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= a.text_field :name %></div>
          <div class="extender"></div>
        </div>

        <div class="label-field-pair">
          <label> <%= "Tel No" %> <span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= a.text_field :telephone_no %></div>
          <div class="extender"></div>
        </div>

        <div class="label-field-pair">
          <label><%= "Relationship" %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg"><%= a.text_field :relationship %></div>
          <div class="extender"></div>
        </div>

        <div class="label-field-pair">
          <label><%=  "Company"  %></label>
          <div class="text-input-bg"><%= a.text_field :company %></div>
          <div class="extender"></div>
        </div>
       

        <div class="label-field-pair">
          <label><%=  "Position"  %></label>
          <div class="text-input-bg"><%= a.text_field :position %></div>
          <div class="extender"></div>
        </div>         
    </div>

 <div class="extender">
        <%= submit_tag  "► #{t('save_and_proceed')}" , :class => "submit_button3" %>
  </div>

<div id="skip">
        <%= link_to "► Click here to skip", {:controller => "employee", :action => "admission2", :id => @employee.id }, :class => "user_button" %>
      </div>
<% end %>

</div>
