<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= t('employee_admission') %></h1>
  <h3><%= t('step_1') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>
  <% unless @last_admitted_employee.nil? %>
    <p class="flash-msg"><%="#{t('last_employee_number')} #{@last_admitted_employee.employee_number}"%></p>
  <% end %>

  <% form_for(:employee, @employee, :url => {:action=> 'admission1'},
    :html=> {:multipart=>true}) do |a| %>
    <%= error_messages_for  :employee %>
    <div id="admission1_form">

      <div id="necessary-field-notification"> <%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %></div>
      <span class="span-sub-heading"><%= t('general_details') %></span>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label for="employee_id"><%= t('employee_number') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg">
          <% unless @config.config_value == '0' or @last_admitted_employee.nil? %>
            <%= a.text_field :employee_number, :value=> @last_admitted_employee.employee_number.next%>
          <% else %>
            <%= a.text_field :employee_number,:value=>'E1' %>
          <% end %></div>
      </div>
      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_joining_date"><%= t('joining_date') %></label>
        <div class="text-input-bg"><%= calendar_date_select_tag 'employee[joining_date]', I18n.l(Date.today,:format=>:default),
            :year_range => 25.years.ago..0.years.from_now , :popup=>"force"%></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_name"><%= t('first_name') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= a.text_field :first_name %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_name"><%= t('middle_name') %></label>
        <div class="text-input-bg"><%= a.text_field :middle_name %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_name"><%= t('last_name') %></label>
        <div class="text-input-bg"><%= a.text_field :last_name %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label><%= t('email') %></label>
        <div class="text-input-bg"><%= a.text_field :email %></div>
        <div class="extender"></div>
      </div>
      <hr class="label-underline"></hr>

      <div class="label_field_pair">
        <label class="label_for_employee_gender" for="master_student_gender"><%= t('gender') %></label>
        <div class="employee_gender_value">
          <label class="label_for_gender" for="master_student_gender_true"><%= t('male') %></label>
          <%= a.radio_button  "gender", "m", :checked => "checked" %>

          <label class="label_for_gender" for="master_student_gender_false"><%= t('female') %></label>
          <%= a.radio_button  "gender", "f" %>
        </div>
      </div>


      <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Interview Date"><%= "Interview Date" %> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'employee[interview_date]',
              I18n.l(Date.today-5.years,:format=>:default) , :year_range => 72.years.ago..0.years.ago,:popup=>"force" %>
          </div>
        </div>

      <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Identity card number"><%= "Identity Card" %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg"><%= a.text_field :identitycard_num %></div>
        </div>
<!--
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Month basic salary"><%= "Monthly Basic Salary" %> </label>
          <div class="text-input-bg"><%= a.text_field :mbs %></div>
        </div>

-->
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="epf"><%= t('epf') %> </label>
        <div class="text-input-bg"><%= a.text_field :epf %></div>
      </div>

      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="socso"><%= t('socso') %> </label>
        <div class="text-input-bg"><%= a.text_field :socso %></div>
      </div>
      
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="income_tax"><%= t('income_tax') %> </label>
        <div class="text-input-bg"><%= a.text_field :income_tax %></div>
      </div>

      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="dob"><%= t('date_of_birth') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= calendar_date_select_tag 'employee[date_of_birth]', I18n.l(Date.today-10.years,:format=>:default),
            :year_range => 70.years.ago..4.years.ago, :popup=>"force" %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_department"><%= t('department') %> <span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= select :employee, :employee_department_id, @departments.map {|s| [s.name, s.id]},:prompt => "#{t('select')}"%></div>
      </div>
      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_category"><%= t('category') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= select :employee, :employee_category_id, @categories.map { |s| [s.name, s.id] },
            {:prompt => "#{t('select')}"},
            {:onChange => "#{remote_function(:url => {:action => "update_positions"}, :with => "'category_id='+value")}"} %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_position"><%= t('position') %> <span class="necessary-field">*</span></label>
        <div class="text-input-bg"><div id="positions1"> <%= render :partial => 'positions', :object => @positions %></div></div>
      </div>
<!--      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_grade"><%= t('grade') %></label>
        <div class="text-input-bg"><%= select :employee, :employee_grade_id, @grades.map {|s| [s.name, s.id]},:prompt => "#{t('select')}" %></div>
      </div>-->
 <!--     <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_job_title"><%= t('job_title') %></label>
        <div class="text-input-bg"><%= a.text_field :job_title %></div>
      </div>-->
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_qualification"><%= t('qualification') %></label>
        <div class="text-input-bg"><%= a.text_field :qualification %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair-text-area">
        <label for="employee_experience"><%= t('exp_info') %></label>
        <div class="textarea-input-bg"><%= a.text_area :experience_detail,:cols => 27, :rows => 5,:class => 'admission1-textarea' %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_total-experience"><%= t('total_exp') %></label>
        <div class="text-input-bg"><%= select :employee, :experience_year, (0..20),{:prompt=>"#{t('year')}"} %>
          <%= select :employee, :experience_month, (0..11),{:prompt=>"#{t('month')}"} %></div>
      </div>
      <hr class="label-underline"></hr>

      <br/>
      <span class="span-sub-heading"><%= t('personal_details') %></span>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label for="employee_martial_status"><%= t('marital_status') %></label>
        <div class="text-input-bg"><%= select :employee, :marital_status, [["#{t('single')}","single"], ["#{t('married')}","married"],["#{t('divorced')}","divorced"]], {}, {:onchange=>"hide_or_show_fields(this.value)"} %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair hide-on-single">
        <label for="children_count"><%= t('no_of_children') %></label>
        <div class="text-input-bg"><%= a.text_field :children_count %></div>
      </div>
      <hr class="label-underline hide-on-single"></hr>
      <div class="label-field-pair">
        <label for="employee_father"><%= t('father_name') %></label>
        <div class="text-input-bg"><%= a.text_field :father_name %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_mother"><%= t('mother_name') %></label>
        <div class="text-input-bg"><%= a.text_field :mother_name %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair hide-on-single">
        <label for="employee_spouse"><%= t('spouse_name') %></label>
        <div class="text-input-bg"><%= a.text_field :husband_name %></div>
      </div>


<!--
      <hr class="label-underline hide-on-single"></hr>
      <div class="label-field-pair">
        <label for="employee_blood"><%= t('blood_group') %></label>
        <div class="text-input-bg"><%= select :employee, :blood_group, ["#{t('unknown')}","A+", "A-", "B+", "B-", "O+", "O-", "AB+", "AB-"] %></div>
      </div>
      <hr class="label-underline"></hr>
-->



      <div class="label-field-pair">
        <label for="employee_nationality"><%= t('nationality') %></label>
        <div class="text-input-bg"><%= select :employee, :nationality_id, @nationalities.map {|c| [c.name, c.id]}, :selected => @employee.nationality_id || @selected_value %></div>
      </div>
      <hr class="label-underline"></hr>




      <script>
        (function($){$.fn.filestyle=function(options){var settings={width:250};if(options){$.extend(settings,options);};return this.each(function(){var self=this;var wrapper=$("<div>").css({"width":settings.imagewidth+"px","height":settings.imageheight+"px","background":"url("+settings.image+") 0 0 no-repeat","background-position":"right","display":"inline","position":"absolute","overflow":"hidden"});var filename=$('<input class="file">').addClass($(self).attr("class")).css({"display":"inline","width":settings.width+"px"});$(self).before(filename);$(self).wrap(wrapper);$(self).css({"position":"relative","height":settings.imageheight+"px","width":settings.width+"px","display":"inline","cursor":"pointer","opacity":"0.0"});if($.browser.mozilla){if(/Win/.test(navigator.platform)){$(self).css("margin-left","-142px");}else{$(self).css("margin-left","-168px");};}else{$(self).css("margin-left",settings.imagewidth-settings.width+"px");};$(self).bind("change",function(){filename.val($(self).val());});});};})(jQuery);
      </script>

      <div class="label-field-pair">
        <label for="master_student_image_file"><%= t('upload_photo') %> (<%= t('max_size') %>)</label>
        <div class="text-input-bg"><%= a.file_field :photo, :size=>12 %></div>

      </div>



   </div>
    <%= submit_tag "► #{t('save_and_proceed')}", :class => "submit_button" %>
  <% end %>

</div>

<% content_for :head do %>
  <script type="text/javascript">
    document.observe("dom:loaded", function() {
      hide_or_show_fields('single');
    });
    function hide_or_show_fields(value){
      if(value == 'single'){
        $$('.hide-on-single').each(function (elem){
          elem.hide();
        });
      }
      else{
        $$('.hide-on-single').each(function (elem){
          elem.show();
        });
      }
    }

  </script>
<% end %>
