<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= t('employee_text') %></h1>
  <h3><%= t('advanced_search_text') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <div id="search-form">
    <% form_for @search do |f| %>
      <div class="label-field-pair">
        <label for="name"><%= t('name') %></label>
        <div class="text-input-bg">
          <%= f.text_field :first_name_or_middle_name_or_last_name_like %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('employee_number') %></label>
        <div class="text-input-bg">
          <%= f.text_field :employee_number_equals %>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_student" ><%= t('gender') %></label>
        <div class="student_gender_value">
          <label class="label_for_gender" ><%= t('all') %></label>
          <%= f.radio_button  :gender_equals, "" %>
          <label class="label_for_gender" ><%= t('male') %></label>
          <%= f.radio_button  :gender_equals, "m"%>
          <label class="label_for_gender" ><%= t('female') %></label>
          <%= f.radio_button  :gender_equals, "f" %>
        </div>
      </div>
      
      <div class="label-field-pair" hidden="hidden">
        <label for="student_admission_no"><%= t('blood_group') %></label>
        <div class="text-input-bg">
          <%= select :search, :blood_group_like, ["A+", "A-", "B+", "B-", "O+", "O-", "AB+", "AB-"],{:prompt=>"#{t('select')}"}%>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('marital_status') %></label>
        <div class="text-input-bg">
          <%= select :search, :marital_status_like, [["#{t('single')}","single"], ["#{t('married')}","married"],["#{t('divorced')}","divorced"]],{:prompt=>"#{t('select')}"}%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('country') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :nationality_id_equals, Country.all,:id,:name,{:prompt=>"#{t('select')}"}%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('category') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_category_id_equals, EmployeeCategory.all, :id, :name, {:prompt=>"#{t('select')}"} %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('department') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_department_id_equals, EmployeeDepartment.all, :id, :name, {:prompt=>"#{t('select')}"} %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('position') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_position_id_equals, EmployeePosition.all, :id, :name, {:prompt=>"#{t('select')}"}%>
        </div>
      </div>
      
      <div class="label-field-pair" hidden="hidden">
        <label for="student_admission_no"><%= t('grade') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_grade_id_equals, EmployeeGrade.all, :id, :name,{:prompt=>"#{t('select')}"} %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('joining_date') %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :adv_search,:doj_option,[["#{t('equal_to')}","equal_to"],["#{t('less_than')}","less_than"],["#{t('greater_than')}","greater_than"]],{:prompt=>"#{t('choose_your_option')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_doj_year"},
            :with=>"'doj_option='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}
        %>
          <div id="doj_year">
            <%= select :adv_search,:doj_year,[],{:prompt=>"#{t('select')}"} %>
          </div>
          <div id="doj_year_hidden"></div>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('date_of_birth') %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :adv_search,:dob_option,[["#{t('equal_to')}","equal_to"],["#{t('less_than')}","less_than"],["#{t('greater_than')}","greater_than"]],{:prompt=>"#{t('choose_your_option')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_dob_year"},
            :with=>"'dob_option='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}
          %>
          <div id="dob_year">
            <%= select :adv_search,:dob_year,[],{:prompt=>"#{t('select')}"} %>
          </div>
          <div id="dob_year_hidden"></div>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_student" for="student_gender"><%= t('status') %></label>
        <div class="student_gender_value">
          <label class="label_for_gender" for="student_gender_true"><%= t('present') %></label>
          <%= f.radio_button  :status_equals, "true", {:checked => false } %>
          <label class="label_for_gender" for="student_gender_false"><%= t('former') %></label>
          <%= f.radio_button  :status_equals, "false" %>
          <label class="label_for_gender" for="student_gender_false">All</label>
          <%= f.radio_button  :status_equals, "", {:checked => 'checked'} %>
        </div>
      </div>


      <%= f.submit  "#{t('search_text')}", :class=>'submit' %>
    <% end %>
  </div>



  <% unless @employees1.nil? %>
    <% if @sort_order=="first_name-ascend" %>
      <% @employees1= @employees1.to_a.sort_by{|s| s.first_name} %>
    <% elsif @sort_order=="first_name-descend" %>
      <% @employees1= @employees1.to_a.sort_by{|s| s.first_name}.reverse %>
    <% end %>
    <script type="text/javascript">
      Event.observe(window, 'load', function() { $('search-form').hide(); });
    </script>
    <div id="search-result">

      <p><%= t('searched_for') %>:</p>
      <div class="search-again">
  <%#= link_to_function '► Search again' do |page|
  page.visual_effect :toggle_slide, "search-form"
  page.hide "search-result"
  end %>
        <% searched_for = "#{t('listed_by')}" %>

        <% searched_for += "#{t('name')}: " + params[:search][:first_name_or_middle_name_or_last_name_like].to_s unless params[:search][:first_name_or_middle_name_or_last_name_like].empty? %>
        <% searched_for += "#{t('employee_number')}: " + params[:search][:employee_number_equals].to_s unless params[:search][:employee_number_equals].empty? %>
        <% searched_for += " #{t('employee_department')}: " + EmployeeDepartment.find(params[:search][:employee_department_id_equals]).name.to_s unless params[:search][:employee_department_id_equals].empty? %>
        <% searched_for += " #{t('employee_category')}: " + EmployeeCategory.find(params[:search][:employee_category_id_equals]).name.to_s unless params[:search][:employee_category_id_equals].empty? %>
        <% searched_for += " #{t('employee_position')}: " + EmployeePosition.find(params[:search][:employee_position_id_equals]).name.to_s unless params[:search][:employee_position_id_equals].empty? %>
        <% searched_for += " #{t('employee_grade')}: " + EmployeeGrade.find(params[:search][:employee_grade_id_equals]).name.to_s unless params[:search][:employee_grade_id_equals].empty? %>
        <% unless  params[:search][:gender_equals].empty? %>
          <% if  params[:search][:gender_equals] == 'm' %>
            <% searched_for += " #{t('gender')}: #{t('male')}" %>
          <% elsif  params[:search][:gender_equals] == 'f' %>
            <% searched_for += " #{t('gender')}: #{t('female')}" %>
          <% else %>
            <% searched_for += " #{t('gender')}: #{t('all')}" %>
          <% end %>
        <% end %>
        <% searched_for += " #{t('blood_group')}: " + params[:search][:blood_group_like].to_s unless params[:search][:blood_group_like].empty? %>
        <% searched_for += " #{t('marital_status')}: " + params[:search][:marital_status_like].to_s unless params[:search][:marital_status_like].empty? %>
        <% searched_for += " #{t('nationality')}: " + Country.find(params[:search][:nationality_id_equals]).name.to_s unless params[:search][:nationality_id_equals].empty? %>
        <% searched_for += " #{t('year_of_join')}: " +  params[:adv_search][:doj_option].to_s + params[:adv_search][:joining_date_year].to_s unless  params[:adv_search][:doj_option].empty? %>
        <% searched_for += " #{t('year_of_birth')}: " +  params[:adv_search][:dob_option].to_s + params[:adv_search][:birth_date_year].to_s unless  params[:adv_search][:dob_option].empty? %>
        <% if params[:search][:status_equals]=="true" %>
          <% searched_for += " #{t('present_employee')}" %>
        <% elsif params[:search][:status_equals]=="false" %>
          <% searched_for += " #{t('former_employee')}" %>
        <% else %>
          <% searched_for += " #{t('all_employee')}" %>
        <% end %>


        <%= link_to "► #{t('search_again')}", {:action=>"advanced_search"}, :class => "user_button" %>
        <% unless @employees1.empty? %>
          <%= link_to "► #{t('pdf_report')}",   {:action => "advanced_search_pdf",:for =>searched_for, :result2=>@employees2 , :result =>@employees1,:status=>params[:search][:status_equals], :format => 'pdf', :page_height=>1200}, :target => '_blank', :class => "user_button" %>
        <% end %>
      </div>
      <div class="extender"></div>

      <div class="searched_for themed_text">
        <% unless params[:search][:first_name_or_middle_name_or_last_name_like].empty? %>
          <% searched_for = params[:search][:first_name_or_middle_name_or_last_name_like] %>
          <span><%= t('name') %>:</span> <%= params[:search][:first_name_or_middle_name_or_last_name_like] %>
        <% end %>
        <% unless  params[:search][:employee_number_equals].empty? %>
          <span><%= t('employee_number') %>:</span> <%= params[:search][:employee_number_equals] %>
        <% end %>
        <% unless params[:search][:employee_department_id_equals].empty? %>
          <% dept = EmployeeDepartment.find(params[:search][:employee_department_id_equals]) %>
          <span><%= t('employee_department') %>:</span> <%= dept.name %>
        <% end %>
        <% unless  params[:search][:employee_category_id_equals].empty? %>
          <% category = EmployeeCategory.find(params[:search][:employee_category_id_equals]) %>
          <span> <%= t('employee_category') %>: </span> <%= category.name %>
        <% end %>
        <% unless  params[:search][:employee_position_id_equals].empty? %>
          <% position = EmployeePosition.find(params[:search][:employee_position_id_equals]) %>
          <span><%= t('employee_position') %>: </span> <%= position.name %>
        <% end %>
        
        <% unless  params[:search][:employee_grade_id_equals].empty? %>
          <% grade = EmployeeGrade.find(params[:search][:employee_grade_id_equals]) %>
          <span> <%= t('employee_grade') %>: </span> <%= grade.name %>
        <% end %>
        
        <% unless  params[:search][:gender_equals].empty? %>
          <% if  params[:search][:gender_equals] == 'm' %>
            <span><%= t('gender') %>: </span> <%= t('male') %>
          <% elsif  params[:search][:gender_equals] == 'f' %>
            <span> <%= t('gender') %>: </span><%= t('female') %>
          <% else %>
            <span><%= t('gender') %>: </span> <%= t('all') %>
          <% end %>
        <% end %>
        <% unless  params[:search][:blood_group_like].empty? %>
          <span> <%= t('blood_group') %>:</span> <%= params[:search][:blood_group_like] %>
        <% end %>
        <% unless  params[:search][:marital_status_like].empty? %>
          <span><%= t('marital_status') %>:</span> <%= params[:search][:marital_status_like] %>
        <% end %>
        <% unless  params[:search][:nationality_id_equals].empty? %>
          <% nationality = Country.find(params[:search][:nationality_id_equals]) %>
          <span><%= t('nationality') %>: </span> <%= nationality.name %>
        <% end %>
        <% unless  params[:adv_search][:doj_option].empty? %>
          <span><%= t('year_of_join') %>: </span> <%= params[:adv_search][:doj_option] %>

          <%= params[:adv_search][:joining_date_year] %>
        <% end %>
        <% unless  params[:adv_search][:dob_option].empty? %>
          <span><%= t('year_of_birth') %>: </span> <%= params[:adv_search][:dob_option] %>

          <%= params[:adv_search][:birth_date_year] %>
        <% end %>
        <% if params[:search][:status_equals]=="true" %>
          <span> <%= t('present_employee') %> </span>
        <% elsif params[:search][:status_equals]=="false" %>
          <span> <%= t('former_employee') %> </span>
        <% else %>
          <span><%= t('all') %></span>
        <% end %>

      </div>


      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <% unless @employees1.empty? and @employees2.empty? %>
          <tr class="tr-head">
            <td>
              <%= t('sl_no') %>
            </td>
            <td>
              <% if @sort_order=="first_name-ascend" %>
                <%= link_to  "#{t('first_name')}&nbsp;▲", {:action=>"advanced_search", :search=>params[:search], :adv_search=>params[:adv_search],:sort_order=>"first_name-descend"} %>
              <% elsif @sort_order=="first_name-descend" %>
                <%= link_to  "#{t('first_name')}&nbsp;▼", {:action=>"advanced_search", :search=>params[:search], :adv_search=>params[:adv_search],:sort_order=>"first_name-ascend"} %>
              <% else %>
                <%= link_to  "#{t('first_name')}", {:action=>"advanced_search", :search=>params[:search], :adv_search=>params[:adv_search],:sort_order=>"first_name-ascend"} %>
              <% end %>
            </td>
            <td>
              <%= t('employee_id') %>
            </td>
            <td>
              <%= t('employee_department') %>
            </td>
          </tr>
          <tr class="tr-blank"></tr>

          <% @employees1.each_with_index do |emp1, i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <% if params[:search][:status_equals]=="false" %>
                <td class="col-4"><%=  link_to emp1.first_name + ' ' + emp1.last_name, :controller => 'archived_employee', :action => 'profile', :id => emp1.id%></td>
              <% else %>
                <td class="col-4"><%=  link_to emp1.first_name + ' ' + emp1.last_name, :controller => 'employee', :action => 'profile', :id => emp1.id%></td>
              <% end %>
              <td class="col-3"><%= emp1.employee_number %></td>
              <td class="col-4"><%= emp1.employee_department.name %></td>

            <% end %>
            <% unless @employees2.nil? %>
              <% k = @employees1.size %>
              <% @employees2.each do |emp2| %>
              <tr class="tr-<%= cycle('odd', 'even') %>">
                <td class="col-1"><%= k+= 1  %></td>
                <td class="col-4"><%=  link_to emp2.first_name + ' ' + emp2.last_name, :controller => 'archived_employee', :action => 'profile', :id => emp2.id%></td>
                <td class="col-3"><%= emp2.employee_number %></td>
                <td class="col-4"><%= emp2.employee_department.name %></td>
              <% end %>
            <% end  %>
          </tr>
        <% else %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= t('no_employee_found') %></td>
          </tr>
        <% end %>
      </table>
      <div class="extender">




      </div>
    </div>
  <% end %>
</div>