<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<script src="/javascripts/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery-ui.min.js" type="text/javascript"></script>

<script>
  $jq = jQuery.noConflict()
  $jq(document).ready(function() {
    $jq("#employee_joining_date").datepicker({dateFormat: 'yy-mm-dd'});
    $jq("#employee_date_of_birth").datepicker({dateFormat: 'yy-mm-dd'});
  });
</script>

<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= t('edit_employee_information') %></h1>
  <h3><%= t('general') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>



  <% form_for :employee,:id => @employee.id do |a| %>
    <%= error_messages_for  'employee' %>

    <div id="admission1_form">

      <div id="necessary-field-notification"> <%= t('legend1') %>  <span class="necessary-field">*</span><%= t('legend2') %></div>
      <span class="span-sub-heading"><%= t('general_details') %></span>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label for="employee_id"><%= t('employee_number') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= a.text_field :employee_number, :value => @employee.employee_number %></div>
      </div>
      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_joining_date"><%= t('joining_date') %></label>
        <div class="text-input-bg"><%= calendar_date_select_tag 'employee[joining_date]', I18n.l(@employee.joining_date,:format=>:default),:popup => "force" ,
            :year_range => 25.years.ago..0.years.from_now %></div>
      </div>
      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_name"><%= t('first_name') %> <span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= a.text_field :first_name, :value => @employee.first_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_name"><%= t('middle_name') %></label>
        <div class="text-input-bg"><%= a.text_field :middle_name, :value => @employee.middle_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_name"><%= t('last_name') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= a.text_field :last_name, :value => @employee.last_name %></div>
      </div>



 

      <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Interview Date"><%= "Interview Date" %> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'employee[interview_date]',
              I18n.l(@employee.interview_date,:format=>:default) , :year_range => 72.years.ago..0.years.ago,:popup=>"force" %>
          </div>
        </div>

      <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Identity card number"><%= "Identity Card" %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg"><%= a.text_field :identitycard_num, :value => @employee.identitycard_num %></div>
        </div>

<!--        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Month basic salary"><%= "Monthly Basic Salary" %> </label>
          <div class="text-input-bg"><%= a.text_field :mbs, :value => @employee.mbs %></div>
        </div>
-->

      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="epf"><%= t('epf') %> </label>
        <div class="text-input-bg"><%= a.text_field :epf, :value => @employee.epf %></div>
      </div>

      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="socso"><%= t('socso') %> </label>
        <div class="text-input-bg"><%= a.text_field :socso, :value => @employee.socso %></div>
      </div>
      
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="income_tax"><%= t('income_tax') %> </label>
        <div class="text-input-bg"><%= a.text_field :income_tax, :value => @employee.income_tax %></div>
      </div>  


      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label><%= t('email') %></label>
        <div class="text-input-bg"><%= a.text_field :email %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_department"><%= t('department') %> <span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= select :employee, :employee_department_id, @departments.map {|s| [s.name, s.id]}, :value => @employee.employee_department_id %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_category"><%= t('category') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= select :employee, :employee_category_id, @categories.map { |s| [s.name, s.id] },
            {:prompt => "#{t('select')}"},
            {:onChange => "#{remote_function(:url => {:action => "update_positions"}, :with => "'category_id='+value")}"}%></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_position"><%= t('position') %> <span class="necessary-field">*</span></label>
        <div class="text-input-bg"><div id="positions1"> <%= render :partial => 'positions', :object => @positions %> </div></div>
      </div>
<!--
      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_grade"><%= t('grade') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= select :employee, :employee_grade_id, @grades.map {|s| [s.name, s.id]}, :value => @employee.employee_grade_id %></div>
      </div>
      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="employee_job_title"><%= t('job_title') %></label>
        <div class="text-input-bg"><%= a.text_field :job_title, :value => @employee.job_title %></div>
      </div>
      <hr class="label-underline"></hr>
-->
      <div class="label-field-pair">
        <label for="employee_qualification"><%= t('qualification') %></label>
        <div class="text-input-bg"><%= a.text_field :qualification, :value => @employee.qualification %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair-text-area">
        <label for="employee_experience"><%= t('exp_info') %></label>
        <div class="textarea-input-bg"><%= a.text_area :experience_detail,:cols => 27, :rows => 5,:class => 'admission1-textarea' %></div>
      </div>
      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="employee_total-experience"><%= t('total_exp') %></label>
        <div class="text-input-bg"><%= select :employee, :experience_year, (0..20),{:prompt=>"#{t('year')}"} %>
          <%= select :employee, :experience_month, (0..11),{:prompt=>"#{t('month')}"} %></div>
      </div>
      <hr class="label-underline"></hr>

      <div class="label_field_pair">
        <label class="label_for_employee_gender" for="master_student_gender"><%= t('gender') %></label>
        <div class="employee_gender_value">
          <label class="label_for_gender" for="master_student_gender_true"><%= t('male') %></label>
          <%= a.radio_button  "gender", "m", :checked => "checked" %>

          <label class="label_for_gender" for="master_student_gender_false"><%= t('female') %></label>
          <%= a.radio_button  "gender", "f" %>
        </div>
      </div>
      <hr class="label-underline"></hr>


      

    </div>
    <%= submit_tag "► #{ t('update')}", :class => "submit_button" %>
  <% end %>
</div>

