<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= "Personal References" %></h1>
  <h3><%= "Edit Personal Reference Details" %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <% form_for :personal_reference do |s| %>
  <%= error_messages_for 'personal_reference' %>
    <div id="admission1_form">



      <div class="label-field-pair">
        <label for="Employee Number"><%= "Employee Number" %></label>
        <div class="text_display"><%= @employee.employee_number %></div>
        <%= s.hidden_field :emp_num, :value => @employee.id %>
      </div>
      <br/>
      <span class="span-sub-heading"><%= "Personal Reference Details" %></span>
      <hr class="sub-heading"></hr>

      <div class="label-field-pair">
        <label for="name"><%= "Name" %> <span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= s.text_field :name, :value => @pref.name %></div>
      </div>

      <div class="label-field-pair">
        <label for="telephone_no"><%= "Tel No" %> <span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= s.text_field :telephone_no, :value => @pref.telephone_no %></div>
      </div>

      <div class="label-field-pair">
        <label for="relationship"><%= "Relationship" %> <span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= s.text_field :relationship, :value => @pref.relationship %></div>
      </div>
      
	<div class="label-field-pair">
        <label for="company"><%= "Company" %></label>
        <div class="text-input-bg"><%= s.text_field :company, :value => @pref.company %></div>
      </div>

      <div class="label-field-pair">
        <label for="position"><%= "Position" %></label>
        <div class="text-input-bg"><%= s.text_field :position, :value => @pref.position %></div>
      </div>




    </div>

    <div class="extender">
    </div>

    <%= submit_tag "",  :name => "commit", :class => "submit_button3", :value => "► #{t('update')}" %>



  <% end %>

</div>
