<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= "#{t('hr_management')}" %></h1>
  <h3><%= t('human_resource') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="box">
    <% if permitted_to? :settings, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('setting')}", :controller=>"employee", :action=>"settings"%></div>
        <div class="link-descr"><%= "#{t('hr_setting')}" %>.</div>
      </div>
    <%end%>

    <% if permitted_to? :employee_management, :employee %>
<!--      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('employee_management_text')}", :controller=>"employee", :action=>"employee_management"%></div>
        <div class="link-descr"><%= "#{t('manage_all_employee')}" %></div>
      </div>
      -->
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('employee_admission')}", :controller=>"employee", :action=>"admission1" %></div>
        <div class="link-descr"><%= t('employee_admission_form') %></div>
      </div>
    <%end%>

    <% if permitted_to? :employee_attendance, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('employee_leave_management')}", :controller=>"employee", :action=>"employee_attendance" %></div>
        <div class="link-descr"><%= "#{t('manage_all_employee_attendance_and_leave')}" %></div>
      </div>
    <%end%>

    <% if permitted_to? :payslip, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to  "#{t('create_payslip')}", :controller=>"employee", :action=>"payslip" %></div>
        <div class="link-descr"><%= "#{t('create_employee_monthly_payslip')}" %></div>
      </div>
    <%end%>

    <% if permitted_to? :search, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('employee_search')}", :controller=>"employee", :action=>"search" %></div>
        <div class="link-descr"><%= "#{t('search_for_employees')}" %></div>
      </div>
    <%end%>
    <% if permitted_to? :department_payslip, :employee %>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('employee_payslip')}", :controller=>"employee", :action=>"department_payslip" %></div>
      <div class="link-descr"><%= "#{t('view_department_wise_payslip')}" %></div>
    </div>
    <% end %>
    <% finance = Configuration.available_modules %>
    <% unless finance.include?("Finance") %>
      <% if permitted_to? :payslip_approve, :employee %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "#{t('one_click_aprove_payslip')}", :controller=>"employee", :action=>"payslip_approve" %></div>
          <div class="link-descr"><%= "#{t('aprove_monthly_payslip')}" %> </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
