<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= t('employee_search') %></h1>
  <h3><%= t('employee_details') %></h3>
  <div id="app-back-button">
  <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('view_all')}", :controller=>"employee", :action=>"view_all" %></li>
    <li><%= link_to "#{t('advanced')}", :controller=>"employee", :action=>"advanced_search"%></li>
  </ul>

</div>

<div id="page-yield">
    <div id="search_box_bg">
      <div id="form-content">
      <form name="employee" action="" style="display:inline;">
        <label for="name">
          <%= t('search_text') %>
          <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style => "display: none;" ) %>
        </label>
        <div id="search_textbox">
          <%= text_field_tag("query", params['query'], :autocomplete => 'off') %><br/>
        </div>
      </form>
      </div>
<!--        <div class="advanced_options">
        <div class="advanced-options-select"><%= select :employee, :department_id, @departments.map {|s| [s.name, s.id]}, :prompt => "#{t('select_department')}" %></div>
        <div class="advanced-options-select"><%= select :employee, :category_id,   @categories.map {|s| [s.name, s.id]},  :prompt => "#{t('select_category')}" %></div>
        <div class="advanced-options-select"><%= select :employee, :position_id,   @positions.map {|s| [s.name, s.id]},   :prompt => "#{t('select_position')}" %></div>
        <div class="advanced-options-select"><%= select :employee, :grade_id,      @grades.map {|s| [s.name, s.id]},      :prompt => "#{t('select_grade')}" %></div>
        <div class="extender"></div>
        </div>-->
    </div>



    <%#= observe_fields ['query', 'employee_department_id','employee_category_id', 'employee_position_id', 'employee_grade_id'],
         :frequency => 0.1,
         :update => 'information',
         :before => "Element.show('loader')",
         :success => "Element.hide('loader')",
         :url => {:action => 'search_ajax'} %>


  <script type="text/javascript">
    function search_ajax(){
 if ($('query').value.include("%")) return;
<%="#{remote_function(:url => {:action => "search_ajax"},
:with =>  "'query='+ $('query').value + '&employee_department_id='+$('employee_department_id').value + '&employee_category_id='+$('employee_category_id').value + '&employee_position_id='+$('employee_position_id').value + '&employee_grade_id='+$('employee_grade_id').value",
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:update=>"information"
)}"%>
  }

  document.observe("dom:loaded", function() {
    new Form.Element.Observer('query', 1, search_ajax);
    new Form.Element.Observer('employee_department_id', 0.1, search_ajax);
    new Form.Element.Observer('employee_category_id', 0.1, search_ajax);
    new Form.Element.Observer('employee_position_id', 0.1, search_ajax);
    new Form.Element.Observer('employee_grade_id', 0.1, search_ajax);
  });

  </script>
  <div class="extender"></div>


    <div id="information"></div>

</div>