<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= t('setting') %></h1>
  <h3><%= "#{t('hr_setting')}" %></h3>
  <div id="app-back-button">
     <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div id="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('add_employee_category')}", :controller=>"employee", :action=>"add_category" %></div>
      <div class="link-descr"><%= "#{t('add_edit_employee_category')}" %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('add_employee_position')}", :controller=>"employee", :action=>"add_position"%></div>
      <div class="link-descr"><%= "#{t('add_edit_employee_position')}" %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('add_employee_department')}", :controller=>"employee", :action=>"add_department"%></div>
      <div class="link-descr"><%= "#{t('add_edit_employee_department')}" %></div>
    </div>
<!--
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('add_employee_grade')}", :controller=>"employee", :action=>"add_grade"%></div>
      <div class="link-descr"><%= "#{t('add_edit_employee_grade')}" %></div>
    </div>
-->
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('add_payroll_category')}", :controller=>"payroll", :action=>"add_category"%></div>
      <div class="link-descr"><%= "#{t('add_edit_employee_payroll_category')}" %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('add_bank_detail')}", :controller=>"employee", :action=>"add_bank_details"%></div>
      <div class="link-descr"><%= "#{t('add_edit_bank_detail')} " %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('add_additional_detail')}", :controller=>"employee", :action=>"add_additional_details"%></div>
      <div class="link-descr"><%= "#{t('add_edit_additional_detail')}" %></div>
    </div>

   <!-- <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('payslip_settings')}", :controller=>"employee", :action=>""%></div>
      <div class="link-descr">Creates payslip approve power for finance manager.</div>
    </div>
  </div> -->
   <div class="extender"></div>
  </div>
</div>
