<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<label for="student_course"><%= t('course_text') %><%= image_tag("loader.gif",
    :align => "absmiddle",
    :border => 0,
    :id => "loader",
    :style =>"display: none;" ) %>
</label> 
  
        <div class="text-input-bg">
          <%= select :advv_search, :course_id, @courses.map{|c| [c.course_name+" "+c.section_name, c.id]},
            {:prompt=>"#{t('select_a_course')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_batches"},
            :with => "'course_id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}%>
        </div>  
