
<div class="students-table">
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('sl_no') %></td>
      <td><%= t('name') %></td>
      <td><%= t('tel_no') %></td>
      <td><%= t('total_fee') %></td>      
      <td><%= t('reg') %></td>
      <td><%= t('1st') %></td>
      <td><%= t('2nd') %></td>
      <td><%= t('3rd') %></td>
      <td><%= t('4th') %></td>
      <td><%= t('5th') %></td>
      <td><%= t('remarks') %></td>      

      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% @students.each_with_index do |r, i| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        
        <td class="col-1">
          <%= i+1 %>
        </td>

        <td class="col-2">
          <%= link_to r.full_name,:controller => "student", :action => "profile", :id => r.id %>
        </td>

        <td class="col-1">
          <%= r.phone2 %>
        </td>

        <td class="col-1">
          <%= r.fees %>
        </td>

        <td class="col-1">
          <%= r.reg %>
        </td>

        <td class="col-1">
          <%= r.first %>
        </td>                

        <td class="col-1">
          <%= r.second %>
        </td>

        <td class="col-1">
          <%= r.third %>
        </td>

        <td class="col-1">
          <%= r.fourth %>
        </td>

        <td class="col-1">
          <%= r.fifth %>
        </td>

        <td class="col-1">
          <%= r.remarks %>
        </td>

        <td class="col-1">
        <%= link_to_remote t('edit_text'), :url => {:action => 'students_fee_edit', :id => r.id} %>
        <%# unless f.check_fee_category == false %>
        <%#= link_to_remote t('delete_text'), :url => {:action => 'fee_collection_delete', :id => r.id} %>
        <%# end %>
      </td>

      </tr>
    <% end %>
  </table>
</div>
