
<label class="head_label"><%= t('students_fee_edit') %> <span></span></label>
<% form_remote_for :student_students_fee,
  :url => {:action => 'students_fee_update', :id => @student.id} do |f| %>
<div id="form-errors"></div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('full_name') %></label></div>
      <div class="input-container"><span><%= @f.full_name %><span></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('tel_no') %></label></div>
      <div class="input-container"><span><%= @f.phone2 %><span></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('total_fee') %></label></div>
      <div class="input-container"><span><%= @f.fees %><span></div>
    </div>    
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('reg') %></label></div>
      <div class="input-container"> <%= f.text_field :reg %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('first') %></label></div>
      <div class="input-container"> <%= f.text_field :first %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('second') %></label></div>
      <div class="input-container"> <%= f.text_field :second %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('third') %></label></div>
      <div class="input-container"> <%= f.text_field :third %></div>
    </div>        
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('fourth') %></label></div>
      <div class="input-container"> <%= f.text_field :fourth %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('fifth') %></label></div>
      <div class="input-container"> <%= f.text_field :fifth %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('remarks') %></label></div>
      <div class="input-container"> <%= f.text_field :remarks %></div>
    </div>

   <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>
  <% end %>