<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.
-%>


<div class="students-table">
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><h5>No</h5></td>
      <td><h5><%= t('name') %></h5></td>
      <td><h5><%= t('phone2') %></h5></td>
      <td><h5><%= t('total') %></h5></td>
      <td><h5><%= t('reg') %></h5></td>
      <td><h5><%= t('date_of_payment') %></h5></td>
      <td><h5><%= t('1st') %></h5></td>
      <td><h5><%= t('date_of_payment') %></h5></td>
      <td><h5><%= t('2nd') %></h5></td>
      <td><h5><%= t('date_of_payment') %></h5></td>
      <td><h5><%= t('3rd') %></h5></td>
      <td><h5><%= t('date_of_payment') %></h5></td>
      <td><h5><%= t('4th') %></h5></td>
      <td><h5><%= t('date_of_payment') %></h5></td>
      <td><h5><%= t('5th') %></h5></td>
      <td><h5><%= t('date_of_payment') %></h5></td>
      <td><h5><%= t('remarks') %></h5></td>
      <td><h5><%= t('full_payment_settled') %></h5></td>
      <td><h5><%= t('operations') %></h5></td>      
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% @students.each_with_index do |r, i| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1">
          <%= i+1 %>
        </td>

        <td class="col-1">
          <h5><%= link_to r.full_name, :controller => "student", :action => "profile", :id => r.id %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.phone2 %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.fees %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.reg %></h5>
        </td>
        
        <td class="col-1">
          <h5><%= r.reg_date %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.first %></h5>
        </td>
        
        <td class="col-1">
          <h5><%= r.first_date %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.second %></h5>
        </td>
        
        <td class="col-1">
          <h5><%= r.second_date %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.third %></h5>
        </td>
        
        <td class="col-1">
          <h5><%= r.third_date %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.fourth %></h5>
        </td>
        
        <td class="col-1">
          <h5><%= r.fourth_date %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.fifth %></h5>
        </td>
        
        <td class="col-1">
          <h5><%= r.fifth_date %></h5>
        </td>

        <td class="col-1">
          <h5><%= r.remarks %></h5>
        </td>
      
        <td class="col-1">
        <h5><% if r.fee_paid == true %>
            Yes
        <% else %>
            No
        <% end %></h5>
        </td>

        <td class="col-1">
          <h5><%=  link_to  "#{t('edit_profile')}", :controller => "student", :action => "edit_fee", :id => r.id %></h5>
        </td>
      </tr>
    <% end %>
  </table>
</div>
