<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= image_tag("/images/admission/admission_page_logo.jpg") %>
  <h1><%= t('admission') %></h1>
  <h3><%=  t('student_detail_step1') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% if @config.config_value == '0' %>
    <% if @last_admitted_student.nil? %>
      <p class="flash-msg"><%= t('no_admission_notice') %></p>
    <% else %>
      <p class="flash-msg"><%= t('admission_no_of_last_stud') %> <%= @last_admitted_student.admission_no %> </p>
    <% end %>
  <% end %>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for(@student, :url => {:action=> 'admission1'}, :html=> {:multipart=>true}) do |s| %>
    <%= error_messages_for 'student', :header_message => nil %>

    <div id="admission1_form">

      <div id="necessary-field-notification"> <%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %></div>

      <div id="autofill-area">

        <div class="student_admission_date">
          <label for="student_admission_no"><%= t('admission_number') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg-admission">
            <% unless @config.config_value == '0' or @last_admitted_student.nil? %>
              <%= s.text_field :admission_no , :value=> @last_admitted_student.admission_no.next%>
            <% else %>
              <%= s.text_field :admission_no %>
            <% end %>
          </div>
        </div>

        <div class="student_admission_date">
          <label for="student_admission_date"><%= t('admission_date') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg-admission">
            <%= calendar_date_select_tag 'student[admission_date]', I18n.l(Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>

      </div>

      <span class="span-sub-heading"><%= t('personal_details') %></span>
      <hr class="sub-heading"></hr>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('first_name') %><span class="necessary-field">*</span> </label>
        <div class="text-input-bg"><%= s.text_field :first_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('middle_name') %></label>
        <div class="text-input-bg"><%= s.text_field :middle_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('last_name') %></label>
        <div class="text-input-bg"><%= s.text_field :last_name %></div>
      </div>

      <hr class="label-underline"></hr>

      <div id="admission1_form_vertical_block_left">

        <div class="label-field-pair">
          <label for="student_grade"><%= t('course_and_batch') %></label>
          <div class="text-input-bg"><%= select :student, :batch_id, Batch.active.map {|b| [b.full_name, b.id]} %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_date_of_birth"><%= t('date_of_birth') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[date_of_birth]',
              I18n.l(Date.today-5.years,:format=>:default) , :year_range => 72.years.ago..0.years.ago,:popup=>"force" %>
          </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label_field_pair">
          <label class="label_for_student_gender" for="student_gender"><%= t('gender') %></label>
          <div class="student_gender_value">
            <label class="label_for_gender" for="student_gender_true"> <%= t('male') %></label>
            <%= s.radio_button  "gender", "m", :checked => "checked" %>
            <label class="label_for_gender" for="student_gender_false"><%= t('female') %></label>
            <%= s.radio_button  "gender", "f" %>
          </div>
        </div>


        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Registration Date"><%= "Registration Date" %> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[registration_date]',
              I18n.l(Date.today-5.years,:format=>:default) , :year_range => 72.years.ago..0.years.ago,:popup=>"force" %>
          </div>
        </div>


        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Orientation Date"><%= "Orientation Date" %></label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[orientation_date]',
              I18n.l(Date.today-5.years,:format=>:default) , :year_range => 72.years.ago..0.years.ago,:popup=>"force" %>
          </div>
        </div>



        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Identity card number"><%= "Identity Card" %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg"><%= s.text_field :identitycard_num %></div>
        </div>




        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Race"><%= "Race" %> </label>
          <div class="text-input-bg"><%= s.text_field :race %></div>
        </div>


        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Weight"><%= "Weight" %></label>
          <div class="text-input-bg"><%= s.text_field :weight %></div>
        </div>



        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Height"><%= "Height" %></label>
          <div class="text-input-bg"><%= s.text_field :height %></div>
        </div>

        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Marital Status"><%= "Marital Status" %></label>
          <div class="text-input-bg"><%= select :student, :marital_status, ["Single", "Married", "Divorced", "Widowed"],{:prompt=> "#{t('unknown')}"} %></div>
        </div>

        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="Occupation"><%= "Occupation" %></label>
          <div class="text-input-bg"><%= s.text_field :occupation %></div>
        </div>


        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_birth_place"><%= t('birth_place') %></label>
          <div class="text-input-bg"><%= s.text_field :birth_place %></div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_nationality"><%= t("nationality") %></label>
          <div class="text-input-bg">
            <%= select :student, :nationality_id, Country.all.map {|c| [c.name, c.id]}, :selected=> @student.nationality_id || @selected_value.to_i %>
          </div>
        </div>



     <!--   <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_birth_place"><%= t("mother_tongue") %></label>
          <div class="text-input-bg"><%= s.text_field :language %></div>
        </div>

     -->



<!--        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_category"><%= t('category') %></label>
          <div class="text-input-bg"><%= s.select :student_category_id, @categories.map {|c| [c.name, c.id]}, { :prompt => "#{t('select_a_category')}" } %></div>
        </div>
-->
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_religion"><%= t('religion') %></label>
          <div class="text-input-bg"><%= s.text_field :religion %></div>
        </div>
        
        <hr class="label-underline"></hr>

        <div class="label_field_pair">
          <label class="label_for_student_gender" for="student_gender"><%= t('health_condition') %></label>
          <div class="student_gender_value">
            <label class="label_for_gender" for="student_gender_true"> <%= t('good') %></label>
            <%= s.radio_button  "health_condition", "Good", :checked => "checked" %>
            <label class="label_for_gender" for="student_gender_false"><%= t('others') %></label>
            <%= s.radio_button  "health_condition", "Others" %>
          </div>
        </div>
        
        <hr class="label-underline"></hr>
          <div class="label-field-pair">
            <label for="hostel"><%= t('do_you_need_a_hostel') %></label>
            <div class="text-input-bg"><%= s.check_box :hostel %></div>
          </div>        

      </div>

      <div id="admission1_form_vertical_block_right">
        <span class="span-sub-heading"><%= t('contact_details') %></span>
        <hr class="sub-heading"></hr>
        <div class="label-field-pair">
          <label for="student_city"><%= t('address_line') %>1</label>
          <div class="text-input-bg"><%= s.text_field :address_line1 %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_city"><%= t('address_line') %>2</label>
          <div class="text-input-bg"><%= s.text_field :address_line2 %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_city"><%= t('city') %></label>
          <div class="text-input-bg"><%= s.text_field :city %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_state"><%= t('state') %></label>
          <div class="text-input-bg"><%= s.text_field :state %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_pin_code"><%= t('zip') %></label>
          <div class="text-input-bg"><%= s.text_field :pin_code %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_country"><%= t('country') %></label>
          <div class="text-input-bg"> <%= select :student, :country_id, Country.all.map {|c| [c.name, c.id]}, :selected=> @student.country_id || @selected_value.to_i %> </div>
        </div>

        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_phone1"><%= t('phone') %></label>
          <div class="text-input-bg"><%= s.text_field :phone1 %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_phone2"><%= t('mobile') %></label>
          <div class="text-input-bg"><%= s.text_field :phone2 %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_email"><%= t('email') %></label>
          <div class="text-input-bg"><%= s.text_field :email %></div>
        </div>
<!--        
        <% if @application_sms_enabled.is_enabled == true %>
          <hr class="label-underline"></hr>
          <div class="label-field-pair">
            <label for="student_sms"><%= t('enable_sms_feature') %></label>
            <div class="text-input-bg"><%= s.check_box :is_sms_enabled %></div>
          </div>
        <% end %>
        -->
        </br>
        <div id="admission1_form_vertical_block_right">
        <span class="span-sub-heading"><%= t('secondary_school') %></span>
        <hr class="sub-heading"></hr>
        <div class="label-field-pair">
          <label for="student_city"><%= t('credits') %></label>
          <div class="text-input-bg"><%= s.text_field :credits %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_city"><%= t('passes') %></label>
          <div class="text-input-bg"><%= s.text_field :passes %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_city"><%= t('bm') %></label>
          <div class="text-input-bg"><%= s.text_field :bm %></div>
        </div>
        <hr class="label-underline"></hr>

        <div class="label-field-pair">
          <label for="student_state"><%= t('bi') %></label>
          <div class="text-input-bg"><%= s.text_field :bi %></div>
        </div>
        
        <br/>
        <script>
          (function($){$.fn.filestyle=function(options){var settings={width:250};if(options){$.extend(settings,options);};return this.each(function(){var self=this;var wrapper=$("<div>").css({"width":settings.imagewidth+"px","height":settings.imageheight+"px","background":"url("+settings.image+") 0 0 no-repeat","background-position":"right","display":"inline","position":"absolute","overflow":"hidden"});var filename=$('<input class="file">').addClass($(self).attr("class")).css({"display":"inline","width":settings.width+"px"});$(self).before(filename);$(self).wrap(wrapper);$(self).css({"position":"relative","height":settings.imageheight+"px","width":settings.width+"px","display":"inline","cursor":"pointer","opacity":"0.0"});if($.browser.mozilla){if(/Win/.test(navigator.platform)){$(self).css("margin-left","-142px");}else{$(self).css("margin-left","-168px");};}else{$(self).css("margin-left",settings.imagewidth-settings.width+"px");};$(self).bind("change",function(){filename.val($(self).val());});});};})(jQuery);
        </script>
        <span class="span-sub-heading"><%= t('upload_photo') %></span>
        <hr class="sub-heading"></hr>
        <div class="label-field-pair">
          <label for="student_image_file"><%= t('upload_photo') %> (<%= t('max_size') %>)</label>
          <div class="text-input-bg"><%= s.file_field :photo, :size=>12 %></div>

        </div>
      </div>
      <div class="extender">

      </div>
    </div>

    <%= submit_tag "", :value => "► #{t('save_and_proceed')}", :class => "submit_button" %>
  <% end %>

</div>
