<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.
-%>


<div id="content-header">
<%= image_tag("/images/admission/admission_page_logo.jpg") %>
  <h1><%= t('admission') %></h1>
  <h3><%= t('emergency_contact_step3') %></h3>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <p class="flash-msg"><%= t('select_one_of_the_guardians') %></p>

  <% form_for :immediate_contact do |f| %>
    <ul id="parents-list">
      <%- @parents.each do |p| -%>
        <li class="list<%=cycle('odd', 'even')%>">
          <% if p.is_immediate_contact? %>
            <%= f.radio_button "contact", p.id, {:checked => 'checked'} %> <%= p.full_name %>
          <% else %>
            <%= f.radio_button "contact",p.id, :checked => 'checked'%> <%= p.full_name %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div id="submit-button"><%= submit_tag "" , :value => "► #{t('finish')}", :id => 'finish-button' %></div>
  <% end %>
</div>