<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1><%= t('student_text') %></h1>
  <h3><%= t('advanced_search_text') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <div class="show-msg"><div class="flash-msg"><%= flash[:notice] %></div> </div>
  <% end %>
  <div id="search-form">
    <% form_for @search do |f| %>
      <div class="label-field-pair">
        <label for="name"><%= t('name') %></label>
        <div class="text-input-bg">
          <%= f.text_field :first_name_or_middle_name_or_last_name_like %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('admission_number') %></label>
        <div class="text-input-bg">
          <%= f.text_field :admission_no_equals %>
        </div>
      </div>
  
      <div class="label-field-pair">
        <label for="branch"><%= "Branch" %>
        <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader1",
            :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :advv_search, :branch_name, ['Kuala Lumpur', 'Penang', 'Johor'],
            {:prompt=>"Select a branch"},
            {:onChange => "#{remote_function(:url => {:action => "list_courses"},
            :with => "'branch_name='+value",
            :before => "Element.show('loader1')",
            :success => "Element.hide('loader1')"
            )}"}%>
        </div>
       </div>  

      <div class="label-field-pair" id="coursses">
        <label for="student_course"><%= t('course_text') %><%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %></label>
        <div class="text-input-bg">
          <%= select :advv_search, :course_id, Course.active.map{|c| [c.course_name+" "+c.section_name, c.id]},
            {:prompt=>"#{t('select_a_course')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_batches"},
            :with => "'course_id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}%>
        </div>
      </div>
      <div class="label-field-pair" id="course_batches">
        <label for="student_batch"><%= t('batch') %></label>
        <div class="text-input-bg" >
          <%= select :search,:batch_id_equals, @batches.map{|c| [c.name, c.id]},{:prompt=>"#{t('select_batch')}"}%>
        </div>
      </div>
      <div class="label-field-pair" hidden="hidden" >
        <label for="student_category"><%= t('category') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :student_category_id_equals,StudentCategory.active,:id,:name,{:prompt=>"#{t('select_category')}"}%>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_student" for="student_gender"><%= t('gender') %></label>
        <div class="student_gender_value">
          <%= f.radio_button  :gender_equals, "" %>
          <label class="label_for_gender" for="student_gender_true"><%= t('all') %></label>
          <%= f.radio_button  :gender_equals, "m"%>
          <label class="label_for_gender" for="student_gender_false"><%= t('male') %></label>
          <%= f.radio_button  :gender_equals, "f" %>
          <label class="label_for_gender" for="student_gender_false"><%= t('female') %></label>
        </div>
      </div>
	
      <div class="label-field-pair">
       <label for="student_credits"><%= t('credits') %></label>
       <div class="text-input-bg">
         <%= select :search, :credits_like, options_for_select(1..10), {:prompt=>"#{t('select')}"}, html_options={:style=>"width:80px"} %>
       </div>
      </div>
      
      <div class="label-field-pair">
       <label for="student_passes"><%= t('passes') %></label>
       <div class="text-input-bg">
         <%= select :search, :passes_like, options_for_select(1..10), {:prompt=>"#{t('select')}"}, html_options={:style=>"width:80px"} %>
       </div>
      </div>

      <div class="label-field-pair">
       <label for="student_bm"><%= t('bm') %></label>
       <div class="text-input-bg">
         <%= select :search, :bm_like, options_for_select(["A+","A","A-","B+","B","C+","C","D","E","G"]), {:prompt=>"#{t('select')}"}, html_options={:style=>"width:80px"} %>
       </div>
      </div>
      
      <div class="label-field-pair">
       <label for="student_bi"><%= t('bi') %></label>
       <div class="text-input-bg">
         <%= select :search, :bi_like, options_for_select(["A+","A","A-","B+","B","C+","C","D","E","G"]), {:prompt=>"#{t('select')}"}, html_options={:style=>"width:80px"} %>
       </div>
      </div>
      

	  <div class="label-field-pair">
       <label for="student_height"><%= t('height') %></label>
       <div class="text-input-bg">
         <%= select :search, :height_like, options_for_select((140..200).step(0.1).map{ |n| n % 1 == 0 ? n.to_i : n }), {:prompt=>"#{t('select')}"}, html_options={:style=>"width:80px"} %>
       </div>
      </div>  

      <div class="label-field-pair">
        <label for="student_country">
          <%= t('country') %>
        </label>
        <div class="text-input-bg">
          <%= f.collection_select :nationality_id_equals, Country.all,:id,:name,{:prompt=>"#{t('select')}"}%>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_grade"><%= t('admission_date') %></label>
        <div class="text-input-bg">
          <%= select :advv_search,:doa_option,[["#{t('equal_to')}","Equal to"],["#{t('less_than')}","Less than"],["#{t('greater_than')}","Greater than"]],{:prompt=>"#{t('option')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_doa_year"},
            :with=>"'doa_option='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}
        %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
          <div id="doa_year">
            <%= select :advv_search,:doa_year,[],{:prompt=>"#{t('select')}"} %>
          </div>
          <div id="doa_year_hidden"></div>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_birth_date"><%= t('birth_date') %></label>
        <div class="text-input-bg">
          <%= select :advv_search,:dob_option,[["#{t('equal_to')}","Equal to"],["#{t('less_than')}","Less than"],["#{t('greater_than')}","Greater than"]],{:prompt=>"#{t('option')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_dob_year"},
            :with=>"'dob_option='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')",
            :class=>'small-box'
            )}"}
        %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
          <div id="dob_year">
            <%= select :advv_search,:dob_year,[],{:prompt=>"#{t('select')}"} %>
          </div>
          <div id="dob_year_hidden"></div>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_student" for="student_gender"><%= t('status') %></label>
        <div class="student_gender_value">
          <%= f.radio_button  :is_active_equals, "true", {:checked => 'checked'} %>
          <label class="label_for_gender" for="student_gender_true"><%= t('present') %></label>
          <%= f.radio_button  :is_active_equals, "false" %>
          <label class="label_for_gender" for="student_gender_false"><%= t('former') %></label>
          <%= f.radio_button  :is_active_equals, "", {:checked => false} %>
          <label class="label_for_gender" for="student_gender_false"><%= t('all') %></label>

        </div>
      </div>


      <%= f.submit "#{t('search_text')}", :class=>'submit' %>
    <% end %>
  </div>
  <% unless @students.nil? %>
    <% @students= @students.to_a.sort_by{|s| s.first_name} %>
    <script type="text/javascript">
      Event.observe(window, 'load', function() { $('search-form').hide(); });
    </script>
    <div id="search-result">

      <p><%= t('searched_for') %></p>
      <div class="search-again">
  <%#= link_to_function '► Search again' do |page|
  page.visual_effect :toggle_slide, "search-form"
  page.hide "search-result"
  end %>

        <%= link_to "►#{t('search_again')}", {:action=>"advanced_search"}, :class => 'user_button'%>
<!--        
        <% unless @students.empty? %>
          <%= link_to "► #{t('view')} #{t('pdf_report')}",   {:action => "advanced_search_pdf", :search=> params[:search],:advv_search=>params[:advv_search],:adv_search=>params[:adv_search]}, :target => '_blank' , :class=> 'user_button' %>
        <% end %>
        -->
      </div>
      <div class="extender"></div>
      <div class="searched_for themed_text">
        <%= @searched_for %>
      </div>


      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <% unless @students.empty? %>
          <tr class="tr-head">
            <td>
              <%= t('sl_no') %>
            </td>
            <td>
              <%= t('first_name') %>
            </td>
            <td><%= t('batch') %></td>
            <td><%= t('adm_no') %></td>

          </tr>
          <tr class="tr-blank"></tr>
          <% @students.each_with_index do |student, i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <%  if  student.is_active %>
                <td class="col-2"><%=  link_to student.full_name, :controller => 'student', :action => 'profile', :id => student.id%></td>
              <% else  %>
                <td class="col-2"><%=  link_to student.full_name, :controller => 'archived_student', :action => 'profile', :id => student.id%></td>
              <% end %>
              <td class="col-2"><%= student.batch.full_name %></td>
              <td class="col-2"><%= student.admission_no %></td>
            </tr>
          <% end %>
        <% else %>

          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= t('no_students_found') %></td>
          </tr>
        <% end %>
      </table>

      <div class="extender">




      </div>
    </div>
  <% end %>

</div>
