<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.
-%>


<div id="content-header">
<%= image_tag("/images/show_finance.png") %>
  <h1><%= t('fees_text') %></h1>
  <h3><%= t('manage_fees') %></h3>
  <div id="app-back-button">
      <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for :student, :url => {:action => 'edit_fee'}, :html => {:multipart => true} do |s| %>
    <%= error_messages_for 'student' %>

        <div class="extender"></div>

      </div>

        <span class="span-sub-heading"><%= t('fee_details') %></span>
        <hr class="sub-heading"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= t('first_name') %></label>
        <div class="text-input-bg" ><%= s.text_field :first_name, :class => 'text_field', :disabled => true %> </div>
      </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_fees"><%= t('total_fee') %></label>
          <div class="text-input-bg"><%= s.text_field :fees %></div>
        </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_reg"><%= t('registration_payment') %></label>
          <div class="text-input-bg"><%= s.text_field :reg %></div>
        </div>
        
        <div class="label-field-pair">
          <label for="reg_date"><%= t('date_of_payment') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[reg_date]', I18n.l(Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_first"><%= t('first_payment') %></label>
          <div class="text-input-bg"><%= s.text_field :first %></div>
        </div>
        <div class="label-field-pair">
          <label for="reg_date"><%= t('date_of_payment') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[first_date]', I18n.l(Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_second"><%= t('second_payment') %></label>
          <div class="text-input-bg"><%= s.text_field :second %></div>
        </div>
        <div class="label-field-pair">
          <label for="reg_date"><%= t('date_of_payment') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[second_date]', I18n.l(Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_third"><%= t('third_payment') %></label>
          <div class="text-input-bg"><%= s.text_field :third %></div>
        </div>
        <div class="label-field-pair">
          <label for="reg_date"><%= t('date_of_payment') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[third_date]', I18n.l(Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_fourth"><%= t('fourth_payment') %></label>
          <div class="text-input-bg"><%= s.text_field :fourth %></div>
        </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="reg_date"><%= t('date_of_payment') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[fourth_date]', I18n.l(Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_fifth"><%= t('fifth_payment') %></label>
          <div class="text-input-bg"><%= s.text_field :fifth %></div>
        </div>
        <div class="label-field-pair">
          <label for="reg_date"><%= t('date_of_payment') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[fifth_date]', I18n.l(Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>
        <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="student_remarks"><%= t('remarks') %></label>
          <div class="text-input-bg"><%= s.text_field :remarks %></div>
        </div>
        <hr class="label-underline"></hr>
          <div class="label-field-pair">
            <label for="fee_paid" style="color: red"><%= t('has_paid_all_the_fees') %></label>
            <div class="text-input-bg"><%= s.check_box :fee_paid %></div>
          </div>
       <div class="extender"></div>
    </div>

    <%= submit_tag "", :class => "submit_button", :value => "► #{t('update')}" %>
  <% end %>

</div>
