<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.

-%>


<div id="content-header">
<%= image_tag("/images/show_finance.png") %>
  <h1><%= t('hostel_text') %></h1>
  <h3><%= t('manage_hostel') %></h3>
  <div id="app-back-button">
      <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for :student, :url => {:action => 'edit_hostel'}, :html => {:multipart => true} do |s| %>
    <%= error_messages_for 'student' %>

        <div class="extender"></div>

      </div>

        <span class="span-sub-heading"><%= t('student_details') %></span>
        <hr class="sub-heading"></hr>

      <div class="label-field-pair">
        <label for="master_student_first_name"><%= t('first_name') %></label>
        <div class="text-input-bg" ><%= s.text_field :first_name, :class => 'text_field', :disabled => true %> </div>
      </div>
      <hr class="label-underline"></hr>
        <div class="label-field-pair">
          <label for="move_in_date"><%= t('move_in_date') %> <span class="necessary-field">*</span> </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'student[hostel_move_in]', I18n.l(Date.today,:format=>:default),
              :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
          </div>
        </div>
        <hr class="label-underline"></hr>
          <div class="label-field-pair">
            <label for="hostel" style="color: red"><%= t('hostel_text') %></label>
            <div class="text-input-bg"><%= s.check_box :hostel %></div>
          </div>
       <div class="extender"></div>
    </div>

    <%= submit_tag "", :class => "submit_button", :value => "► #{t('update')}" %>
  <% end %>

</div>
