
<html>
<head>
    <link rel="stylesheet" type="text/css" href="<%= "#{RAILS_ROOT}/public/stylesheets/student/fac_pdf.css"%>" media="all" />
</head>
<body   style="margin: 0; padding: 0; "> 


<div id="fl">
   <% if @formdetails['letterhead']=="a" %>
      <!--<div id="page-background" ><%= image_tag  "#{RAILS_ROOT}/public/letterheads/Letterhead_KL.jpg"%>	</div>-->
      <div id="space_a">
   <% else %>
      <!--<div id="page-background" ><%= image_tag  "#{RAILS_ROOT}/public/letterheads/Letterhead_PG.tif" %>	</div>-->
       <div id="space_b">
   <% end %>




	<table class="table_a" width= "100%">
		<tr  align="left"><td><%= @student.identitycard_num  unless @student.identitycard_num.nil? %>&nbsp;</td> </tr>
		<tr  align="left"><td><%= @student.full_name  unless @student.full_name.nil? %>&nbsp;</td></tr>
		<tr  align="left"><td><%= @student.address_line1   unless @student.address_line1.nil? %>&nbsp; </td></tr>
		<tr  align="left"><td><%= @student.address_line2 unless @student.address_line2.nil? %>&nbsp; </td></tr>
		<tr  align="left"><td><%= @student.pin_code unless @student.pin_code.nil? %>&nbsp; </td></tr>
		<tr  align="left"><td><%= @student.city  unless @student.city.nil?  %>&nbsp;</td></tr>

		<tr><td align="left" width="60%" ><%= @student.state + "&nbsp;" unless @student.state.nil? %></td>
		    <td align="right" width="40%"><%= I18n.l(@student.admission_date,:format=>:interexcel) unless @student.admission_date.nil? %> </td>
		</tr>
	</table>
         
           <br><br>
           <br><br>
           <br><br>

 	   <div class="cgnormal" >Dear Student,</div>

           <br><br>
           <br><br>
 	   <div class="cgbold" >LETTER OF ACCEPTANCE FOR <%= @course.course_name.upcase%> &copy;</div>

           <br><br>

<div class="cgnormal" align="justify">
Congratulations! Welcome to Inter-Excel, the gateway to airlines career! It's our pleasure to inform
that you have been provisionally accepted for Inter-Excel's <%= @course.course_name.split.map(&:capitalize).join(' ')%>
commencing  <div class="cgbold_inline" ><%=I18n.l(@csdate.to_date,:format=>:interexcel) %>. </div>
</div>

           <br><br>

<div class="cgnormal" align="justify">
To complete the admission process, please kindly note that you are required to report on the
orientation day as per appended below:
</div>

           <br><br>

<table class="table_b" width= "100%">
<tr  align="left">
<td width= "30%">Orientation Date:</td><td><%= I18n.l(@formdetails['orientation_date'].to_date,:format=>:interexcel2)+" ("+ @formdetails['orientation_date'].to_date.strftime('%A') + ")"  unless @formdetails['orientation_date'].nil? %> &nbsp; </td>
</tr>
<tr  align="left">
<td width= "30%">Time:</td><td><%= @formdetails['time']  unless @formdetails['time'].nil? %>&nbsp; </td>
</tr>
<tr  align="left">
<td width= "30%">Commencement Date:</td><td><%= I18n.l(@formdetails['orientation_date'].to_date,:format=>:interexcel2)+" ("+ @formdetails['orientation_date'].to_date.strftime('%A') + ")"  unless @formdetails['orientation_date'].nil? %> &nbsp; </td>
</tr>
<tr  align="left">
<td width= "30%">Class Time:</td><td><%= @formdetails['classtime'] unless @formdetails['classtime'].nil? %>&nbsp;  </td>
</tr>
<tr  align="left">
<td width= "30%">Programme Duration:</td><td><%= @formdetails['progduration'] unless @formdetails['progduration'].nil? %>&nbsp;  </td>
</tr>
<tr  align="left">
<td valign="top" width= "30%">Venue:</td><td><%=  @formdetails['venue']  unless @formdetails['venue'].nil?  %>&nbsp; </td>
</tr>
<tr  align="left">
<td width= "30%">Course Fees:</td><td><%=  @formdetails['coursefee']  unless @formdetails['coursefee'].nil?  %> (Payable before or on the course commencement date)</td>
</tr>
<tr  align="left">
<td valign="top" width= "30%">Attire:</td><td>Formal Wear (Female - Office blouse & Knee length skirt / Male - Long- sleeve shirts & Black pants)
</td>
</tr>
<tr  align="left">
<td valign="top" width= "30%">
Required Documents:<br>
(If haven't submitted)</td><td>
1. Photocopy of Identity Card/Passport<br>
2. Three Passport-sized Photos<br>
3. Photocopy SPM/High School Certificate<br>
</td>
</tr>
</table>


<br><br>
<div class="cgnormal" align="justify">
Please be informed that any request for postponement of joining should be made no less than 30
days in advance from the initial course commencement date.
</div>
<br><br>
<div class="cgnormal" align="justify">
If you have any further queries, please contact our friendly counsellors at 018-354 5550 / 018-226
6100.
</div>
<br><br>
<div class="cgnormal">
Thank You.
<br><br>
Yours truly,
</div>

<div class="senormal"><u>Chong</u></div>
<p class="cgnormal_inline">Madam Chong Siew Fong<br>Director<br>Inter-Excel Advisory Sdn. Bhd.</p>
	</div>
<div>

</body>
</html>
