<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= image_tag("/images/pdf-icon.png") %>
  <h1><%= "FAC Letter" %></h1>
  <h3><%= "Generate FAC Letter" %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <% form_for :fac_form_details do |s| %>
  <%= error_messages_for 'fac_form_details' %>
    <div id="admission1_form">


      <div id="autofill-area">

        <div class="student_admission_date">
          <label for="student_admission_no"><%= "Student Name" %>  </label>
        <div class="text_display"><%= @student.full_name %></div>
          <div class="text-input-bg-admission">
        <%= s.hidden_field :studid, :value => @student.id %>
          </div>
        </div>

        <div class="student_admission_date">
          <label for="student_admission_date"><%= "Admission Date" %> </label>
        <div class="text_display"><%=I18n.l(@student.admission_date,:format=>:normal)%></div>
        </div>

      </div>


      <span class="span-sub-heading"><%= "FAC Letter Details" %></span>

      <hr class="sub-heading"></hr>
        <div class="label-field-pair">
          <label for="Orientation Date"><%= "Orientation Date" %></label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'fac_form_details[orientation_date]',
              I18n.l(@student.orientation_date,:format=>:normal) , :year_range => 15.years.ago..5.years.from_now,:readonly=>true,:popup=>"force" %>
          </div>
        </div>

      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="time"><%= "Time" %>  </label>
        <div class="text-input-bg"><%= s.text_field :time, :value => '12:00 P.M.' %></div>
      </div>


      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="time"><%= "Class Time" %>  </label>
        <div class="text-input-bg"><%= s.text_field :classtime, :value => '2:30 P.M.' %></div>
      </div>

      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="Programme Duration"><%= "Programme Duration" %>  </label>
        <div class="text-input-bg"><%= s.text_field :progduration, :value => '3 Months' %></div>
      </div>



      <hr class="label-underline"></hr>
      <div class="label-field-pair">
        <label for="Course Fee"><%= "Course Fees" %>  </label>
        <div class="text-input-bg"><%= s.text_field :coursefee, :value => 'RM 5,000' %></div>
      </div>


      <hr class="label-underline"></hr>
       <div class="label-field-pair-text-area">
        <label for="Venue"><%= "Venue" %></label>
        <div class="textarea-input-bg"><%= s.text_area :venue, :value => "WISMA PERKESO (Heritage Building), 269, Jalan Burma, 10538 
Georgetown, Penang." ,:cols => 23, :rows => 4,:class => 'admission1-textarea' %>
        </div>
      </div>




        <hr class="label-underline"></hr>
        <div class="label_field_pair">
          <label class="label_for_student_gender" for="student_gender"><%= "Letter Head" %></label>
          <div class="student_gender_value">
            <label class="label_for_gender" for="student_gender_true"> <%= "Advisory" %></label>
            <%= s.radio_button  "letterhead", "a", :checked => "checked" %>
            <label class="label_for_gender" for="student_gender_false"><%= "Tourism Academy" %></label>
            <%= s.radio_button  "letterhead", "t" %>
          </div>
        </div>

        </div>

    </div>

    <div class="extender"></div>
    <%= submit_tag "",  :name => "commit", :class => "submit_button3", :value => "► Generate FAC Letter" %>


  <% end %>

</div>
