<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= image_tag("/images/admission/admission_page_logo.jpg") %>
  <h1><%= t('admission') %></h1>
  <h3><%= t('edit_previous_details') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('profile_text')}", :action=>:profile, :id=>@student.id %> </li>
  </ul>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <%= error_messages_for 'previous_data' %>

  <% form_for :previous_data do |a| %>
  <%= error_messages_for 'previous_data' %>

   <span class="span-sub-heading"><%= t('previous_educational_details') %></span>
    <hr class="sub-heading"></hr>
    <div id="form-contents">
      <%= a.hidden_field :student_id, :value => @student.id %>
      <div class="label-field-pair">
        <label><%= t('secondary_school') %></label>
        <div class="text-input-bg"><%= a.text_field :institution %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('qualification') %></label>
        <div class="text-input-bg"><%= a.text_field :course %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('year_completed') %></label>
        <div class="text-input-bg"><%= a.text_field :year %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('result') %></label>
        <div class="text-input-bg"><%= a.text_field :total_mark %></div>
        <div class="extender"></div>
      </div>
      
      <br>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label><%= t('college / university') %></label>
        <div class="text-input-bg"><%= a.text_field :college %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('qualification') %></label>
        <div class="text-input-bg"><%= a.text_field :college_course %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('year_completed') %></label>
        <div class="text-input-bg"><%= a.text_field :college_year %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('result') %></label>
        <div class="text-input-bg"><%= a.text_field :college_total_mark %></div>
        <div class="extender"></div>
      </div>
      
      </br>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label><%= t('college / university') %></label>
        <div class="text-input-bg"><%= a.text_field :college2 %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('qualification') %></label>
        <div class="text-input-bg"><%= a.text_field :college2_course %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('year_completed') %></label>
        <div class="text-input-bg"><%= a.text_field :college2_year %></div>
        <div class="extender"></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('result') %></label>
        <div class="text-input-bg"><%= a.text_field :college2_total_mark %></div>
        <div class="extender"></div>
      </div>
      
      </br>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label><%= t('other_courses') %></label>
        <div class="text-input-bg"><%= a.text_field :other_courses %></div>
        <div class="extender"></div>
      </div>
      
      </br>
      <hr class="sub-heading"></hr>
      <div class="label-field-pair">
        <label><%= t('language_proficiency') %></label>
        <div class="text-input-bg">
         1.<%= a.text_field :language1 %></br>
         2.<%= a.text_field :language2 %></br>
         3.<%= a.text_field :language3 %>
        </div>
        <div class="extender"></div>
      </div>
      
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      
      <div class="save-proceed-button">

        <%= submit_tag "►#{t('update')}" %>

      </div>
    </div>
  <% end %>
<!--  <div class="ajax-subject">
    <ul id="added-subjects">
      <%  unless @previous_subject.nil? %>
        <% @previous_subject.each  do |p| %>

          <li><div><span class="name"><%= p.subject %></span>
            <span class="val"><span>:</span><%= p.mark %></span>
            <span class="delete"><%= link_to_remote image_tag("/images/buttons/delete-new.png", :border => 0),
                :url => {:action => "delete_previous_subject", :id => p.id},

                :update => "added_subjects"%></span></div></li>

        <% end %>
      <% end %>
    </ul>
    <%= link_to_remote "#{t('add_subject')}", :url=>{:controller=>"student",:action=>"previous_subject", :id=>@student.id}%>
    <div id="subject">

    </div>
  </div>-->
</div>


