<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <img src="/images/student_details/student_details_logo.jpg" />
  <h1><%= t('student_info') %></h1>
  <h3><%= t('student_profile') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<% if @access=="denied" %>

 <p class="flash-msg"> <%= "You're not authorized to access that page"%> </p> 

<% else %>

<div id="nav">
  <ul>
<!--    <% if permitted_to? :reports,:student %>
      <li><%= link_to "#{t('reports_text')}", :controller => 'student',
          :action => 'reports', :id => @student %></li>
    <%end%>
    -->
    <% if permitted_to? :fees, :student%>
        <li><%= link_to "#{t('fees_text')}", :controller => 'student',:action => 'edit_fee', :id => @student.id %></li>
    <% end %>

    <% if permitted_to? :guardians,:student %>
      <li><%= link_to "#{t('guardians_text')}", :controller => "student",
          :action => "guardians", :id => @student.id %></li>
    <% end %>
    
    <% if permitted_to? :fees, :student%>
        <li><%= link_to "#{t('hostel_text')}", :controller => 'student',:action => 'edit_hostel', :id => @student.id %></li>
    <% end %>
    
    <% if permitted_to? :email,:student %>
      <% @config = Configuration.find_by_config_key('NetworkState').config_value %>
      <% if @config == 'Online'  %>
        <li><%= link_to "#{t('send_email')}", :controller => "student",
            :action => "email", :id => @student.id %></li>
      <%  end %>
    <%  end %>
    
    <!--added by roshan-->
    <% if permitted_to? :admission1, :student %>
      <li><%= link_to "FAC Letter", :controller => 'student',
          :action => 'fac_form', :id => @student.id %></li>
    <% end %>
    
    <% if permitted_to? :remove, :student or permitted_to? :admission1, :student %>
      <li><%= link_to "#{t('delete_text')}", :controller => 'student',
          :action => 'remove', :id => @student.id %></li>
    <% end %>
    

    
<!--    <li>
      <a href="#" class="drops" id="link_one"><%= t('more') %> &#9660;</a>
      <ul id="box_one" class="scriptaculously" style="display:none;">
        <% if @sms_module.include?('Finance') and permitted_to? :fees, :student%>
          <li><%= link_to "#{t('fees_text')}", :controller => 'student',:action => 'fees', :id => @student.id %></li>
        <% end %>

          <li><%= link_to "FAC Letter", :controller => 'student',:action => 'fac_form', :id => @student.id %></li>

        <% FedenaPlugin::ADDITIONAL_LINKS[:student_profile_more_menu].each do |mod| %>
          <% if permitted_to? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym  %>
            <li><%= link_to "#{t(mod[:title])}",mod[:destination].merge(:id=>@student.id) %></li>
          <% end %>
        <% end %>
      </ul>
    </li>-->
  </ul>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="student_profile_heading">

    <div id="profile_picture_display">
      <% if @student.photo.file? %>
        <%= image_tag @student.photo.url %>
      <% else %>
        <%= image_tag "master_student/profile/default_student.png" %>
      <% end %>
    </div>

    <div id ="student_main_info">
      <h3> <%= @student.full_name %>  </h3>
      <h4> <%= t('course_text') %>: <%= @student.batch.course.full_name %> </h4>
      <h4> <%= t('batch') %> : <%= @student.batch.name %> </h4>
      <h4> <%= t('adm_no') %> : <%= @student.admission_no %> </h4>
    </div>

    <div class="extender"> </div>

  </div>

  <div id="new_profile_info_top">
    <div class="profile_top_banner">
      <span class="profile"><%= t('details') %></span>
      <div class="profile-topbanner"></div>
    </div>
    <table width="700">




      <tr class="even left"><td><%= t('admission_date') %></td><td class="right"><%= I18n.l(@student.admission_date,:format=>:normal) unless @student.admission_date.nil? %></td></tr>
      <tr class="odd left"><td><%= t('date_of_birth') %></td><td class="right"><%= I18n.l(@student.date_of_birth,:format=>:normal) unless @student.date_of_birth.nil? %></td></tr>

      <tr class="even left"><td><%= "Registration Date" %></td><td class="right"><%= @student.registration_date %></td></tr>
      <tr class="odd left"><td><%= "Orientation Date" %></td><td class="right"><%= @student.orientation_date %></td></tr>
      <tr class="even left"><td><%= "Identity Card" %></td><td class="right"><%= @student.identitycard_num %></td></tr>
      <tr class="odd left"><td><%= "Race" %></td><td class="right"><%= @student.race %></td></tr>
      <tr class="even left"><td><%= "Weight" %></td><td class="right"><%= @student.weight %></td></tr>
      <tr class="odd left"><td><%= "Height" %></td><td class="right"><%= @student.height %></td></tr>
      <tr class="odd left"><td><%= "Marital Status" %></td><td class="right"><%= @student.marital_status %></td></tr>
      <tr class="even left"><td><%= "Occupation" %></td><td class="right"><%= @student.occupation %></td></tr>

      <tr class="odd left"><td><%= t('gender') %></td><td class="right"><%= t("#{@student.gender_as_text.downcase}") %></td></tr>

      <tr class="even left"><td><%= t('nationality') %></td><td class="right"><%= @student.nationality.name unless @student.nationality_id.nil? %></td></tr>

      <!--<tr class="odd left"><td><%= t('category') %></td><td class="right"><%= @student.student_category.name unless @student.student_category.nil? %></td></tr>-->
      <tr class="odd left"><td><%= t('religion') %></td><td class="right"><%= @student.religion %></td></tr>
      <tr class="even left"><td><%= t('health_condition') %></td><td class="right"><%= @student.health_condition %></td></tr>
      <tr class="odd left"><td><%= t('address') %></td><td class="right"><%= @student.address_line1%><%= ', ' unless @student.address_line1.blank? %><%=  @student.address_line2 %></td></tr>
<%#*<tr class="even left"><td></td><td class="right"><%= @student.address_line2%>
      <tr class="even left"><td><%= t('city') %></td><td class="right"><%= @student.city %></td></tr>
      <tr class="odd left"><td><%= t('state') %></td><td class="right"><%= @student.state %></td></tr>
      <tr class="even left"><td><%= t('zip') %></td><td class="right"><%= @student.pin_code %></td></tr>
      <tr class="odd left"><td><%= t('country') %></td><td class="right"><%= @student.country.name unless @student.country_id.nil? %></td></tr>
      <tr class="even left"><td><%= t('phone') %></td><td class="right"><%= @student.phone1 %></td></tr>
      <tr class="odd left"><td><%= t('mobile') %></td><td class="right"><%= @student.phone2 %></td></tr>
      <tr class="even left"><td><%= t('email') %></td><td class="right"><%= @student.email %></td></tr>
<!--
      <% unless @student.batch.employee_id.nil? %>
        <% @assigned_employees = Employee.find(:all,:conditions=>"FIND_IN_SET(id,\"#{@student.batch.employee_id}\")")  %>
        <tr class="even left"><td><%= t('group_tutor') %>(s) :</td><td class="right">
            <% @tutors = @assigned_employees.map{|e| e.full_name} %>
            <% @tutor_ids = @assigned_employees.map{|e| e.user.id} %>
            <%= link_to @tutors.join(", "),:controller=>'reminder',:action=>'create_reminder',:send_to=>@tutor_ids.join(",")  %>
          </td></tr>

      <% end  %>
  -->    
      <% FedenaPlugin::REGISTERED_HOOKS[:student_profile].each do |mod| %>
        <%= render :partial=>mod.camelize.constantize.send("student_profile_hook"),:locals=>{:student=>@student} %>
      <% end %>
      <% if @sms_setting.application_sms_active %>
        <tr class="odd left"><td><%= t('sms_alerts') %></td><td class="right"><%= @student.is_sms_enabled?? "Enabled":"Disabled" %></td></tr>
      <% end  %>
      <tr class="even left"><td><%= t('contact_message') %></td><td class="right">
          <%= link_to @immediate_contact.full_name, :controller => "student", :action => "guardians", :id => @student.id \
            unless @immediate_contact.nil? %><%= "(" + @immediate_contact.mobile_phone + ")" if @immediate_contact and !@immediate_contact.mobile_phone.empty? %>
          <% if @current_user.admin? %>
            <% unless @immediate_contact.nil? %>
              <span>(<%= link_to "#{t('change_contact')}", :controller => 'student', :action => 'admission3_1', :id => @student.id %>)</span>
            <%else%>
              <% if permitted_to? :add_guardian,:student %>
                <span>
                  <%= t('no_guardian') %>(<%= link_to "#{t('add_guardian')}",:controller => 'student',:action => 'add_guardian', :id => @student.id %> / <%= link_to "#{t('choose_from_existing')}",:controller => 'student',:action => 'admission3_1', :id => @student.id %>)
                </span>
              <%else%>
                <span><%= t('no_guardian') %></span>
              <%end%>
            <%end%>
          <% end %></td></tr>
      <% unless  @additional_fields.empty? %>

        <% @additional_fields.each do |field| %>
          <% p =cycle('2',' ') %>
          <tr class="odd left">
            <td><%= field.name %></td>
            <td class="right">
              <% detail = StudentAdditionalDetail.find_by_additional_field_id_and_student_id(field.id,@student.id) %>
              <%= detail.additional_info unless detail.nil? %>
            <% end %>
          </td>
        </tr>
        <tr class="odd left">
          <td></td>
          <td class="right">
            <% detail = StudentAdditionalDetail.find_all_by_student_id(@student.id) %>
            <% if permitted_to? :edit_admission4,:student %>
              <% unless detail.blank? %>
                <span> (<%= link_to "#{t('edit_additional_details')}", :controller => 'student', :action => 'admission4', :id => @student.id %>)</span>
              <% else %>
                <span> (<%= link_to "#{t('add_additional_details')}", :controller => 'student', :action => 'admission4', :id => @student.id %>)</span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% unless @previous_data.nil? %>
        <tr class="even left"><td></td><td class="right"><%= t('previous_details') %></td></tr>
        <tr class="odd left"><td><%= t('secondary_school') %></td><td class="right"><%= link_to @previous_data.institution,:action=>'show_previous_details', :id => @student.id %></td></tr>
        <tr class="even left"><td><%= t('year_completed') %></td><td class="right"><%= @previous_data.year %></td></tr>
        <tr class="odd left"><td><%= t('qualification') %></td><td class="right"><%= @previous_data.course %></td></tr>
        <tr class="even left"><td><%= t('result') %></td><td class="right"><%= @previous_data.total_mark %></td></tr>
        <tr class="odd left"><td><%= t('credits') %></td><td class="right"><%= @student.credits %></td></tr>
        <tr class="even left"><td><%= t('passes') %></td><td class="right"><%= @student.passes %></td></tr>
        <tr class="odd left"><td><%= t('bm') %></td><td class="right"><%= @student.bm %></td></tr>
        <tr class="even left"><td><%= t('bi') %></td><td class="right"><%= @student.bi %></td></tr>
        <tr class="odd left"><td><%= t('college') %></td><td class="right"><%= @previous_data.college%></td></tr>      
        <tr class="even left"><td><%= t('year_completed') %></td><td class="right"><%= @previous_data.college_year %></td></tr>
        <tr class="odd left"><td><%= t('qualification') %></td><td class="right"><%= @previous_data.college_course %></td></tr>
        <tr class="even left"><td><%= t('result') %></td><td class="right"><%= @previous_data.college_total_mark %></td></tr>
        <tr class="odd left"><td><%= t('college') %></td><td class="right"><%= @previous_data.college2 %></td></tr>      
        <tr class="even left"><td><%= t('year_completed') %></td><td class="right"><%= @previous_data.college2_year %></td></tr>
        <tr class="odd left"><td><%= t('qualification') %></td><td class="right"><%= @previous_data.college2_course %></td></tr>
        <tr class="even left"><td><%= t('result') %></td><td class="right"><%= @previous_data.college2_total_mark %></td></tr>
        <tr class="odd left"><td><%= t('other_courses') %></td><td class="right"><%= @previous_data.other_courses %></td></tr>
        <tr class="even left"><td><%= t('language_proficiency') %></td><td class="right">1.&nbsp;<%= @previous_data.language1 %>&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;<%= @previous_data.language2 %>&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;<%= @previous_data.language3 %></td></tr>
      <%else%>
        <% if permitted_to? :previous_data,:student %>
          <tr class="odd left"><td></td><td class="right"><%= t('no_previous_data') %> (<%= link_to "#{t('add_previous_data')}", :controller => 'student', :action => 'previous_data', :id => @student.id %>)</td></tr>
        <% else %>
          <tr class="odd left"><td></td><td class="right"><%= t('no_previous_data') %></td></tr>
        <% end %>
      <% end %>
    </table>
    <% if @current_user.admin? %>
      <div class="buttons">
        <%= link_to " ► #{t('edit_text')}",
          { :controller => "student", :action => "edit", :id => @student.id },:class => "user_button"%>

        <%= link_to " ► #{t('pdf_report')}",
          {:controller => "student", :action => "profile_pdf", :id => @student.id},:target => '_blank', :class=> 'user_button' %>
      </div>
    <% elsif permitted_to? :edit, :student %>
      <div class="buttons">
        <%= link_to " ► #{t('edit_text')}",
          { :controller => "student", :action => "edit", :id => @student.id },:class => "user_button"%>

        <%= link_to " ► #{t('pdf_report')}",
          {:controller => "student", :action => "profile_pdf", :id => @student.id},:target => '_blank', :class=> 'user_button' %>
      </div>
    <% end %>







  </div>
</div>


<% end %>

