<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%-
#page breaking implemented page
#'available_sections' marks beginning of a pdf page, all the contents within a 'section' class beneath -
#the 'available_section' will be taken to another div with a class 'page' dynamically by the javascript -
#written in layouts/pdf.html.erb. 'page' has style for page-break-after:auto property which makes sure -
#content within class 'section' breaks on each page if its the last content and no space left in current page
#warning: the 'page' div is created directly below html , so style your pdf keeping that in mind.
#point to note: make an easy guess the length of content a page can hold, and make sure each 'section' will -
#not exceed the a page size, like we did below for student_additional_fields, we force a new table to be drawn -
#each time the row count reaches 28, as 28 being the max number of rows an A4 can hold.
#avoid creating deeper nests, make 'section' simpler.
-%>

<div id="page-yield" class="available_sections">
  <div class="hor_line"></div>
  <div id="student_profile_heading" class="section">
    <div id ="student_main_info">

    <div  style="float:left">
      <h2> <%= @student.full_name %>  </h2>
      <h4><%= t('student_profile') %></h4>
    </div>

    <div align="right">
    <%= wicked_pdf_image_tag "/"+( @student.photo.path||"#{Rails.root}/public/images/master_student/profile/default_student.png") %>
    </div>

    </div>
  </div>


  
    <table id="pdf-table" width="100%" cellspacing="0" class="section">
    <tr class="odd"><td class="col-pdf"><%= t('admission_number') %></td><td class="right"><%= @student.admission_no unless @student.admission_no.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('admission_date') %></td><td class="right"><%= I18n.l(@student.admission_date,:format=>:normal) unless @student.admission_date.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('batch') %></td><td class="right"><%= @student.batch.name unless @student.batch.name.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('course_text') %></td><td class="right"><%= @student.batch.course.full_name unless @student.batch.course.full_name.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('date_of_birth') %></td><td class="right"><%= I18n.l(@student.date_of_birth,:format=>:normal) unless @student.date_of_birth.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('registration_date') %></td><td class="right"><%= @student.registration_date %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('orientation_date') %></td><td class="right"><%= @student.orientation_date %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('identity_card') %></td><td class="right"><%= @student.identitycard_num %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('race') %></td><td class="right"><%= @student.race %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('weight') %></td><td class="right"><%= @student.weight %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('height') %></td><td class="right"><%= @student.height %></td></tr>
<!--    <tr class="odd"><td class="col-pdf"><%= t('marital_status') %></td><td class="right"><%= @student.marital_status %></td></tr>
--><!--    <tr class="even"><td class="col-pdf"><%= t('occupation') %></td><td class="right"><%= @student.occupation %></td></tr>
-->    <tr class="odd"><td class="col-pdf"><%= t('gender') %></td><td class="right"><%= t("#{@student.gender_as_text.downcase}") %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('nationality') %></td><td class="right"><%= @student.nationality.name unless @student.nationality_id.nil? %></td></tr>
<!--    <tr class="odd"><td class="col-pdf"><%= t('category') %></td><td class="right"><%= @student.student_category.name unless @student.student_category.nil? %></td></tr>
-->    <tr class="even"><td class="col-pdf"><%= t('religion') %></td><td class="right"><%= @student.religion %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('health_condition') %></td><td class="right"><%= @student.health_condition %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('address') %></td><td class="right"><%= @student.address_line1%><%= ', ' unless @student.address_line1.blank? %><%=  @student.address_line2 %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('city') %></td><td class="right"><%= @student.city %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('state') %></td><td class="right"><%= @student.state %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('zip') %></td><td class="right"><%= @student.pin_code %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('country') %></td><td class="right"><%= @student.country.name unless @student.country_id.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('phone') %></td><td class="right"><%= @student.phone1 %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('mobile') %></td><td class="right"><%= @student.phone2 %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('email') %></td><td class="right"><%= @student.email %></td></tr>


    <table id="pdf-table" width="100%" cellspacing="0" class="section">
    <tr class="odd"><td class="col-pdf"><%= t('secondary_school') %></td><td class="right"><%= @previous_data.institution unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('year_completed') %></td><td class="right"><%= @previous_data.year unless @previous_data.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('qualification') %></td><td class="right"><%= @previous_data.course unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('result') %></td><td class="right"><%= @previous_data.total_mark unless @previous_data.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('credits') %></td><td class="right"><%= @student.credits unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('passes') %></td><td class="right"><%= @student.passes unless @previous_data.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('bm') %></td><td class="right"><%= @student.bm unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('bi') %></td><td class="right"><%= @student.bi unless @previous_data.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('college / university') %></td><td class="right"><%= @previous_data.college unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('year_completed') %></td><td class="right"><%= @previous_data.college_year unless @previous_data.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('qualification') %></td><td class="right"><%= @previous_data.college_course unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('result') %></td><td class="right"><%= @previous_data.college_total_mark unless @previous_data.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('college / university') %></td><td class="right"><%= @previous_data.college2 unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('year_completed') %></td><td class="right"><%= @previous_data.college2_year unless @previous_data.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('qualification') %></td><td class="right"><%= @previous_data.college2_course unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('result') %></td><td class="right"><%= @previous_data.college2_total_mark unless @previous_data.nil? %></td></tr>
    <tr class="odd"><td class="col-pdf"><%= t('other_courses') %></td><td class="right"><%= @previous_data.other_courses unless @previous_data.nil? %></td></tr>
    <tr class="even"><td class="col-pdf"><%= t('language_proficiency') %></td><td class="right">1.&nbsp;<%= @previous_data.language1 unless @previous_data.nil? %>&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;<%= @previous_data.language2 unless @previous_data.nil? %>&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;<%= @previous_data.language3 unless @previous_data.nil? %></td></tr>
  </table>

  <table id="pdf-table" width="100%" cellspacing="0" class="section">
<!--
    <tr class="odd"><td><%= t('group_tutor') %></td><td class="right">
        <% unless @student.batch.employee_id.nil? %>
          <% @assigned_employees = Employee.find(:all,:conditions=>"FIND_IN_SET(id,\"#{@student.batch.employee_id}\")")  %>

          <% @assigned_employees.each do |e| %>
            <%= e.full_name %>
            <br/>
          <% end %>
        </td></tr>

    <% end  %>
    <tr class="even"><td><%= t('immediate_contact') %></td><td class="right">
        <%= @immediate_contact.full_name unless @immediate_contact.nil? %> <%= "(" + @immediate_contact.mobile_phone + ")" if @immediate_contact and !@immediate_contact.mobile_phone.empty? %>
      </td></tr>
    <% c = 'odd'  %>

-->

    <% unless  @additional_fields.empty? %>
      <% @additional_fields.each_with_index do |field,i| %>
        <% if (i+1)%28 == 0 %>
        </table>
      <%#*</div>%>
      <%#*<div id="new_profile_info_top" class="section">%>
        <table id="pdf-table" width="100%" cellspacing="0" class="section">
        <% end %>
        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
          <td class="col-pdf"><%= field.name %></td>
          <td class="col-pdf">
            <% detail = StudentAdditionalDetail.find_by_additional_field_id_and_student_id(field.id,@student.id) %>
            <%= detail.additional_info unless detail.nil? %>
          <% end %>
        </td>
      </tr>
    <% end %>
    

  </table>

</div>