#form-contents{
    padding:0 10px 0 10px;
}

#bank-details{
    width:400px;
}

#bank-details-label{
    color:#BB0000;
    font-weight:bold;
    margin-bottom:20px;
    text-decoration:underline;
}

.label-fields{
    margin:0 0 20px 0;
}

.div-labels{
    float:left;
    color : #444;
    font-weight : bold;
    padding:10px 0 0 0;
}



.text-input-bg1 select {
    background-color : #eee;
    border : 0;
    margin : 5px 0 0 10px;
    width : 210px;
}

.save-proceed-button input{
   -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:220px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.sub-heading{
    background:#2C237E;
    height: 1px;
    border: none;
    margin-bottom: 15px;
}
.span-sub-heading{
    font-weight: bold;
    padding-top:10px;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.fee_category_scroll {
-moz-background-inline-policy:continuous;
-moz-border-radius:10px 10px 10px 10px;
-webkit-background-inline-policy:continuous;
-webkit-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #C6C6C6;
height:86px;
margin-left:210px;
margin-top:-37px;
margin-bottom:5px;
max-height:100px;
overflow:auto;
padding:7px;
width:275px;
}
.sel-list {
border-bottom:1px solid #DDDDDD;
margin-bottom:2px;
width:265px;
}
.each_batch {
border-bottom:1px solid #DDDDDD;
font-size:12px;
overflow:auto;
width:265px;
}
.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
#necessary-field-notification {
    font-weight : bold;
    padding : 10px 0 30px 0;
}