#form-contents{
    padding:0 0 0 100px;
}

#bank-details{
    width:400px;
}

#bank-details-label{
    color:#BB0000;
    font-weight:bold;
    margin-bottom:20px;
    text-decoration:underline;
}

.label-fields{
    margin:0 0 20px 0;
}

.div-labels{
    float:left;
    color : #444;
    font-weight : bold;
    padding:4px 0 0 0;
}

.text-input-bg1{
    float:right;
    background : #fff url(../../images/form_bg/text-input-bg.png) no-repeat;
    height : 28px;
    width : 230px;
}

.label-fields input {
    background : transparent;
    border : 0;
    margin : 5px 0 0 10px;
    width : 210px;
}

.text-input-bg1 select {
    background-color : #eee;
    border : 0;
    margin : 5px 0 0 10px;
    width : 210px;
}

.save-proceed-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:217px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.sub-heading{
    background:#2C237E;
    height: 1px;
    border: none;
    margin-bottom: 15px;
}
.span-sub-heading{
    font-weight: bold;
    padding-top:10px;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
