.box{

    width:750px;
    margin:0px auto;
}

.link-box {
    margin:10px 40px;
    height:15px;
}
.link-heading a {
    font-weight:bold;
    color:#2C237E;
}


.label-field-pair label {
    width:160px;
}

.text-input-bg{
    width:100px;

}

#update_batch{
    float:right;
    width:800px


}