.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#2C237E;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin-top:10px;
}

#list {
    margin:20px auto;
    width:200px;
}
#list li {
    padding:6px 50px 0 0;
    list-style-type:none;
}
#list li label input {
    margin-left:10px;
}

.name_listodd{
    background:#E4EBFE;
    height:30px;
    width:400px;
    border-top:1px solid #C2CEEF;
}
.name_listeven{
    background:#DAE6FF;
    height:30px;
    width:400px;
    border-top:1px solid #C2CEEF;
}
.att_list_names {
    display:inline;
    font-weight: 600;
    font-size: 13px;
}
label {
    display:inline
}
.submit_button {
    margin-top:10px;
    margin-right:316px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.label_field_pair {
    width:450px;
    margin:0px auto;
    text-align:center;
}
.label_field_pair label {
    font-weight:bold;
    display:block;
    color:#444;
    margin-top:50px;
    margin-bottom:10px;
}

h4{
    text-align:center;

}
#application-list{
    width:700px;
    margin:10px auto;
}
table#listing td.col-1 {
    text-align:center;
    width:1%;
}

.total-box {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    padding:5px;
    width:80px;
}
table#listing td.col-4 {
    padding:5px 10px 5px 5px;
    text-align:left;
    width:40%;
}
table#listing td.col-2 {
    padding:5px 10px 5px 5px;
    text-align:right;
    width:70%;
}
table#listing td.col-3 {
    width:1%;
}