#pdf-header{
    width: 600px;
    height: 100px;
    padding-top: 30px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    height:500px;
    width: 180px;
}

.header-content{
    color: #97080e;
    font-weight: bold;
    font-size: 25px;
    float: left;
    width: 600px;
    height: 150px;
    text-align: center;
}

.header-content p{
    margin-top: 3px;
    margin-bottom: 2px;
}

#pdf-footer{
    text-align: right;
    width: 700px;
    padding-right: 100px;
    padding: 50px;l
    margin: 0 auto;
    color: #999999;
    font-size: 18px;

}

#page-yield {
    margin-top: 30px !important;
}

.page {
      page-break-after: auto;
      page-break-inside: avoid;
      overflow: hidden;
      
      }
      .section{
      margin-top:20px;
      }
      .row-break{
/*       display: table-row; */
/*       clear:both; */
       page-break-before:always;
      }
      .top-padding-20{
      padding-top:20px;
      background-color:#ccf;
      }