
#form-content {
    border : 1px solid #becffb;
    background-color : #f8f8f8;
    height : auto; width : 600px;
    margin : auto;
    padding : 30px 40px 20px 0;
}
.label-field-pair {
    margin-top : 0px;
    margin-right : 30px;
}
.label-checkbox-pair {
    height : 50px;
    margin-right : 30px;
    padding: 0 0 0 10px;
}
.submit-button{
    width:100px;
    margin:0px auto;
}
#MB_frame .submit-button {
    -moz-border-radius:8px 8px 8px 8px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:right;
    font-size:14px;
    font-weight:bold;
    margin:0 211px 0 0;
    padding:5px;
}

.submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
table#class-timings-list{
    background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px;
}

table#class-timings-list tr.tr-head{
    background: #fff;
    color:#2C237E;
    font-weight:bold;
    text-align:right;
}

table#class-timings-list .tr-head td{
    padding:5px;
    padding-right:10px;
}

table#class-timings-list .tr-odd{
    background: #fff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}

table#class-timings-list .tr-even{
    background: #f1f6ff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;

}

table#class-timings-list .tr-read-odd{
    background: #fff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}

table#class-timings-list .tr-read-even{
    background: #f1f6ff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}

table#class-timings-list td.col-1{
    width:10%;
    padding: 5px;
    padding-right:10px;
}

table#class-timings-list td.col-2{
    width:40%;
    text-align:right;
    padding: 5px;
    padding-right:10px;
}

table#class-timings-list td a{
    text-decoration:none;
    color:#27292b;
}

table#class-timings-list td a:hover{
    color:#2C237E;
    text-decoration:underline;
}

table#class-timings-list td.col-3{
    width:13%;
    padding: 5px;
    padding-right:10px;
}

table#class-timings-list td.col-4{
    width:30%;
    padding: 5px;
    padding-right:10px;
}

table#class-timings-list td.col-5{
    width:5%;
    padding: 5px;
    padding-right:10px;
}

table#class-timings-list td.col-6{
    text-align: left;
    width:13%;
    padding: 5px;
    padding-right:10px;

}

.linker a {
    color:black;
    text-decoration:underline;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

.linker a:hover{
    color:#2C237E;
    text-decoration: none;
}

.linker{
    margin-bottom: 5px;
}
.time-select-field select {
    visibility: visible !important;
}
#MB_frame .label-field-pair select
{
    width: 87px !important;
}