
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#2C237E;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}

#inner-tab-menu ul li {
    padding: 0 10px;
    width: auto;

}

.submit_button {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

table#listing .tr-odd .inplaceeditor-form .editor_field {
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px;
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #C6C6C6;
height:17px;
margin:5px 0 0 10px;
padding:5px;
width:50px;
}

table#listing .tr-odd .inplaceeditor-form .editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}
.in_place_editor_field{
    cursor: pointer;
}

.update_msg input.editor_field{
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px;
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #C6C6C6;
height:17px;
margin:5px 0 0 10px;
padding:5px;
width:200px;
}

.update_msg input.editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}


.update_msg input.editor_ok_button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.update_msg input.editor_ok_button:hover{
    background:  #373B3F;
}

.update_msg a {
color:#27292B;
  text-decoration: underline;
margin-top: 12px;
font-size: 14px;
}

.update_msg a:hover{
    color:#2C237E;
    text-decoration:none;
}
table#listing .tr-even .inplaceeditor-form .editor_field {
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #C6C6C6;
height:17px;
margin:5px 0 0 10px;
padding:5px;
width:50px;
}
table#listing .tr-even .inplaceeditor-form .editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}