<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


  <% unless @events.empty? %>
    <div class="current-date"> <%= I18n.l(@date,:format => :month_year) %> </div>
    <% @events.each do |h| %>
      <div class="events">
        <div class="title">
          <div class="legend-icon" style='background:#000000;'></div>
          <%= h.title %></div>
        <div class="extender"></div>
        <div class="desc"><%= h.description %><br /><%= t('start_time') %>:<%= I18n.l(h.start_date,:format=>"%I:%M %p") %><br /><%= t('end_time') %> :<%= I18n.l(h.end_date,:format=>"%I:%M %p") %></div>
        <% if permitted_to? :edit_event, :event %>
        <%= link_to "#{t('edit_text')}",{:controller=>'event',:action=>'edit_event',:id=>h.id},:class=>"delete" %>
        <% end %>
        <% if permitted_to? :event_delete, :calendar %>
        <%= link_to "#{t('delete_text')}",{:action=>'event_delete',:id=>h.id},:confirm=>"#{t('delete_confirm_msg')}",:class=>"delete" %>
        <% end %>
		<div class="extender"></div>
      </div>
    <% end %>
  <% end %>

