
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:700px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 2em;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 2em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    font-weight: bold;
    font-size:13px;
    min-width: 500px;
}

#category-list li div.category-code {
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
    width: 100px;
}

#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div.category-assign{
    font-size : 0.9em;
    width : 110px;
}
#category-list li div.category-sel{
    font-size : 0.9em;
    width : 100px;
    float: right;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

#category-list li .opt{
    float: right;
}


.submit_button {
    margin-left:216px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;

}
.submit_button:hover{
    background:  #373B3F;
}


.linker2 {
    float:right;
    margin-top:20px;
    width:145px;
}


.linker2 a {
    color:black;
    text-decoration:underline;
    font-weight: bold;
    font-size: 14px;
}

.linker2 a:hover{
    color:#2C237E;
    text-decoration: none;
}


.linker a {
    color:black;
    text-decoration:underline;
    font-weight: bold;
    font-size: 14px;
}

.linker a:hover{
    color:#2C237E;
    text-decoration: none;
}


.add_sub a {
    color:black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.add_sub a:hover{
    color:#2C237E;
    text-decoration: none;
}

.add_sub{
    margin-bottom: 5px;
}


h5{
    color: #2C237E;
    text-align: center;
}

.errorExplanation {
    text-align: left;
    font-size: 12px;
    width:600px;
}

p.flash-msg {

}

.flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    text-align:left;
    font-size:13px;
    font-weight:600;
    border:1px solid #EFDC86;
}

#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 0 1px 20px;
}