#radio-buttons{
    margin:0;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:left;
    margin-top:35px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#category-list {
    clear : both;
    /*    padding : 10px 0 40px 0px;
        width:570px;
        margin:0px auto;*/
    width:970px;
    margin:0 auto;
    background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px;
}

#category-list .listeven{
    background : #f1f6ff;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 33em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
}

#category-list .listodd{
    background : #fff;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 33em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 350px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 88px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

p{
    font-size:13px;
}

.listheading {
    /*    background:none repeat scroll 0 0 #BECFFB;*/
    background-color: #fff;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding: 7px 0 0 20px;
    /*    width:528px;*/
}

.heading-name {
    width : 350px;
    font-size:14px;
    font-weight:bold;
    color: #990A10;
}
.heading-edit{
    font-weight: bold;
    font-size: 13px;
    width: 65px;
}


.label-field-pair-select-class {
    height:40px;
    padding-top:3px;
    width:500px;
    margin:0px auto;
}
.label-field-pair-select-class label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}
#loader{
    padding-top:10px;
}


table{
/*    width:970px;*/
    margin:0 auto;
    margin-top: 20px;
    background: #c3d9ff;
/*    -moz-border-radius:10px;
    -webkit-border-radius:10px;*/
    padding:10px;
}
tr.tr-head{
    background: #fff;
    color:#2C237E;
    font-weight:bold;
    text-align:left;
}
.tr-head td{
    padding:5px 10px;

}
.tr-odd{
    background: #fff;
    text-align:center;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
.tr-even{
    background: #f1f6ff;
    text-align:center;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
td.col-1, td.col-1 a{
    width:40%;
    padding: 5px;
    text-align:left;
    padding-left:10px;
    font-size : 13px;
}
td.col-2, td.col-2 a{
    width:40%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    font-size : 13px;
}
td.col-3{
    width:20%;
    padding: 5px;
    font-size:12px
}
td.col-4{
    width:70%;
    text-align:left;
    padding: 5px;
    padding-left:20px;
}
td.col-5{
    width:30%;
    padding: 5px;
}
td a{
    text-decoration:none;
    color:#27292b;
}
td a:hover{
    color:#2C237E;
    text-decoration:underline;
}
/*#page-yield
{
    width:650px;
}*/
.title{
    font-size: 13px;
    width: 900px;
    min-height: 25px;
}
.description{
    font-size: 13px;
    float: right;
    width: 80%;
}
.category-edit, .category-edit a:hover{
    font-size: 13px;
    text-decoration: none;
    
}
.submit_button {
    margin-top:20px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}