
#timetable {
    /*width : 900px;*/
    margin : 30px 0 30px 0;
}
.timetable_tr {
    clear:both;
    height:52px;
}
.timetable_td {
    float:left;
    width:80px;height:50px;
    border:1px dotted #2C237E;
    background-color:#f5e9c8;
    font-size:small;
}
.timetable_td_top {
    float:left;
    width:80px; height:25px;
    border:1px dotted #800;
    padding-top:5px;
    text-align:center;
    background-color:#2C237E;
    color:#fff;
    font-weight:bold;
    margin : 20px 0 0 0;
}
.timetable_td_left {
    float:left;
    font-size : 0.7em;
    width:50px;height:35px;
    border:1px dotted #800;
    padding-top:15px;
    text-align:center;
    background-color:#2C237E;
    color:#fff;
    font-weight:bold;
}
.timetable_td_tl {
    float:left;
    width:52px;height:35px;
    padding-top:15px;
}
.tt-subject {

    text-align:center;
}
.selected_div {
    position : absolute;
    /*top : -5px;
    left : -2px; 
    border : 2px solid #A6C7FF; */
    height:50px;
    background-color : #f9ffb8;
    text-transform: uppercase;
}
.subjects {
    background-color:#f2d5b2;
    cursor : move;
    margin : 0 0 10px 10px;
    float : left;
    border : 1px solid #2C237E;
    width:78px; height:38px;
    font-size : small;
    padding-top : 10px;
    text-align : center;
}
#errors {
    background-color : #f2d5b2;
    font-size : 0.9em;
    height : auto; width : 420px;
    margin : 30px 0 20px 0;
}
.error-explanation {
    padding : 10px;
}
#errors a {
    color : #2C237E;
    display : inline;
}
#loader {
    margin : 10px 0 0 20px;
}
.submit-button{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:5px;
    padding:7px 10px;
}
.generate{
    height: 30px;
}
#box{
    background: #c3d9ff;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding:10px;
    margin: 0px auto;
    width:950px;
}
td{
    color: #9f191f;
    font-weight: bold;
    font-size: 13px;
}
td.td-blank, td.loader, tr.tr-blank{
    width: 10px;
    background: #c3d9ff;
}
table#table{
    background: #a6c7ff;
}
tr.blank td{
    height:  10px;
    background: #c3d9ff;
}
td .name{
    background: #fff;
    height: 35px;
    text-align: center;
    padding:15px 10px 0 10px;
}
td .top{
    background: #fff;
    padding:5px 10px 5px 10px;
    text-align: center;
    color: #9f191f;
    font-weight: bold;
    font-size: 10px;

}
td .tt-subject .subject{
    height: 23px;
    padding-top: 10px;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
td .tt-subject .employee{
    height: 15px;
    font-size:11px;
    text-align:center;
    background: #eaf2ff;
    color:#898989;
    border-top:2px solid #b2cfff;
    border-bottom:2px solid #b2cfff;
}
td.td{
    width:100px;
}
.employees_subject{
    background: #a6c7ff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:100px;
    float:left;
    padding:8px;
    color:#fff;
    font-weight: bold;
    font-size:14px;
    text-align: center;
    margin:5px;
    cursor : move;
}
.employees_subject:hover{
    background: #9f191f;
}
.employee a {
    padding-top: 5px;
}
.drop{
    background: #fff;
    width:100%;
    height:50px;
    text-transform: uppercase;
}
h4{
    border-bottom:1px solid #dcdcdc;
    width: 900px;
    padding-bottom: 5px;
    margin-left:10px;
}

.subject span{
    display:none;
    color: #2C237E;
    margin-left: 50px;
    min-width: 100px;
}

.subject:hover span {
    display: block;
    position: absolute;
    background-color: #fff;
    border:4px solid #c3d9ff;
    left: 50px;
    top: -10px;
    color: #FFFFFF;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-top:10px;
    color:#990A10;
    font-weight:bold;
    z-index: 2000;
    cursor: pointer;
    font-size: 12px;
    font-variant: small-caps;
}

.subject:hover span .emp-name {
    cursor: pointer;
    color:#000;
    font-size: 10px;
    font-variant: small-caps;
}

#loadingmsg{
    font-weight:bold;
    text-align: center;
}