.small{
    font-size: 11px;
    float:left;
    width:35px;
}
.small-strike {
    text-decoration:  line-through;
    font-size: 11px;
    float:left;
    width:35px;
}
.submit_button {
    margin-top:15px;
    margin-right:180px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float: right;
}
.submit_button:hover{
    background:  #373B3F;
}

.box{
    width:750px;
    margin:0px auto;
}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 10px auto;
    text-decoration: none;
    margin-right: 400px;
    float: right;
}
.user_button:hover{
    background:  #373B3F;
}

.name{
    color: #999999;
    float: right;
    width: 160px;
    font-weight: bold;
    font-size: 13px;
}

.val {
    color: #2C237E;
    font-weight: bold;
    font-size: 13px;
}

.val span{
    margin-left:12px;
    color: black;
}