.text-input-bg {
    float : right;
    margin : 0 40px 0 0;
}

#student{
    padding-top:50px;
}

.student-name {
    font-variant:small-caps;
    font-weight:bold;
    letter-spacing: 1px;
    margin: 30px 0 10px 0;
    width: 100%
}

.prev-next-links {
    float: left;
    width: 30px;
}
.prev-next-links a {
    background-color: #E7EEFF;
    color: #000;
    display: block;
    margin: 0 5px 0 0;
    text-decoration:none;
    font-weight: bolder;
    width: 10px;
    float: right;
}
.box{
    width:750px;
    margin:0px auto;
}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
    float: left;
}
.user_button:hover{
    background:  #373B3F;
}

.submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 20px auto 0;
}
.submit_button:hover{
    background:  #373B3F;
}

.submit_button2 {
    padding: 6px 8px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top:3px;
}
.submit_button2:hover{
    background:  #373B3F;
}

.label-field-pair1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:right;
    width:422px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair1 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 100px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg  {
    float:right;
    margin:0 40px 0 0;
    background:none repeat scroll 0 0 transparent;
    float:right;
    height:28px;
    width:130px;
}

.next a{
    float:right;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:right;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
.month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:400px;
    background: #fff;
    padding:6px 0;
    text-align:center;
    float:right;
    font-size:16px;
    color:#121212;
    font-weight:bold;
    margin:0px 6px;
}
#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:10px;
    margin-bottom:10px;
}
.header{
    width:520px;
    margin:0px auto;
    padding:4px 0 1px;
}


.fine_info{
    float:left;
    height:36px;
    width:710px;

}

.text-input-bg1 {
    background:none repeat scroll 0 0 transparent;
    float:right;
    height:28px;
    margin:0 10px 0 0;
    width:130px;
}

.label-field-pair1 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}


.name{
    color: #999999;
    float: right;
    width: 500px;
    font-weight: bold;
    font-size: 13px;
}

.val {
    width: 900px;
    color: #2C237E;
    font-weight: bold;
    font-size: 13px;
}

.val span{
    margin-left:12px;
    color: black;
}


.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    float:right;
    width:700px;
    padding-top: 10px;
    font-weight: 600;

}
label-field-pair2 {
    float: left;
}

.text-input-bg2 {
    float:right;
    background:none repeat scroll 0 0 transparent;
    float:right;
    height:28px;
    width:130px;
}
.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 100px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
    float: right;
}
.label-field-pair2 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.pay_fees{
    text-align: left;

}
table#listing td a {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
    float: left;
}
table#listing td a:hover{
    background:  #373B3F;
    color: #fff;
    text-decoration: none;
}

td span{
   color: #990A10;
}

table#listing td.col-8 {
    padding: 5px 10px 5px 5px;
    width: 10%;
    text-align: left;
}

.pay_fees_buttons{
    clear: both;

}

.pay_fees_buttons a{
    float: left !important;
    margin: 20px 10px 0 !important;
}
.pay_fees_buttons input{
    float: left;
}

.pay_fees .label-field-pair2{
    float: left;
    margin-top: 15px;
}