
body {
    font-family:Arial;
    margin:0;
    padding:0px;
}
.extender {
    height:1px;
    clear:both;
}
#header_bg {
    height : 80px;
    background : #2C237E url(../../../images/application/pattern_header.png) repeat;
}
#header {
    width : 980px;
    height : 80px;
    margin:0 auto;
}
#header_link {
    color : #fff;
    height : 22px;
    float: left;
    font-size : 0.8em;
    padding : 10px 0 0 0;
}
#outer-main-menu {
    float: right;
    margin: 20px 0 0 0;
}
#outer-header-link{
    height: 32px;
    width: 100%;
    float: left;
}
#header a {
    text-decoration:none;
    color:#fff;
    text-decoration:underline
}

/* Top menu style */

#main-menu {
    float : right;
    height : 27px; width : 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#main-menu li.a{
    float: right;
}
#main-menu li a {
    background : #fff;
    color : #2C237E;
    display : block;
    font-size : 0.8em;
    float : right;
    height : 17px; width : auto;
    margin : 6px 0 0 5px;
    padding : 5px 10px 0 10px;
    text-align : center;
    text-decoration : none;
}
#main-menu li a:hover {
    text-decoration : underline;
}
#main-menu li ul.level-1{
    margin: 0;
    padding: 0;
    width : 160px;
    list-style-type: none;
    position: absolute;
    top: 80px;
    z-index: 9999;
    visibility : hidden;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    background: #2C237E url(../../../images/application/bg_pattern.png) repeat;
}
#main-menu li:hover ul.level-1{
    visibility: visible;
}
#main-menu li ul.level-1 li{
    width: 100%;
    overflow: hidden;
}
#main-menu li ul.level-1 li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 2px 2px 3px;
    text-decoration: none;
    text-indent: 0;
    background: none;
    color: #ffffff;
    width: 155px;
    font-size: 13px;
    text-align: right;
    margin: 0;
    float: right;
    height: auto;
}
#main-menu li ul.level-1 li a:hover{
    background: #000000;
    text-decoration: none;
}
#main-menu li ul.level-1 li ul.level-2{
    margin: -1px 0 0 0;
    padding: 0;
    position: absolute;
    right: 160px;
    top: auto;
    visibility: hidden;
    width: 160px;
    list-style-type: none;
    z-index: 9999;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    background: #2C237E url(../../../images/application/bg_pattern.png) repeat;
}
#main-menu li ul.level-1 li:hover ul.level-2{
    visibility: visible;
}
#main-menu li ul.level-1 li ul.level-2 li{
    width: 100%;
    overflow: hidden;
}
#main-menu li ul.level-1 li ul.level-2 li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 2px 2px 3px;
    text-decoration: none;
    text-indent: 0;
    background: none;
    color: #ffffff;
    width: 155px;
    font-size: 13px;
    text-align: right;
    margin: 0;
    float: right;
    height: auto;
}
#main-menu li ul.level-1 li ul.level-2 li a:hover{
    background: #000000;
    text-decoration: none;
}
#main-menu li ul li span.right-arrow{
    float:left;
    font-size: 12px;
    padding-left: 2px;
}

p.flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    font-weight: bold;
    border:1px solid #EFDF95 ;
    text-align : center;
}
#content_wrapper {
    width:980px;
    margin:0 auto;
    background-color:#fff;
}
#side_bar {
    width:200px;
    float:right;
}
#fedena_logo {
    width: 157px;
    text-align: center;
    margin-top: 30px;
}

#content {
    width: 100%;
    float:right;
}

#footer {
    height:33px;
    background:#2C237E url(../../../images/application/app_layout_footer_bg.jpg) repeat;
}
#footer #footer_links {
    height:33px;width:614px;
    margin:0 auto;
    text-align:center;
    padding-top:5px;
    color:#fff;
    padding-right:114px;
}
#footer #footer_links a,
#footer_links span {
    color:#fff;
    width:100px;
    float:right;
    text-decoration:none;
}

/* Content header for all pages */

#content-header {
    height:150px;
    background:#fff url(../../../images/examination/header_underline.jpg) bottom no-repeat;
}
#content-header img {
    width:90px;/*height:80px;*/
    margin:0;
    border:0;
    padding:30px 25px 0 0;
    float:right;
}
#content-header h1 {
    margin:0px;
    padding:40px 150px 0 0;
    color:#999;
    display:block;
}
#content-header h3 {
    margin:0px;
    padding:0 150px 0 0;
    color:#2C237E;
}
#app-back-button {
    float:left
}
#app-back-button a {
    margin:0;
    padding:0;
    float:left
}
#app-back-button a img {
    height:37px;
    margin:0;
    padding:0;
    width:138px;
}

#page-yield {
    margin : 40px 0;
}

/* News block */

#news_feed {
    width:157px;
    margin:0 auto;
    background:#fff url(../../../images/fedena_user/dashboard/news_feed_bg.jpg) repeat;
}
#news_feed small {
    padding-top:0px;
    color:#2C237E;
}
#news_feed_top_img {
    background: url("../../../images/fedena_user/dashboard/dash_news_top.jpg") no-repeat scroll 0 0 #FFFFFF;
    color: #000000;
    display: block;
    font-weight: bold;
    height: 34px;
    margin: 25px auto 0;
    padding-right: 52px;
    padding-top: 2px;
    text-decoration: none;
    width: 105px;
}

#bottom_read_more {
    background: url("../../../images/fedena_user/dashboard/news_feed_more_link.jpg") no-repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    margin: 0;
    padding-right: 40px;
    padding-top: 8px;
    text-decoration: none;
    width: 117px;
}

.language {
    float: left;
    width: 110px;
}
.language select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0px 0 0;
    width : 100px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

#news_feed_bottom_img a {
    display:block;
    height:28px;width:157px;
    text-indent:-2000px;
}

.sidebar_news_item0 {
    margin-right:5px;
    padding:10px;
    background-color:#fff;
    width:127px;
}
.sidebar_news_item1 {
    margin-right:5px;
    padding:10px;
    background-color:#ddd;
    width:127px;
}
.sidebar_news_item0 h5,
.sidebar_news_item1 h5 {
    margin:0;padding:0;
}
.sidebar_news_item0 h5 a,
.sidebar_news_item1 h5 a {
    text-decoration:none;color:#222;
}

#sidebar_news_area {
    float:right;
}

/* For google chrome */

input[type="text"],
input[type="password"],
textarea,
select
{
    outline: none;
}

/* Shifting footer to bottom of the page */

html, body, #content_wrapper {
    height: 100%;
}
body > #content_wrapper {
    height: auto;
    min-height: 90%;
}
#content {
    padding-bottom: 33px;
}
#footer {
    position : relative;
    margin-top : -33px;
    height : 33px;
    clear : both;
}

/* Default class for drop down menus */
.anylinkmenu {
    position : absolute;
   /*  right : 0; */
    top : 0;
    margin : 0;
    visibility : hidden;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    z-index: 100; /* zIndex should be greater than that of shadow's below */
    background: #2C237E url(../../../images/application/bg_pattern.png) repeat;
    width: 125px; /* default width for menu */
}

.anylinkmenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.anylinkmenu ul li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 0;
    text-decoration: none;
    text-indent: 5px;
}
.anylinkmenu a {
    color : #fff;
}
.anylinkmenu a:hover { /*hover background color*/
                       background: black;
                       color: white;
}

/* Alternate multi-column class for drop down menus */

.anylinkmenucols {
    position: absolute;
    width: 350px;
    right: 0;
    top: 0;
    visibility: hidden;
    border: 1px solid black;
    padding: 10px;
    font: normal 12px Verdana;
    z-index: 100; /*zIndex should be greater than that of shadow's below*/
    background: #E9E9E9;
}
.anylinkmenucols li {
    padding-bottom: 3px;
}
.anylinkmenucols .column {
    float: right;
    padding: 3px 8px;
    margin-left: 5px;
    background: #E0E0E0;
}
.anylinkmenucols .column ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.anylinkshadow {
    display : none;
}

/* Form styling */

.label-field-pair {
    float : right;
    height : 80px;
    width : 250px;
}
.text-input-bg {
    background : transparent;
    height : 28px;
    width : 230px;
}
.label-field-pair label {
    color : #444;
    display : block;
    font-weight : bold;
    margin : 0 0 10px 0;
}
.label-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 215px;
    height:27px;
    padding:5px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.label-checkbox-pair {
    float : right;
    padding : 30px 10px 0 0;
    width : 250px;
}

/* Validation error messages */

.fieldWithErrors{
    border : 2px solid #2C237E;
    height : 25px; width : 225px;
}
.errorExplanation {
    background-color : #ffb1b1;
    border : 1px solid #2C237E;
    height : auto; width : 510px;
    margin : 20px 50px 40px 0;
    padding : 10px 20px 20px 0;
}
.errorExplanation h2 {
    margin : 0;
    font-size : 1em;
    font-weight : normal;
    padding : 0;
}
.errorExplanation p {
    margin : 5px 0 0 0;
}

/* Inner tab menu */

#inner-tab-menu {
    height : 1.5em;
    margin : 0;
    padding : 0;
}
#inner-tab-menu ul {
    float : left;
    margin : 0 0 0 10px;
    padding : 0;
}
#inner-tab-menu ul li {
    background-color : #2C237E;
    color : #fff;
    float : right;
    font-size : 0.9em;
    height : 1.5em;
    list-style-type : none;
    margin : 0 10px 0 0;
    padding : 0;
    text-align : center;
    width : 100px;
}
#inner-tab-menu ul li a {
    color : #fff;
    text-decoration : none;
}


#footer {
    /* position : relative;*/
    margin-top :15px;
    height : 66px;
    clear : both;
    background: url(/images/foot.png) repeat-x;
    width:100%;
}
#footer_logo {
    height:66px;
    margin:0 auto;
    width:980px;
}

#footer_logo a.footer-logo{
    display:block;
    float:left;
    height:66px;
    margin-top:-55px;
    width:210px;
    background: url(/images/footer-logo.png) no-repeat 0 0 transparent;
}

#footer_logo a.footer-logo:hover {
    background: url(/images/footer-logo.png) no-repeat -210px 0 transparent;

}

#powered_by {
    height:20px;
    padding:35px 0 0 0;
    width:auto;
    margin:0 auto;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    float: left;
}
#powered_by a {
    color:#fff;
    font-size:14px;
    text-decoration:none;
}
#powered_by a:hover {
    color:#fff;
    font-size:14px;
    text-decoration:underline;
}

#news_bar{
    width: 100%;
    /*    height: 67px;*/
    overflow: hidden;
    margin: 20px 0 0 0;
}
#news_bar .news_box{
    width: 313px;
    height: 66px;
    background: url(/images/application/note-bg.png) no-repeat;
    float: right;
    margin: 0 20px 0 0;
}
#news_bar .news_box.first-news{
    margin: 0;
}
#news_bar .news_box .news-title{
    width: 283px;
    margin: 12px 15px 5px 0;
}
#news_bar .news_box .news-title a{
    width: 313px;
    font-size: 13px;
    color: #2C237E;
    font-weight: bold;
    text-decoration: none;
}
#news_bar .news_box .news-title a:hover{
    text-decoration: underline;
}
#news_bar .news_box .news-time{
    float: right;
    color: #666666;
    margin: 0 15px 0 0;
}
#news_bar .news_box .comments-count{
    float: left;
    color: #666666;
    margin: 0 0 0 15px;
    padding: 0 20px 0 0;
    background: url(/images/application/chat.png) no-repeat right;
}
#news_bar .news_box .comments-count a{
    color: #666666;
    text-decoration: none;
}
#news_bar .news_box .comments-count a:hover{
    text-decoration: underline;
}

#institution-name{
    margin: 12px 0 0 0;
    float: right;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

#header_link{
    overflow: hidden;
}
#header_link div{
    float: right;
    margin: 0 5px;
    padding: 0 5px;
    overflow: hidden;
}
#header_link div a{
    padding: 3px 23px 3px 3px;
    display: block;
    float: right;
    text-decoration: none;
}
#profile-link a{
    background: url(/images/application/profile.png) no-repeat right center;
}
#messages-link a{
    background: url(/images/application/msg.png) no-repeat right center;
    float: right;
}
#messages-link span {
    padding: 3px 1px 3px 3px;
    display: block;
    float: right;
}
#logout-link a{
    background: url(/images/application/logout.png) no-repeat right center;
}
#logout-link{
    margin-left: 0 !important;
}
#profile-link:hover, #messages-link:hover, #logout-link:hover{
    background: url(/images/application/top-link-bg.png) repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
