* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    font-family:sans-serif;
    margin: 0;
}

#top_logo {
    margin:0 auto;
    height:143px; width:156px;
}
#top_logo h1 {
    text-indent:-9999px;
}
#help_top {
    margin:0px auto;
    width:614px;height:1.5em;
}
#help_top #help_link {float:left;}
#help_top #help_link a {color:#2C237E;padding-left:10px;}

#login_strip {
    margin-top: 19px;
    height: 156px;
    width: 100%;
    background: #2C237E url(/images/application/bg_pattern.png) repeat;
}
#login_area_bg{margin-top: -175px; height:362px;}
#login_area {
    height:362px;width:614px;
    background:#fff url(../../../images/login/login_box.jpg) no-repeat;
    margin:0px auto;
    padding : 40px 0 0 0;
}

#login_area .offline {
    display:block;
    margin-right:30px;
    padding-top:90px;
    font-weight:bold;
    color:#888;
    padding-bottom:5px;
    font-size:110%;
    width: auto;
}


#login_area label {
    display:block;
    width:300px;
    margin-right:50px;
    padding-top:30px;
    font-weight:bold;
    color:#888;
    padding-bottom:5px;
    font-size:110%;
}

#email_textbox_bg {
    width:507px;height:58px;
    margin:0px auto;
    background:#fff url(../../../images/login/text_box.jpg) no-repeat;
}
#email_textbox_bg input {
    width:490px;height:54px;
    margin:2px 5px 0 0;
    float:right;
    border:none;
    background:transparent;
    font-size:40px;color:#666;
}

#submit_area input {
    /* background:#fff url(../../images/login/login_button.jpg) no-repeat; */
    width:85px;height:38px;
    float:left;
    margin-left:58px;
    margin-top:55px;
     background:#312d2a;
    border:none;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    padding: 7px 11px;
}

#checkbox_area {width:300px;float:right;}
#checkbox_area label {margin:0;display:inline;padding-right:5px;}
#checkbox_area input {margin:25px 50px 0 5px;padding:0;}

#notice {
    padding:0;
    width:350px;
    float:left;
    margin-top:60px;
    margin-left:60px;
    padding:2px;
    border:1px solid #999;
    background-color:#fff1ab;
    text-align:center;
}
#help_forgot_pw {margin:50px auto;text-align:center;width:614px;}
#help_forgot_pw a {text-decoration:none;font-weight:bold;color:#2C237E;}

/* #footer{height:33px;background:#2C237E url(../../../images/login/footer_bg.jpg) repeat;}
#footer #footer_links {height:33px;width:614px;margin:0px auto;text-align:center;padding-top:5px;color:#fff;padding-left:114px;}
#footer #footer_links a,span {color:#fff;width:100px;float:left;text-decoration:none;}
#username_texbox_bg input{border:none;margin:0px; padding:0px;text-align:center;}

input[type="text"], input[type="password"], textarea, select {outline: none;}*/
#footer {
    /* position : relative;
    margin-top : -33px; */
    height : 66px;
    clear : both;
    background: url(/images/foot.png) repeat-x;
    width:100%;
}
#footer_logo {
    height:66px;
    position:relative;
     width:980px;
     margin:0 auto;
}

#footer_logo a.footer-logo{
    display:block;
    float:left;
    height:66px;
    margin-top:-55px;
    width:210px;
    background: url(/images/footer-logo.png) no-repeat 0 0 transparent;
}

#footer_logo a.footer-logo:hover {
    background: url(/images/footer-logo.png) no-repeat -210px 0 transparent;

}

#powered_by {
    height:20px;
    padding:35px 0 0 0;
    width:980px;
    margin:0 auto;
    color:#fff;
    font-size:12px;
    font-weight:bold;
}
#powered_by a {
    color:#fff;
    font-size:14px;
    text-decoration:none;
}
#powered_by a:hover {
    color:#fff;
    font-size:14px;
    text-decoration:underline;
}

#wrapper {
    min-height: 100%;
    margin-bottom:-66px;
    position:relative;
}
.clearfooter {
height: 66px;
clear: both;
}
