#radio-buttons{
    margin:0;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top:20px;
    margin-right: 210px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:650px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 23em;
    padding : 0.5em 5em 0 0;
    text-align:center;
}
#category-list li div {
    float : right;
}
#category-list li div.category-name {
    float: right;
    width : 175px;
    font-weight: bold;
    font-size:13px;
}
.category-up-down{
    width : 20px;
    float: left;
    padding-left: 20px;
    text-decoration: none;
}
.category-up-down a{
    text-decoration: none;
}
#category-list li div .category-up-down a:hover{
    text-decoration: none;
}
.inactive{
    width : 20px;
    float: left;
    padding-left: 20px;
    visibility: hidden;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 65px;

}
#category-list li div.category-marks {
    font-size : 13px;
    width : 65px;
    font-weight:bold;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

#inner-tab-menu ul li {
    background-color:#2C237E;
    color:#FFFFFF;
    float:right;
    font-size:0.9em;
    height:1.5em;
    list-style-type:none;
    margin:0 10px 0 0;
    padding:3px 3px;
    text-align:center;
    width:100px;
}

p{
    font-size:13px;
}
#form-content{
    height:150px;
    width:500px;
    margin:20px auto;
}
.course-select{
    width:500px;
    margin:20px auto;
}