
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#2C237E;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin:0px auto;
}

#subjects{
    width:750px;
    margin:0px auto;
}

.submit_button {
    margin-top:15px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}


#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:700px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : auto;
    min-height: 25px;
    list-style-type : none;
    padding : 10px;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height: auto;
    min-height: 25px;
    list-style-type : none;
    padding : 10px;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em;
    width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    font-size: 13px;
    font-weight: bold;
    width: 45%;
}

#category-list li div.category-code {
    width : 100px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 65px;

}
#category-list li div.category-assign{
    font-size : 0.9em;
    width : 120px;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

#category-list li .opt{
    float: right;
}

.add_sub a {
    color:black;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.add_sub a:hover{
    color:#2C237E;
    text-decoration: none;
}

.add_sub{
    margin-bottom: 5px;
}

h5{
    color: #444444;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
}

#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 0 1px 20px;
}





/*added by roshan*/


#form-content {
    border : 1px solid #becffb;
    background-color : #f8f8f8;
    height : auto; width : 600px;
    margin : auto;
    padding : 30px 0 20px 40px;
}
.label-field-pair {
    margin-top : 0px;
    margin-left : 30px;
}
.label-checkbox-pair {
    height : 50px;
    margin-left : 30px;
    padding: 0 0 0 10px;
}
.submit-button{
    width:100px;
    margin:0px auto;
}
#MB_frame .submit-button {
    -moz-border-radius:8px 8px 8px 8px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    font-weight:bold;
    margin:0 0 0 211px;
    padding:5px;
}

.submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
table#class-timings-list{
    background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px;
}

table#class-timings-list tr.tr-head{
    background: #fff;
    color:#2C237E;
    font-weight:bold;
    text-align:left;
}

table#class-timings-list .tr-head td{
    padding:5px;
    padding-left:10px;
}

table#class-timings-list .tr-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}

table#class-timings-list .tr-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;

}

table#class-timings-list .tr-read-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}

table#class-timings-list .tr-read-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}

table#class-timings-list td.col-1{
    width:10%;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td.col-2{
    width:40%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td a{
    text-decoration:none;
    color:#27292b;
}

table#class-timings-list td a:hover{
    color:#2C237E;
    text-decoration:underline;
}

table#class-timings-list td.col-3{
    width:13%;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td.col-4{
    width:30%;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td.col-5{
    width:5%;
    padding: 5px;
    padding-left:10px;
}

table#class-timings-list td.col-6{
    text-align: right;
    width:13%;
    padding: 5px;
    padding-left:10px;

}

.linker a {
    color:black;
    text-decoration:underline;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.linker a:hover{
    color:#2C237E;
    text-decoration: none;
}

.linker{
    margin-bottom: 5px;
}
.time-select-field select {
    visibility: visible !important;
}
#MB_frame .label-field-pair select
{
    width: 87px !important;
}