<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/manage_news/manage_news_logo.png") %>
  <h1><%= t('events') %></h1>
  <h3><%= t('edit_event') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <%= flash[:notice] %>
  <% form_for :event do |f| %>
    <%= error_messages_for 'event' %>
    <div class="label-field-pair">
      <label for="start-date"><%= t('start_date') %>:</label>
      <div class="text-input-bg"><%= calendar_date_select_tag "event[start_date]", I18n.l(@event.start_date.to_date,:format=>("%Y-%m-%d %H:%M")), :time => true, :readonly=>true, :popup=>"force"%></div>
    </div>
    <div class="label-field-pair">
      <label for="end-date"><%= t('end_date') %>:</label>
      <div class="text-input-bg"><%= calendar_date_select_tag "event[end_date]", I18n.l(@event.end_date.to_date,:format=>("%Y-%m-%d %H:%M")), :time => true , :readonly=>true, :popup=>"force" %></div>
    </div>
    <div class="label-field-pair">
      <label for="title"><%= t('title') %>:</label>
      <div class="text-input-bg"><%= f.text_field :title %></div>
    </div>
    <div class="label-field-pair">
      <label for="description"><%= t('description') %>:</label>
    </div>
    <%= f.text_area "description" %>
    <div class="label-field-pair">
      <label for="created_by"><%= t('created_by') %>:</label>
      <div class="text-input-bg"><%= f.text_field :created_by, :readonly=> true, :value => @current_user.username %></div>
    </div>
    <%= f.submit "►#{t('update_event')}" %>
  <% end %>
</div>
