<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/manage_news/manage_news_logo.png") %>
  <h1><%= t('event_text') %></h1>
  <h3><%= t('confirmation') %></h3>
  <div id="app-back-button">
    <%= link_to image_tag("/images/buttons/back.png", :border => 0), :back %>
  </div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>


  <div class="detail-box">
    <div class="label themed_text">  <%= t('title') %> :</div>
    <div class="description">
      <%= @event.title %>
    </div>
    <div class="extender"></div>
    <div class="label themed_text"><%= t('description') %>:</div>
    <div class="description">
      <%= @event.description %>
    </div>
    <div class="extender"></div>
    <div class="label themed_text">
      <%= t('start_date') %> :</div>
    <div class="description">
      <%= @event.start_date %>
    </div>
    <div class="extender"></div>
    <div class="label themed_text"><%= t('end_date') %>:</div>
    <div class="description">
      <%= @event.end_date %>
    </div>
    <div class="extender"></div>
  </div>


  <div class="extra">
    <% if @event.is_common == false %>
    <% @command == 'edit' %>
      <%= link_to "► #{t('confirm')}",{ :action=>"confirm_event",:id=>@event.id}, :class=> 'create user_button'%>  <%= link_to "► #{t('cancel')}", { :action=>"cancel_event" , :id=>@event.id },  :class=> 'create user_button' %>
    <% else %>
      <%= link_to "► #{t('confirm')}",{ :action=>"confirm_event",:id=>@event.id}, :class=> 'create user_button'%>  <%= link_to "►  #{t('cancel')}", { :action=>"edit_event" , :id=>@event.id },  :class=> 'create user_button' %>
    <% end %>
  </div>
</div>

