#calendar{
    width:760px;
    float:left;
    margin-top:30px;
}
#head-month{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.header{
    width:420px;
    margin:0px auto;
    margin-bottom:20px;
    padding:15px;
}
.next a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
.month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:300px;
    background: #fff;
    padding:5px 0 5px 0;
    text-align:center;
    float:left;
    font-size:20px;
    color:#121212;
    font-weight:bold;
    margin:0 20px 0 20px;
}
table#calendar-table{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding:10px;
}
tr.week td span{
    background: #fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    color:#2C237E;
    margin:10px;
    padding:4px 6px 4px 6px;
    font-size:14px;
    text-align:center;
    font-weight:bold;
}
tr.week td{
    min-width:100px;
}
tr.day td.today{
    background: #FEFFAF;
}
tr.day td{
    background: #fff;
    height:60px;
    min-width:100px;
}
tr.day td:hover{
    background: #fdffbd;
}
tr.day td span{
    text-decoration: none;
    font-size:10px;
    color:#5f5f5f;
    float:right;
    margin-right:5px;
    margin-top:3px;
    font-weight:bold;
}
td .link{
    width:100%;
    float:left;
    height:20px;
    margin-top:-30px;
}
td .link:hover{
    background: #c3d9ff;
}
td .link a{
    display:none;
}
td .link:hover a{
    display:block;
    width:60px;
    float:left;
    padding-left:5px;
    font-size:13px;
    color:#5f5f5f;
}
td .link:hover span{
    color:#2C237E;
}
td a.event{
    float:left;

}
.blank{
    height:20px;
}
.link-group{
    height:34px;
    margin-left:25px;
    margin-top:-10px;
    position:absolute;
    width:35px;
}
#tooltip_box{
    margin-top:100px;
    width:200px;
    float:right;
}
.title{
    color:#000;
    font-weight: bold;
    float:left;
    padding:12px;
    padding-bottom: 5px;
}
.desc{
    color:#6d6b6b;
    text-align: justify;
    float:left;
    padding:10px;
    padding-top:0px;
    font-size:12px;
    margin-left:2px;
}
.events{
    border-bottom:1px solid #e4e4e4;
}
.current-date{
    padding:5px;
    font-size:20px;
    font-weight: bold;
    border-bottom:1px solid #e4e4e4;
}
#calendar-legend {
    height: 14px;
    padding-left: 128px;
}
#legend-text{
    font-size: 12px;
}
#legend-symbol{
    padding : 3px;
}
#legend-entry{
    float:left;
    width:150px;
    font-weight: bold;
}
.delete{
    font-size:13px;
    text-decoration: none;
}
.delete:hover{
    color:#BB0000;
    text-decoration: none;
}
.legend-icon{
    width:12px;
    height:12px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    margin:4px 3px 3px 3px;
    float:left;
}
.calendar-legend{
    width:12px;
    height:12px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    margin:2px;
}
.image_loading{
    width: 100%;
    float: left;
    height: 20px;
}