<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="subjects-form">
  <p><%= @batch.full_name unless @batch.nil? %></p>

  <% form_remote_for @subject do |f| %>

    <% elective_group_id = (@elective_group.nil? ? nil : @elective_group.id) %>
    <%= f.hidden_field :elective_group_id, :value => elective_group_id %>

    <div id="form-errors"></div>

    <div class="label-field-pair">
      <div class="label-container"><label><%= t('name') %></label></div>
      <div class="input-container"><%= f.text_field :name %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('page_no') %></label></div>
      <div class="input-container"> <%= f.text_field :page_no %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('duration') %></label></div>
      <div class="input-container"> <%= f.text_field :duration %></div>
    </div>
	<div class="label-field-pair">
      <div class="label-container"><label><%= t('tutor_name') %></label></div>
      <div class="input-container"> <%= f.text_field :tutor_name %></div>
    </div>
<!--
    <% if @batch and (@batch.cwa_enabled? or @batch.gpa_enabled?) %>
      <div class="label-field-pair">
        <div class="label-container"><label>Credit Hours</label></div>
        <div class="input-container"> <%= f.text_field :credit_hours %></div>
      </div>
    <% end %>
-->
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('completed') %></label></div>
      <div class="input-container"><%= f.check_box :checklist %></div>
    </div>

    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>

  <% end %>
</div>
