<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.
-%>

<!--
<%  unless @batch.nil? %>
  <div class="add_sub">
    #<%= link_to_remote "#{t('add_normal_subject')}", :url => { :action => 'new', :id => @batch } unless defined? @elective_group %>
  </div>
<%  end %>
-->
<% unless @subjects.empty? %>
  <table id="class-timings-list" width="100%">
      <tr class="tr-head">
        <td><%= t('subject_title') %></td>
        <td><%= t('page_no') %></td>
        <td><%= t('duration') %></td>
        <td><%= t('checklist') %></td>
        <td><%= t('tutor_name') %></td>                
        <td><%= t('operations') %></td>
  </tr>
    <% unless params[:subject].nil? %>
      <% if params[:subject][:elective_group_id]=="" %>
        <div class="add_sub">
          <%= link_to_remote t('add_subject_to_module'), :url => { :controller=>"subjects",:action => 'new', :id => @batch,:id2=> params[:subject][:elective_group_id]} if defined? @elective_group%>
        </div>
      <% end %>
    <% end %>
    <% @subjects.each do |subject| %>
      <li id="subject-<%= subject.id %>" class="list<%= cycle('even','odd')%>" >
        <div class="category-name"><%= subject.name %></div>
        <div class="opt">
          <div class="category-code"><%= subject.page_no %></div>
          <div class="category-edit"><%= link_to_remote(t('edit_text'),
              :url => { :controller=>"subjects",:action => 'edit', :id =>subject,:id2=>@elective_group},
              :method => 'get' ) %> </div>
          <div class="category-delete">
            <% @subject_exams= Exam.find_by_subject_id(subject.id) %>
            <% @subject_timetable = TimetableEntry.find_all_by_subject_id(subject.id) %>
            <% if @subject_exams.blank? and @subject_timetable.blank?%>
             <%= link_to_remote(t('delete_text'),
                :url => subject_path(subject),
                :method => 'delete',
                :confirm => t('delete_confirm_msg'),
                :update => "subject-#{subject.id}") %>
            <% else %>
              <s><%= t('delete_text') %></s>
            <% end %>
          </div>
          <!--
          <% unless subject.elective_group_id.nil? %>
            <div class="category-assign"><%= link_to "#{ t('assign_student')}", :controller=>"student", :action=>"electives",:id=>@batch,:id2=>subject.id%>
            </div>
          <% end %>
        -->
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<%  unless @batch.nil? %>
  <div class="add_sub">
    <%= link_to "#{t('new_modules')}", new_batch_elective_group_path(@batch) unless defined? @elective_group  %>
  </div>
<%  end %>

<% unless @elective_groups.nil? %>
  <% @elective_groups.each do |e| %>
    <% @esubjects = @batch.elective_batch_subject(e.id)  %>
    <h5><%= link_to e.name, edit_batch_elective_group_path(@batch, e) %> </h5>
      <table id="class-timings-list" width="100%">
      <tr class="tr-head">
        <td><%= t('subject_title') %></td>
        <td><%= t('page_no') %></td>
        <td><%= t('duration') %></td>
        <td><%= t('checklist') %></td>
        <td><%= t('tutor_name') %></td>                
        <td><%= t('operations') %></td>
      </tr>

    <!-- <tr id="category-list"> -->
      <% @esubjects.each do |subject| %>
        <tr id="class-timing-<%= subject.id %>" class="tr-<%= cycle('even','odd')%>" >
          <td class="col-2"><%= subject.name %></td>
          <!--<div class="opt"> -->
            <td class="col-5"><%= subject.page_no %></td>
            <td class="col-5"><%= subject.duration %></td>
            <td class="col-5" style="text-align:center"><%= check_box_tag(nil, subject.checklist, subject.checklist, :disabled => true) %></td>            
            <td class="col-3"><%= subject.tutor_name %></td>
            <td class="col-3"><small><%= link_to_remote( t('edit_text'),
                :url => { :controller=>"subjects",:action => 'edit', :id =>subject,:id2=>@elective_group},
                :method => 'get' ) %> | 
            <!--<div class="category-delete">-->
              <% @subject_exams= Exam.find_by_subject_id(subject.id) %>
              <% @subject_timetable = TimetableEntry.find_by_subject_id(subject.id) %>
              <% if @subject_exams.nil? and @subject_timetable.nil?%>
               <%= link_to_remote( t('delete_text'),
                  :url => subject_path(subject),
                  :method => 'delete',
                  :confirm =>  t('delete_confirm_msg'),
                  :update => "subject-#{subject.id}") %>
              <% else %>
                <s><%= t('delete_text') %></s>
              <% end %>
            </small></td>
            </tr>
            <!--
            <% unless subject.elective_group_id.nil? %>
              <div class="category-assign"><%= link_to "#{ t('assign_student')}", :controller=>"student", :action=>"electives",:id=>@batch,:id2=>subject.id%>
              </div>
            <% end %>
          
          </div>
        </li>
      -->
      <% end %>

    </table>
  <% end %>
<% end %>