<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% cache News.cache_fragment_name do%>
  <%= render :partial=>'news_bar' %>
<% end %>

<% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

<div id="user_options">
  <% if @user.admin? %>
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>Student</p></div>", {:controller => "student", :action => "admission1"},
        :class => "option_buttons", :id => "admission_button", :title => "#{t('admission_link_title')}"%>
    </div>
<!--
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('student_details')}</p></div>", {:controller => "student", :action => "index"},
        :class => "option_buttons", :id => "student_details_button", :title => "#{t('student_link_title')}"%>
    </div>
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p> #{t('manage_users')} </p></div>", {:controller => "user", :action => "index"},
        :class => "option_buttons", :id => "manage_users_button", :title =>t('user_link_title') %>
    </div>
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('manage_news')}</p></div>", {:controller => "news", :action => "index"},
        :class => "option_buttons", :id => "manage_news_button",:title => t('news_link_title') %>

    </div>
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('examinations')}</p></div>", {:controller => "exam", :action => "index"},
        :class => "option_buttons", :id => "examinations_button",:title => "          #{t('manage_examinations')}" %>
    </div>
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('timetable_text')}</p></div>", {:controller => "timetable", :action => "index"},
        :class => "option_buttons", :id => "timetable_button",:title => t('timetable_link_title') %>
    </div>
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('attendance')}</p></div>", {:controller => "student_attendance", :action => "index"},
        :class => "option_buttons", :id => "student_attendance_button", :title => t('attendance_link_title')  %>
    </div>
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('settings')}</p></div>", {:controller => "configuration", :action => "index"},
        :class => "option_buttons", :id => "settings_button", :title => t('setting_link_title') %>
    </div>
-->
    <% if @config.include?('HR') %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>Employee</p></div>", {:controller => "employee", :action => "hr"},
          :class => "option_buttons", :id => "hr_button", :title => t('hr_link_title')%>
      </div>

    <% end %>
<!--
    <% if @config.include?('Finance') %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p> #{t('finance_text')}</p></div>", {:controller => "finance", :action => "index"},
          :class => "option_buttons", :id => "finance_button", :title => t('finance_link_title') %>
      </div>
    <% end %>

  <% elsif @user.student? or @user.parent?%>

    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('my_profile')}</p></div>", {:controller => "student", :action => "profile", :id => @student.id},
        :class => "option_buttons", :id => "student_details_button", :title => "        #{t('view_your_profile')}"  %>

    </div>
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('campus_news')}</p></div>", {:controller => "news", :action => "index"},
        :class => "option_buttons", :id => "campus_news_button",:title => t('news_link_title')%>

    </div>
    
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('timetable_text')}</p></div>", {:controller => "timetable", :action => "student_view",:id=>@student.id},
        :class => "option_buttons", :id => "timetable_button",:title => t('timetable_link_title') %>
    </div>
    
    <div class="button-box">
      <% unless @user.check_reminders == 0 %>
        <div class="reminder1">
          <%= link_to "<div class ='button-label'><p>#{t('reminders')}</p></div>", {:controller => "reminder", :action => "index"},
            :class => "option_buttons", :id => "reminders_button", :title => "         #{t('student_messages')}"%>
          <div class ="count"><%= render :partial => 'layouts/reminder_count' %></div>
        </div>
      <% else %>
        <%= link_to "<div class ='button-label'><p>#{t('reminders')}</p></div>", {:controller => "reminder", :action => "index"},
          :class => "option_buttons", :id => "reminders_button", :title => "         #{t('student_messages')}"%>
      <% end %>
    </div>
    
    <div class="button-box">
      <%= link_to "<div class ='button-label'><p>#{t('academics')}</p></div>", {:controller => "student", :action => "reports",:id => @student.id},
        :class => "option_buttons", :id => "academic_button",:title => "         #{t('academic_reports')}   "  %>
    </div>
    
  <% else %>

    <% if @config.include?('HR') %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('my_profile')}</p></div>", {:controller => "employee", :action => "profile",:id => @employee.id},
          :class => "option_buttons", :id => "my_profile_button", :title => "  #{t('profile_detail')}" unless @employee.nil?%>
      </div>
    <% end  %>


    <% if permitted_to? :admission1, :student %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('admission')}</p></div>", {:controller => "student", :action => "admission1"},
          :class => "option_buttons", :id => "admission_button", :title => "#{t('admission_link_title')}" %>
      </div>
    <%end%>

    <% if permitted_to? :index, :student%>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('student_details')}</p></div>", {:controller => "student", :action => "index"},
          :class => "option_buttons", :id => "student_details_button", :title => t('student_link_title')%>
      </div>
    <%end%>

    <% if permitted_to? :index, :user %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('manage_users')}</p></div>", {:controller => "user", :action => "index"},
          :class => "option_buttons", :id => "manage_users_button", :title => t('user_link_title') %>
      </div>
    <%end%>

    <% if permitted_to? :add,:news %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('manage_news')}</p></div>", {:controller => "news", :action => "index"},
          :class => "option_buttons", :id => "manage_news_button",:title => t('news_link_title')%>
      </div>
    <% else %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('campus_news')}</p></div>", {:controller => "news", :action => "index"},
          :class => "option_buttons", :id => "campus_news_button",:title => t('news_link_title')%>
      </div>
    <%end%>

    <% if permitted_to? :leave_management, :employee %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('leaves')}</p></div>", {:controller => "employee", :action => "leave_management"},
          :class => "option_buttons", :id => "leaves_button", :title => "#{t('leave_management')}"%>

      </div>
    <%else%>
      <% if @config.include?('HR') %>
        <div class="button-box">
          <%= link_to "<div class ='button-label'><p>#{t('leaves')}</p></div>", {:controller => "employee_attendance", :action => "leaves",:id => @employee.id},
            :class => "option_buttons", :id => "leaves_button", :title => "#{t('leave_details')}." unless @employee.nil?%>

        </div>
      <%end%>
    <%end%>

    <div class="button-box">
      <% unless @user.check_reminders == 0 %>
        <div class="reminder1">
          <%= link_to "<div class ='button-label'><p>#{t('reminders')}</p></div>", {:controller => "reminder", :action => "index"},
            :class => "option_buttons", :id => "reminders_button", :title => "#{t('employee_messages')}"%>
          <div class ="count"><%= render :partial => 'layouts/reminder_count' %></div>
        </div>

      <% else %>
        <div class="button-box">
          <%= link_to "<div class ='button-label'><p>#{t('reminders')}</p></div>", {:controller => "reminder", :action => "index"},
            :class => "option_buttons", :id => "reminders_button", :title => "            #{t('student_messages')}"%>
        </div>
      <% end %>
    </div>
    <% if @user.employee? %>
      <% @employee_subjects= @user.employee_record.subjects.collect(&:id)  %>
      <% if @employee_subjects.empty?%>

        <% if permitted_to? :index, :student_attendance or  permitted_to? :index, :attendances and @employee_subjects.present? or @user.privileges.map{|p| p.name}.include?("StudentAttendanceView") or @user.privileges.map{|p| p.name}.include?("StudentAttendanceRegister") %>
          <div class="button-box">
            <%= link_to "<div class ='button-label'><p>#{t('attendance')}</p></div>", {:controller => "student_attendance", :action => "index"},
              :class => "option_buttons", :id => "student_attendance_button", :title => t('attendance_link_title') %>
          </div>
        <%end%>


        <% if permitted_to? :index, :exam and (@user.privileges.map{|p| p.name}.include?("ExaminationControl") or @user.privileges.map{|p| p.name}.include?("EnterResults") or @user.privileges.map{|p| p.name}.include?("ViewResults")) %>
          <div class="button-box">
            <%= link_to "<div class ='button-label'><p>#{t('examinations')}</p></div>", {:controller => "exam", :action => "index"},
              :class => "option_buttons", :id => "examinations_button",:title => t('exam_link_title') %>
          </div>
        <% end %>
      <% else %>
        <% @attendance_type = Configuration.find_by_config_key('StudentAttendanceType') %>
        <% unless @attendance_type.config_value == 'Daily' %>
          <div class="button-box">
            <%= link_to "<div class ='button-label'><p>#{t('attendance')}</p></div>", {:controller => "student_attendance", :action => "index"},
              :class => "option_buttons", :id => "student_attendance_button", :title => t('attendance_link_title') %>
          </div>
        <% else %>
          <div class="button-box">
            <% if permitted_to? :index, :student_attendance or  permitted_to? :index, :attendances %>
              <%= link_to "<div class ='button-label'><p>#{t('attendance')}</p></div>", {:controller => "student_attendance", :action => "index"},
                :class => "option_buttons", :id => "student_attendance_button", :title => t('attendance_link_title')%>
            <%end%>
          </div>
        <% end %>
        <div class="button-box">
          <%= link_to "<div class ='button-label'><p>#{t('examinations')}</p></div>", {:controller => "exam", :action => "index"},
            :class => "option_buttons", :id => "examinations_button",:title => t('exam_link_title') %>
        </div>
      <% end  %>
    <% end %>

    <% if permitted_to? :index, :timetable %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('timetable_text')}</p></div>", {:controller => "timetable", :action => "index"},
          :class => "option_buttons", :id => "timetable_button",:title => t('timetable_link_title') %>
      </div>
    <%end%>

    <% if permitted_to? :index, :configuration %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('settings')}</p></div>", {:controller => "configuration", :action => "index"},
          :class => "option_buttons", :id => "settings_button", :title => t('setting_link_title') %>
      </div>
    <% end %>
    <% if @config.include?('HR') %>
      <% if permitted_to? :hr,:employee %>
        <div class="button-box">
          <%= link_to "<div class ='button-label'><p>#{t('human_resources')}</p></div>", {:controller => "employee", :action => "hr"},
            :class => "option_buttons", :id => "hr_button", :title => t('hr_link_title') %>
        </div>
      <% end %>
    <% end %>

    <% if permitted_to? :index,:finance %>
      <div class="button-box">
        <%= link_to "<div class ='button-label'><p>#{t('finance_text')}</p></div>", {:controller => "finance", :action => "index"},
          :class => "option_buttons", :id => "finance_button", :title =>t('finance_link_title') %>
      </div>
    <% end %>

  <% end %>
-->
  <% FedenaPlugin::AVAILABLE_MODULES.each do |mod| %>
    <% unless mod[:dashboard_menu].blank? %>
      <% if can_access_request? "#{mod[:dashboard_menu][:action]}".to_sym,"#{mod[:dashboard_menu][:controller]}".to_sym %>
        <div class="button-box">
          <%= link_to "<div class =\"button-label\"><p>#{t("#{mod[:dashboard_menu][:title]}")}</p></div>", {:controller => "#{mod[:dashboard_menu][:controller]}", :action => "#{mod[:dashboard_menu][:action]}"}, :class=>"#{mod[:dashboard_menu][:options][:class]}", :id=>"#{mod[:dashboard_menu][:options][:id]}", :title=>"#{t("#{mod[:dashboard_menu][:options][:title]}")}" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>

<div id="option_description"> </div>

<script type="text/javascript">
  $$('#user_options .button-box').each(function(ele, index){
    if(index%5 == 0){
      ele.addClassName("left-button");
    }
  });
</script>