
#page-yield {
    margin-top : 20px;
}
#profile_picture_display {
    float:left;
    width:125px;
    height:125px;
    margin-left:50px;
    border:8px solid #EFEFD1;
}
#profile_picture_display img {
    width:125px;
    height:125px;
    /*padding-top:25px;
    padding-left:32px;*/
}
#student_main_info {
    float:left;
    margin-left:50px;
    width:400px;
}
#student_main_info h3 {
    margin:0;
    padding:0;
    margin-top:25px;
}
#student_main_info h4 {
    margin:0;
    padding:0;
    color:#2C237E;
    margin-top:10px;
}
#student_main_info h6 {
    margin:0;
    padding:0;
    color:#2C237E;
    margin-top:5px;
}
#student_main_info h5 {
    background-color:#eee;
}
#edit_student_profile {
    clear:both;
    margin:0 auto;
    padding-left:170px;
}
#new_profile_info_top {
    margin:30px auto;
    width:697px;
   
}
/*
.new_profile_info_area1 {
    height:87px;
    width:682px;
   
}*/
.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-right:5px;
}
.profile_info_text_top a{
    color:#000;
}
.profile_info_text_top a:hover{
    color:#BB0000;
}
.profile_info_label_top2 {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    margin-right:5px;
}
.profile_info_label1 {
    padding-top:15px;
    height:25px;
    width:120px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
}
.profile_info_text_top {
    padding-top:15px;
    padding-bottom:5px;
    padding-left:20px;
    height:25px;
    width:500px;
    float:left;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    }
.profile_info_text_top2 {
    padding-top:15px;
    padding-bottom:5px;
    padding-left:20px;
    height:25px;
    width:500px;
    float:left;
    font-weight:bold;
    color:#000;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    }
.profile_info_text {
    padding-top:15px;
    padding-left:20px;
    height:25px;
    width:500px;
    float:left;
    font-weight:bold;
    color:#000;
}
.profile_info_text span {
    font-weight : normal;
    font-size : 0.9em;
}
.profile_info_text a {
    color : #95060C;
}
.user_button {
    margin-top:40px;
    margin-left:270px;
}
.profile_top_banner{
    position:absolute;
    float:right;
    padding-left:528px;
    margin-top:-10px;
    
}
#student_profile_heading{
    width:800px;
    margin:0px auto;
}
.user_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}
.user_button a{
    color:#fff;
    text-decoration: none;
}
.user_button:hover{
   background:  #373B3F;
}

.odd{
    height:auto;
    background: #eff3fe;

    margin-right:5px;
}
.odd td{

    font-weight:bold;
    padding:10px 10px 10px 10px;
   border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: left;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: right;
}
.even{

    height:auto;

    background: #dae6ff;
    margin-right:5px;
}
.even td{

    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}
.profile{
   -moz-transform: rotate(37deg);  /* FF3.5+ */
    -o-transform: rotate(37deg);  /* Opera 10.5 */
    -webkit-transform: rotate(37deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(37deg);  /* IE9 */
    transform: rotate(37deg);
    background: transparent/9;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 $ IE9*/
    zoom: 1;
    color: #FFFFFF;
    font-size: 21px;
    position: absolute;
    font-weight: 200;
    /*padding-left: 95px;
    padding-top: 11px;*/
    width: 128px;
    padding-top: 27px;
    text-align: center;
    height: 250px
}
.profile-topbanner{
    width: 185px;
    height: 135px;
    background: url(/images/master_student/profile/topbanner.png);
}