/* Autocomplete
   ----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') left center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
   ----------------------------------*/
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    border: 1px solid #e7e7e7;
    border-top: none;
    display:block;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu {
    margin:2px 0px 2px 0px;
    padding: 0px;
    font-size: 13px;
    background-color: #fefdf9;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .8em;
    line-height:1.3;
    zoom:1;
}
.ui-menu-item{
    width: 100%;
    padding:0px;
    margin: 1px 0px 1px 0px;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    background-color: #f8f1d1;
    color: #2C237E;
}
#autosuggest_menu_input{
    background: url("../../images/search.png") no-repeat scroll 2px 50% #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 1px 1px 1px 1px;
    font-size: 13px;
    padding: 2px;
    padding-left: 25px;
}
li.ui-menu-item a.action{
border-right: 2px solid #2C237E;
}