#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	right: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position:absolute;
	top: 0;
	border: 0 solid;
	text-align:right;
	z-index:10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position:relative;
	background-color: #fff;
	/*height:100%;*/
        -moz-border-radius:12px;
        -webkit-border-radius:12px;
}

#MB_header {
	margin:0;
	height: 35px;
        -moz-border-radius:12px;
        -webkit-border-radius:12px;
}

#MB_content {
	padding: 6px .75em;
	overflow:auto;
}

#MB_caption {
	font: bold 85% "Lucida Grande", Arial, sans-serif;
	text-shadow: #FFF 0 1px 0;
	padding: .5em .75em 0 2em;
	margin: 0;
	text-align: right;
}

#MB_close {
	display:block;
	position:absolute;
	left:15px; top:8px;
	padding:2px 3px;
	font-weight:bold;
	text-decoration:none;
	font-size:13px;
}
#MB_close span {
    padding-right:7px;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url(spinner.gif) 50% 0 no-repeat;
}

/* Color scheme */
#MB_window {
	color:#000;
}
#MB_caption { color:#000 }
#MB_close { color:#fff;
            font-size:21px;
            background:#2C237E;
            -moz-border-radius:5em;
            -webkit-border-radius:5em;
            height:25px;
            width:25px; }

/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}
