.table{
    background: #c3d9ff;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding:20px;
}
td .top{
    background: #a6c7ff;
    color:#fff;
    font-size:12px;
    padding:5px;
    padding-top:6px;
    padding-bottom:5px;
    text-align:center;
}
td .bottom{
    background: #fff;
    height:50px;
}
td.td-blank{
    background: #c3d9ff;
    width:10px;
}
td.td-blankfill{
    background: #c3d9ff;
    width:auto;
}
tr{
    border:1px solid #000;
}
table#timing{
    background: #a6c7ff;
    margin-bottom: 20px;
}
td .bottom .subject{
    height: 23px;
    padding-top: 10px;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
td .bottom .employee{
    height: 15px;
    font-size:11px;
    text-align:center;
    background: #eaf2ff;
    color:#898989;
    border-top:2px solid #b2cfff;
    border-bottom:2px solid #b2cfff;
}
.course{
    color:#2C237E;
    text-align:center;
    padding: 15px 5px 5px 5px;
    font-weight: bold;
    font-size:13px;
}
td.head{
    width:80px;
}


.next a{
    float:right;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:right;
    -moz-border-radius:40px;
    -webkit-border-radius: 15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
.month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:400px;
    background: #fff;
    padding:6px 0;
    text-align:center;
    float:right;
    font-size:16px;
    color:#121212;
    font-weight:bold;
    margin:0 5px;
}
#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:10px;
    margin-bottom:10px;
}
.header{
    width:520px;
    margin:0px auto;
    padding:4px 0 1px;
}

a.user_button:hover{
    background:  #373B3F;
}


.user_button  {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}

.outer-table1{
    width: 1700px;
    overflow: auto;
}
.outer-table{
    width: 950px;
    overflow: auto;
}