<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/show_settings.png") %>
  <h1><%= t('course_text') %></h1>
  <h3><%= "#{t('manage_batch')}" %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
<!--    
    <% if permitted_to? :index ,:grading_levels %>
      <li><%= link_to "#{t('grading_system')}", grading_levels_path %></li>
    <% end %>
    -->
    <li><%= link_to "#{t('batch_transfer')}", :controller => 'batch_transfers' %></li>
  </ul>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('configuration_text'), :controller => "configuration", :action=>"index" %> &raquo;
    <%= link_to "#{t('courses_text')}", :controller => "courses", :action => "index" %> &raquo;
    <%= t('manage_batch') %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div class="label-field-pair">
      <label for="student_course"><%= "#{t('select_a_course')}" %>:
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </label>
      <div class="text-input-bg">
        <%= select :course, :name,
          Course.active.map {|b| [b.course_name + " " + b.section_name, b.id]},
          {:prompt => "#{t('select_a_course')}"},
          {:onChange => "#{remote_function(:url => {:action => "update_batch"},
          :with => "'course_name='+ value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"
          )}"} %>
      </div></div>

    <div id="update_batch" ></div>
    <div class="extender"></div>
  </div></div>