<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/show_settings.png") %>
  <h1><%= t('courses_text') %></h1>
  <h3><%= t('show') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('new_text')}", new_course_batch_path(@course) %> </li>
    <!--<li><%= link_to "Group Batches", {:controller=>"courses", :action=>"grouped_batches", :id=>@course.id} %> </li>-->
    <% if permitted_to? :edit, :course %>
      <li><%= link_to "#{t('edit_text')}", edit_course_path(@course) if permitted_to? :edit, :course %></li>
    <%  end %>
    <% if permitted_to? :destroy, :course %>
      <li><%= link_to("#{t('delete_text')}", course_path(@course), :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") %></li>
    <%  end %>
<!--
    <% if permitted_to? :assign_subject_amount, :courses %>
      <li><%= link_to "#{t('assign_subject_amount')}", assign_subject_amount_courses_path(:id => @course.id) %></li>
    <% end %>
    -->
  </ul>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('configuration_text'), :controller => "configuration", :action=>"index" %> &raquo;
    <%= link_to "#{t('courses_text')}", :controller => "courses", :action => "index" %> &raquo;
    <%= link_to "#{t('manage_course')}", :controller => "courses", :action => "manage_course" %> &raquo;
    <%= @course.full_name %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">


    <ul id="category-list">

      <% @batches.each do |batch| %>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="category-name"><%= link_to batch.full_name, [@course, batch] %></div> <div class="category-edit"> <%= link_to "#{t('edit_text')}", edit_course_batch_path(@course, batch) if permitted_to? :edit, :batches %></div><div class="category-delete">   <%= link_to("#{t('delete_text')}", [@course, batch], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}")  if permitted_to? :destroy, :batches %></div>
        </li>
      <% end %>

    </ul>

    <div class="extender"></div>
  </div>
</div>
