.link-box {
    margin:10px 40px;
    height:15px;
}
.link-heading a {
    font-weight:bold;
    color:#2C237E;
}
.submit_button {
    margin-top:18px;
    margin-left:212px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.box{
    width:500px;
    margin:0px auto;
}
.bread_crumb {
 margin-left: 10px;
}