#student-details {
    background-color:#FFF1AB;
    border:1px solid #EFDF95;
    clear:both;
    height:20px;
    margin:0 0 40px;
    padding:5px 0 0 90px;
}
#student-details h3 {
    display : inline;
    float : left;
    font-size:14px;
    margin : 0 0 20px 0;
    width : 350px;
    text-align:center;
}
#student-details h4 {
    display:inline;
    float:left;
    font-size:14px;
    margin:0 0 10px;
    min-width:200px;
    padding-right:10px;
}
#remove-student {
    float : left;
    padding : 20px 0 0 340px;
    width : 500px;
    margin:0px auto;
}
#remove-student p {
    font-size : 95%;
    text-align : justify;
    width : 385px;
    margin : 5px 0 15px 0;
}
#remove-student h4 {
    color : #2C237E;
    margin : 0;
    padding : 0;
}
.submit-button {
    float : left;
}
#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    margin-left:172px;
    padding:7px 12px;
    border:none;
    text-align:center;
    cursor:pointer;
}
.label-field-pair label{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:160px;
}
#submit-button input:hover{
    background:#373b3f;
}


.user_button  {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}

#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
    margin:0px auto;
}
#category-list .listheading{
       background : #BECFFB;
    border-bottom: 2px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
    width:32em;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}

.heading-no {
font-size:13px;
font-weight:bold;
width:204px;
}
#category-list li div.category-name {
    width : 250px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-number {
    width : 173px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
