
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 250px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

.linker a {
    color:black;
    text-decoration:underline;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.linker a:hover{
    color:#2C237E;
    text-decoration: none;
}

.linker{
    margin-bottom:5px;
    margin-right:40px;
    text-align:right;
}



.name{
    color: #999999;
    float: left;
    width: 160px;
    font-weight: bold;
    font-size: 13px;
}

.val {
    color: #2C237E;
    font-weight: bold;
    font-size: 13px;
}

.val span{
    margin-right:12px;
    color: black;
}