/*
    Document   : newCascadeStyleSheet
    Created on : Jul 4, 2009, 11:18:19 AM
    Author     : Fedena
    Description: Style for admission pages
*/


.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}

#autofill-area .label-field-pair {
    margin:0 95px 10px 0;
}
#admission1_form {padding-left:50px;}

.student_admission_date {
    float:left;
    height:80px;
    width:450px;
}
.student_admission_date label {
    color:#444444;
    display:block;
    float:left;
    margin:0 0 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
}
.text-input-bg-admission input  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
    text-align: left;
}


.submit_button3{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px 0 0 270px;
    width:auto;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.submit_button3:hover{
   background:  #373B3F;
}
.text_display {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    height:17px;
    float:left;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
}
.sub-heading{
    background:#2C237E;
    height: 1px;
    border: none;
    margin-bottom: 15px;
}
.span-sub-heading{
    font-weight: bold;
    padding-top:10px;
}













.label_field_pair label {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: 600;
}

.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}


.label_for_student_gender{
    display:block;
    color:#444;
    margin-bottom:10px;
    width:200px;
    float:left;
}
.student_gender_value{
    width:300px;
    float:left;
    padding-top: 5px;
}
.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}

.label_field_pair .label_for_gender {
    margin:0;
    display:block;
    padding-top:5px;
    padding-right:10px;
    padding-left:10px;
}
#student_gender_true,
#student_gender_false {
    margin:0;
    padding:0;
    width:20px;
    display:inline;
    margin-bottom:10px;
    display:block;
    float:left;
}
















.label-field-pair-text-area{
    height:110px;
    padding-top:3px;
    width:600px;

}

.label-field-pair-text-area label{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}

.textarea-input-bg {
    background:none repeat scroll 0 0 transparent;
    float:left;
}

.label-field-pair-text-area textarea {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 0 0 10px;
    padding:5px;
    font-size:14px;
}





