#fl {
    position: relative;
    width: 2480px;
}

#page-background {
    position: absolute;
    top: 0;
    left: 0;
}

#space_a{
    position: absolute;
    margin-top: 480px;
    margin-left: 200px;
    margin-right: 200px;

    left: 0;
    z-index: 10;
}


#space_b{
    position: absolute;
    margin-top: 550px;
    margin-left: 200px;
    margin-right: 200px;

    left: 0;
    z-index: 10;
}

.table_a {
border : 0;
font-size: 43px;
font-family: 'CenturyGothicRegular';
font-weight: normal;
font-style: normal;
}

.table_b {
border : 0;
font-size: 43px;
font-family: 'CenturyGothicBold';
font-weight: bold;
font-style: bold;
}

.cgnormal{
    font-family: 'CenturyGothicRegular';   
    font-weight: normal;
    font-style: normal;
    font-size: 43px;
}

.cgnormal_inline{
    font-family: 'CenturyGothicRegular';   
    font-weight: normal;
    font-style: normal;
    font-size: 43px;
    display:inline
}

.cgbold{
     font-family: 'CenturyGothicBold';   
     font-weight: bold;
     font-style: bold;
     font-size: 43px;
}

.cgbold_inline{
     font-family: 'CenturyGothicBold';   
     font-weight: bold;
     font-style: bold;
     font-size: 43px;
     display:inline

}

.senormal{
    font-family: 'SegoeNormal';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
}

.sebold {
     font-family: 'SegoeBold';   
     font-weight: bold;
     font-style: bold;
     font-size: 43px;
}


        @font-face {
            font-family: "CenturyGothicRegular";
            src: url("../fonts/CenturyGothicRegular.ttf") format("truetype");
            font-weight: normal;
	    font-style: normal;
        }


        @font-face {
            font-family: "CenturyGothicBold";
            src: url("../fonts/CenturyGothic_Bold.ttf") format("truetype");
	    font-weight: bold;
	    font-style: bold;
        }


        @font-face {
            font-family: "SegoeNormal";
            src: url("../fonts/segoesc.ttf") format("truetype");
            font-weight: normal;
            font-style: normal;
        }


        @font-face {
            font-family: "SegoeBold";
            src: url("../fonts/segoe_bold.ttf") format("truetype");
            font-weight: bold;
            font-style: bold;
        }
