

#view_all, #view_hostel  {margin-left:50px;}
#view_all, #view_hostel a {font-weight:bold;color:#000;}

#view_hostel  {margin-left:50px;}
#view_hostel a {font-weight:bold;color:#000;}

#search_box_bg{width:714px;padding-left:50px;margin-top:10px; overflow: hidden; height:50px;padding-top:10px; }

#search_box_bg label{padding-top:0px;color:#555;font-size:16px; float:left; width:80px; font-weight: bold;}
#search_textbox input{
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin : -5px 0 0 10px;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
}

.radio_button{width:400px; margin-top:0px; height:25px;color:#555; float:left; font-size:13px;}
#information{height:auto;width:100%;margin:0px auto;padding-left:0px; margin-top:30px;}
#no_result{font-weight:bold;color:#2C237E}
#ajax_result {padding:10px 0 10px 0;width:204px;float:left;}
#ajax_result a{color:#000;font-weight:bold; text-decoration:none;}
#ajax_result a:hover{color:#2C237E; text-decoration:underline;}

/* ALL STUDENT CSS */

#all_students{margin:0px; padding:0px; height:300px; width:725px; margin:20px 0 0 40px;}
#student_name{padding:10px 10px 10px 0;text-decoration:none;width:230px;float:left;background:#fff url(../../images/student_details/ajax_result_underline.jpg) bottom left no-repeat}
#student_name a {text-decoration:none;color:#000;font-weight:bold}
.students-on-one-line {
    background : #fff url(../../images/student_details/ajax_result_underline.jpg) bottom left repeat-x;
    overflow: auto;
    width:816px;
    margin-bottom: 20px;
}
#search_textbox input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
body #content_wrapper{
    width:980px;
    height:auto;
    overflow: hidden;
}
#side_bar{
    float: left;
    width: 200px;
}
#content {
    padding-bottom:33px;
    float:left;
    width:980px;
    height: auto;
}
#sidebar_news_area{
    float: none;
}
#footer {
background:url("/images/foot.png") repeat-x scroll 0 0 transparent;
height:66px;
width:100%;
}