#form-contents{
    padding:0 10px 0 10px;
    width:500px;
    float:left;
}

#bank-details{
    width:400px;
}

#bank-details-label{
    color:#BB0000;
    font-weight:bold;
    margin-bottom:20px;
    text-decoration:underline;
}

.label-fields{
    margin:0 0 20px 0;
}

.div-labels{
    float:left;
    color : #444;
    font-weight : bold;
    padding:10px 0 0 0;
}



.text-input-bg1 select {
    background-color : #eee;
    border : 0;
    margin : 5px 0 0 10px;
    width : 210px;
}

.save-proceed-button input{
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-right: 73px;
    margin-top: 8px;
    padding: 7px 10px;
}
.save-proceed-button1 input{
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-right: -10px;
    margin-top: 8px;
    padding: 7px 10px;
}
.sub-heading{
    background:#2C237E;
    height: 1px;
    border: none;
    margin: 0 10px 15px 10px;
}
.span-sub-heading{
    font-weight: bold;
    padding-top:10px;
    padding-left:10px;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.user_button{
    margin-top: 8px;
}
.save-button{
    position:relative;
}
.ajax-subject{
    width:400px;
    float: left;
}
#subject{
    margin-top:25px;
}
#save-proceed-button{
    width:300px;
}
.ajax-subject a{
    color:#2C237E;
    font-weight:bold;
}


li div.sub-name {
    float:left;
    font-size:13px;
    font-weight:bold;
    width:174px;
}


li div.sub-mark {
    float : left;
    font-size : 0.9em;
    width : 50px;

}

li div.prev_subject{
    float: left;
    width: 250px;

}

.ajax-subject li{
    width: 300px;
}


.name{
    color: #999999;
    float: left;
    width: 160px;
    font-weight: bold;
    font-size: 13px;
}

.val {
    color: #2C237E;
    font-weight: bold;
    font-size: 13px;
    float: left;
    width: 50px;
}

.val span{
    margin-right:12px;
    color: black;
}

.box{
    width: 600px;
    margin:0 auto;
}
ul{

}

.delete{
    float: left;
    margin-top: -2px;
    margin-left: 5px;
}
#added-subjects{
    width:100%;
    float: left;
}
#added-subjects li {
    display: block;
    width: 100%;
    float: left;
}
