<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('courses_text') %></h1>
  <h3><%= t('edit_batch') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <div class="bread_crumb">
      <%= link_to "#{t('courses_text')}", courses_path %> &raquo;
      <%= link_to @course.full_name, @course %> &raquo;
      <%= link_to "#{t('batch')} #{@batch.name}" %> &raquo;
      <%= t('edit_text') %>
    </div>


    <% form_for [@course, @batch] do |f| %>

      <div class="label-field-pair">
        <div class="label-container"><%= t('name') %></div>
        <div class="input-container"><%= f.text_field :name %></div>
      </div>



        <div class="label-field-pair">
          <div class="label-container"><%= "Branch" %></div>
          <div class="text-input-bg"><%= f.select :branch, ["Kuala Lumpur", "Penang", "Johor"]%></div>
        </div>



      <div class="label-field-pair">
        <div class="label-container"><%= t('start_date') %></div>
        <div class="input-container"><%= calendar_date_select_tag 'batch[start_date]',I18n.l(@batch.start_date.to_date, :format=>:default), :popup => "force"%></div>
      </div>

      <div class="label-field-pair">
        <div class="label-container"><%= t('end_date') %></div>
        <div class="input-container"><%= calendar_date_select_tag 'batch[end_date]',I18n.l(@batch.end_date.to_date, :format=>:default) ,:popup => "force"%></div>
      </div>

      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>


    <% end %>

    <div class="extender"></div>
  </div>
</div>
