<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= image_tag("/images/show_settings.png") %>
  <h1><%= t('configuration_text') %></h1>
  <h3><%= t('configuration_text') %> <%= t('home') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="box">

    <% if permitted_to? :create, :courses %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_course_batch')}", courses_path %></div>
        <div class="link-descr"><%= t('add_a_new_course_or_batch') %></div>
      </div>
    <% end %>
<!--
    <% if permitted_to? :settings, :configuration %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_student_category')}", :controller => "student", :action => "categories" %></div>
        <div class="link-descr"><%= t('add_student_category') %></div>
      </div>
    <% end %>
    
    <% if permitted_to? :index, :subjects %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_subject')}", subjects_path %></div>
        <div class="link-descr"><%= t('manage_subjects_corresponding') %></div>
      </div>
    <% end %>
-->

    <% if permitted_to? :settings, :configuration %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('general_settings')}", :action => "settings" %></div>
        <div class="link-descr"><%= t('set_some_general_configuration') %></div>
      </div>
    <% end %>

    <% if permitted_to? :settings, :configuration %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('add_admission_additional_detail')}", :controller=>"student", :action => "add_additional_details" %></div>
        <div class="link-descr"><%= t('set_some_additional_details') %></div>
      </div>
    <% end %>
<!--
    <% if permitted_to? :index, :sms %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('sms_module')}", :controller=>"sms", :action => "index" %></div>
        <div class="link-descr"><%= t('enable_or_disable_sms_settings') %></div>
      </div>
    <% end %>
    -->
  </div>


</div>