<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('teaching_schedule') %></h1>
  <h3><%= "#{t('new_module')}" %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to t('new_text'), new_batch_elective_group_path(@batch) %></li>

  </ul>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="bread_crumb">
    <%= link_to t('courses_text'), courses_path %> &raquo;
    <%= link_to @course.full_name, @course %> &raquo;
    <%= link_to "#{t('batch')} #{@batch.name}", [@course, @batch] %> &raquo;
    <%= link_to "#{t('modules')}", batch_elective_groups_path(@batch) %> &raquo;
    <%= t('new_text')   %>
  </div>
  <div class="box">


    <% form_for [@batch, @elective_group] do |f| %>
      <%= f.error_messages :header_message => nil %>

      <div class="label-field-pair">
        <div class="label-container"> <%= f.label "#{t('name')}" %></div>
        <div class="input-container"><%= f.text_field :name %></div>
      </div>

      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>

    <% end %>

    <div class="extender"></div>
  </div>
</div>