<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('teaching_schedule') %></h1>
  <h3><%= "#{t('show_modules')}" %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to_remote  t('add'), :url => { :controller=>"subjects",:action => 'new', :id => @batch,:id2=>@elective_group} %></li>
  </ul>
</div>
<div id="page-yield">
  <div id="flash-box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div class="bread_crumb">
    <%= link_to t('course_text'), courses_path %> &raquo;
    <%= link_to @course.full_name, @course %> &raquo;
    <%= link_to "#{t('batch')} #{@batch.name}", [@course, @batch] %> &raquo;
    <%= link_to "#{t('modules')}", batch_elective_groups_path(@batch) %> &raquo;
    <%= @elective_group.name %>
  </div>


  <div class="box">


    <div id="subjects">

      <ul id="category-list">
        <% @electives.each do |subject| %>
          <li id="subject-<%= subject.id %>" class="list<%= cycle('even','odd')%>" >
            <div class="category-name"><%= subject.name %></div>
            <div class="category-code"><%= subject.code %></div>
            <div class="category-edit"><%= link_to_remote("#{t('edit_text')} ",
                :url => { :controller=>"subjects",:action => 'edit', :id =>subject,:id2=>@elective_group},
                :method => 'get' ) %> </div>
            <div class="category-delete"><%= link_to_remote("#{t('delete_text')}",
                :url => subject_path(subject),
                :method => 'delete',
                :confirm => t('delete_confirm_msg'),
                :update => "subject-#{subject.id}") %> </div>
            <div class="category-assign"><%= link_to " #{t('assign_student')}", :controller=>"student", :action=>"electives",:id=>@batch,:id2=>subject.id%>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
    <div id="modal-box" style="display:none;"></div>


    <div class="extender"></div>
  </div>
</div>