
#user_edit_form {
    height:30px;
    margin-bottom:20px;
    padding:0;
    background:#fff url(../../../images/create_users/underline_image.jpg) bottom right no-repeat;
}
#user_edit_form img {
    width:22px;
    height:27px;
    float:right;
    margin:0;
    border:0;
    padding:0px 0 0 0;
}
#user_edit_form h4 {
    margin:0;
    padding:0px 40px 0 0;
    color:#2C237E;
}
#edit_user_form {
    width:600px;
    margin:0px auto;
}
#edit_user_form_vertical_block_left {
    border-left: 2px solid #ccc;
    width:290px;
    float:right;
    margin-top:20px;
}
.edit_label_field {
    width:285px;
    float:right;
}
.edit_label_field label {
    font-weight:bold;
    display:block;
    color:#444;
    margin-bottom:10px;
}


.user_button {
    margin-right: 210px;
    margin-top: 0;
}
.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
#necessary-field-notification {
    font-weight : bold;
    padding : 10px 0 30px 0;
}

#inner-tab-menu ul li{
    width:130px;
}
