#view_all, #view_hostel {
    margin-left:50px;
}
#view_all, #view_hostel a {
    font-weight:bold;
    color:#000;
}

#search_box_bg{
    width:910px;
    padding-left:10px;
}
#search_box_bg label{
    padding-top:8px;
    color:#555;
    font-size:16px;
    float:left;
    width:80px;
    font-weight: bold;
}

#search_textbox{
    width:500px;
    height:45px;
    padding-top:10px;
    margin-left:50px;

}

#search_textbox input{
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : -5px 0 0 10px;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
    float: left;
}

#search_textbox input:focus{
    background : #fff;

    border: 1px solid #9e0f15;
}

#information{
    min-height:100px;
    margin-left:0px;
}

#no_result{
    font-weight:bold;
    color:#2C237E
}
#ajax_result {
    padding:10px 0 10px 0;
    text-decoration:none;
    width:204px;
    float:left;
    background:#fff url(../../images/student_details/ajax_result_underline.jpg) bottom left no-repeat
}
#ajax_result a{
    color:#000;
    font-weight:bold
}

.advanced_options{
    margin-left:0;
    margin-top:5px;
    width:600px;
    float: left;
}



.advanced_options select {
    background : transparent;
    border : 0;
    margin : 5px 0 0 10px;
    width : 135px;
}


.advanced-options-select {
    background : #fff url(../../images/form_bg/smalltextbox.jpg) no-repeat;
    height : 43px;
    width : 150px;
    float: left;
}
#form-content{
    width:300px;
    float: left;
}
.bread_crumb {
 margin-left: 10px;
}