.small{
    font-size: 11px;
    float:right;
    width:57px;
}
.small-strike {
    text-decoration:  line-through;
    font-size: 11px;
    float:right;
    width:57px;
}
.submit_button {
    margin-top:15px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float: left;
}
.submit_button:hover{
    background:  #373B3F;
}

.box{
    width:750px;
    margin:0px auto;
}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 10px auto;
    text-decoration: none;
    margin-left: 400px;
    float: left;
}
.user_button:hover{
    background:  #373B3F;
}

.name{
    color: #999999;
    float: left;
    width: 160px;
    font-weight: bold;
    font-size: 13px;
}

.val {
    color: #2C237E;
    font-weight: bold;
    font-size: 13px;
}

.val span{
    margin-right:12px;
    color: black;
}

.linker a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.linker a:hover{
    color:#2C237E;
    text-decoration: none;
}

.linker{
    margin-bottom: 5px;
}

.label-field-pair2 label {
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 200px;
}

.label-field-pair2 {
    height: 80px;
    padding-top: 3px;
    width: 400px;
}

.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 50px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}

.opt{
    margin-left:200px;
    width:199px;
}
table#listing td.col-1 {
    width: 1%;
}
table#listing td.col-3 {
    width: 7;
}
table#listing td.col-2 {
    width: 28%;
}