.link-heading a {
    font-weight:bold;
    color:#2C237E;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
}


.submit_button {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.box{
    width:550px;
    margin:0px auto;
}

#MB_frame .label-field-pair select {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 10px 0 10px;
    padding:5px;
    width:130px;
}


.user_button  {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}



#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:700px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    font-weight: bold;
    font-size:14px;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    font-weight: bold;
    font-size:14px;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 300px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-code {
    width : 100px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-edit,
#category-list li div.category-delete a {
    font-size : 0.8em;
    width : 50px;
    text-decoration: none;
    float: right;
}
#category-list li div.category-assign{
    font-size : 0.9em;
    width : 110px;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}