#form-errors{
    width:457px;
}
#error-box {
    background: url("/images/_global/error.png") no-repeat scroll 10px 14px #FFDEDF;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin: 18px auto 18px 0;
    padding: 1px 0 1px 20px;
    width: 457px;
}

#fee-collections-list ul {
    padding-top : 50px;
    padding-left: 0px;
    width : 500px;
}
#fee-collections-list ul li {
    background : #fff url(../../images/_global/list-bg-repeat.jpg) repeat;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 40px;
}
#fee-collections-list ul li .fee-name,
#fee-collections-list ul li .fee-edit-link,
#fee-collections-list ul li .fee-delete-link {
    float : left;
    margin : 0 10px 0 0;

}
#fee-collections-list ul li .fee-name {
    width : 350px;
}

#fee-collections-list ul li .fee-edit-link a,
#fee-collections-list ul li .fee-delete-link a {
    color : #000;
    text-decoration : none;
}


#submit-button input {
    margin-top:15px;
    margin-left:260px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
#submit-button :hover{
    background:  #373B3F;
}

.box{
    width:750px;
    margin:0px auto;
}

.each_batch{
    font-size: 12px;
    overflow:auto;
    width:198px;
    border-bottom: 1px solid #DDDDDD;
}

.fee_category_scroll {
    height:76px;
    margin-left:258px;
    margin-top:-53px;
    overflow:auto;
    width:205px;

    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    border-radius: 10px 10px 10px 10px;
    max-height: 100px;
    overflow: auto;
    padding: 7px;
}

.sel-list {
    margin-bottom: 2px;
    width: 197px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 14px;
    margin-left: 6px;
}


#form-box{
    width: 450px;
}

#batchs{

    margin-bottom: 10px;
    margin-top: 20px;
}

#inner-tab-menu ul li {
    background-color:#2C237E;
    color:#FFFFFF;
    float:left;
    font-size:0.9em;
    height:1.5em;
    list-style-type:none;
    margin:0 0 0 10px;
    padding:0;
    text-align:center;
    width:120px;
}
.label-field-pair label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 0;
    padding-top:10px;
    width:250px;
}
.bread_crumb {
    margin-left: 10px;
}

.label_field_pair {
    width:600px;
    height: 40px;
    padding-top: 3px;
}

.label_field_pair label {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: 600;
}

.label_for_student_gender{
    display:block;
    color:#444;
    margin-bottom:10px;
    width:200px;
    float:left;
}
.student_gender_value {
    float: left;
    margin-left: 60px;
    padding-top: 5px;
    width: 300px;
}

.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}