.text-input-bg {
    float : left;
    margin : 0 0 0 40px;
}
#fees-table{
    padding-top:86px;
}

.fees_paid{
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    height:16px;
    margin-left:270px;
    margin-top:30px;
    padding:7px 10px;
    width:135px;
}
.fees_paid:hover{
    background:  #373B3F;
}
.fees-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant:small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-table-total {
    float:left;
    padding: 0 0 0 60px;
    width: 180px;
}
.fees-table-amount {
    float:left;
    width: 80px;
    padding: 0 0 0 140px;
    text-align:right;
}
.edit-link{

    float : left;
    font-size : 0.9em;
    margin : 0 0 0 10px;
}
.delete-link {
    float : left;
    font-size : 0.9em;
    margin : 0 0 0 10px;
}
.edit-link a,
.delete-link a {
    color : #000;
}

#fee_submission{
    margin-top: 50px;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 18px 132px 0 0;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.submit_button:hover{
    background:  #373B3F;
}


.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}

.label-field-pair1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
    width:476px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair1 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 0px 0 0 1px;
    width : 117px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
    float: left;
}

.label-field-pair1 .submit_button2 {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    padding: 6px 8px;
    width: 87px;
}

.label-field-pair1 .submit_button2:hover {
    background: none repeat scroll 0 0 #373B3F;
}

.text-input-bg  {
    float:left;
    margin:0 0 0 40px;
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:130px;
}


.fine_info{
    float: right;
    height: 50px;
    overflow: hidden;
    width: auto;
}
.label-field-pair1 {
    overflow: hidden;
}
.text-input-bg1 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    margin:0 0 0 10px;
    width:130px;
}

.label-field-pair1 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}


.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    float:left;
    width:340px;
    padding-top: 10px;
    font-weight: 600;

}
label-field-pair2 {
    float: right;
}

.text-input-bg2 {
    float:left;
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:130px;
}
.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 100px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
    float: left;
}
.label-field-pair2 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.pay_fees{
    text-align: right;
    margin-top: 17px;
    margin-bottom: 35px;

}

table#listing td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}
table#listing td a:hover{
    background:  #373B3F;
    color: #fff;
    text-decoration: none;
}


td span{
    color: #990A10;
}

table#listing td.col-8 {
    padding: 5px 15px 5px 10px;
    text-align: right;
    width: 10%;
}

.pay_fees_buttons{
    clear: both;

}

.pay_fees_buttons a{
    float: right !important;
    margin: 18px 10px 0 !important;
}
.pay_fees_buttons input{
    float: right;
}

.pay_fees .label-field-pair2{
    float: right;
}
table#listing td.col-6 {
    width: 6%;
}

.name{
    color: #999999;
    float: left;
    width: 220px;
    font-weight: bold;
    font-size: 13px;
}

.val {
    width: 900px;
    color: #2C237E;
    font-weight: bold;
    font-size: 13px;
}

.val span{
    margin-right:12px;
    color: black;
}