.options{
    float:left;
}
.link-box {
    float: left;
    height: 80px;
    margin: 30px;
    width: 243px;
}


.link-heading a {
    font-weight:bold;
    color:#2C237E;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
}
#categories{
    float: right;
    width:960px;
}
.small{
    font-size: 11px;
    float:right;
    width:35px;
}
.small-strike {
    text-decoration:  line-through;
    font-size: 11px;
    float:right;
    width:35px;
}

.box{
    width:965px;
    margin:0px auto;
}

#categories{
    margin: 20px 0 0 auto;
    width: 100%;
}

.submit_button {
    margin-top:15px;
    margin-left:205px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float: left;
}
.submit_button:hover{
    background:  #373B3F;
}

#MB_frame .label-field-pair select {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 10px 0 5px;
    padding:5px;
    width:217px;
}

.label-field-pair2 {
    height : 79px;
    width : 450px;
    padding-top: 3px;
}

.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:205px;
    padding-top: 10px;
    font-weight: 600;
}

.label-field-pair input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 5px;
    padding:5px;
    width:205px;
}

.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : auto;
    height:auto;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.opt input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 50px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}



.user_button{
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 10px auto 0 334px;
    text-decoration: none;
    margin-left: 300px;
    float:left;

}
.user_button:hover{
    background:  #373B3F;
}

.opt{
    margin-left:200px;
    width:226px;
}
.each_batch{
    font-size: 12px;
    overflow:auto;
    width:auto;

}
.each_batch input{
    float:left;
    width:auto;
}
.each_batch label {
    float: left;
    margin-left: 10px;
    margin-top: -6px;
    width: 205px;
}

.each_category{
    font-size: 12px;
    overflow:auto;
    width:213px;;

}
.each_category input{
    float:left;
    width:auto;
}

.each_category label {
    float: left;
    margin-top: -7px;
    width: 178px;
    font-size:13px;
    font-weight: normal;
    margin-left: 8px;
}
.categories {
    height: 100px;
    overflow: auto;
    max-width: 220px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.batches {
    height: 183px;
    overflow: auto;
    width: 250px;
    float: left;
}
.label-field-pair {
    height:auto;
    padding-top:3px;
    width:600px;
}
.sel-list {
    margin-bottom:2px;
    width:200px;
}

#flash_notice{
    background-color: #FFF1AB;
    border: 1px solid #EFDC86;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

.label-container{
    float: left;
}

#batch{
    margin: 0 auto;
    width: 479px;
}

.fee-link{
    width: 920px;
    margin: 0 auto;
}


input#particulars_select_category{
    margin-left: 15px;
    margin-right: 3px;
}
table#listing td.col-4 {
    width: 36%;
}
table#listing td.col-1 {
    width: 2%;
}
#multiple_select{
    min-height: auto;
    max-height: 100px;
    overflow: auto;
}
.bread_crumb {
 margin-left: 10px;
}