.fees-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant:small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-table-particulars {
    float:left;
    padding: 0 0 0 60px;
    width: 180px;
}
.fees-table-amount {
    float:left;
    width: 80px;
    padding: 0 0 0 140px;
    text-align:right;
}

.name{
    color: #999999;
    float: left;
    width: 160px;
    font-weight: bold;
    font-size: 13px;
}

.val {
    color: #2C237E;
    font-weight: bold;
    font-size: 13px;
}

.val span{
    margin-right:12px;
    color: black;
}

.box{
    width: 600px;
    margin:0 auto;
}