<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/show_finance.png") %>
  <h1><%= t('finance_text') %></h1>
  <h3><%= t('manage_finance') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('fees_text')}", :controller => "student", :action => "view_all" %> </div>
      <div class="link-descr"><%= t('manage_fees') %></div>
    </div>
<!--
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('category')}", :action => "categories" %> </div>
      <div class="link-descr"><%= t('manage_category') %></div>
    </div>
    
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('transactions')}", :action => "transactions" %> </div>
      <div class="link-descr"><%= t('manage_expense_and_income') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('donations')}", :action => "donation" %></div>
      <div class="link-descr"><%= t('creates_new_donations') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('automatic_transactions')}", :action => "automatic_transactions" %></div>
      <div class="link-descr"><%= t('add_automatic_transactions') %></div>
    </div>
-->
    <% unless @hr.nil? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payslip_text')}", :action => "payslip_index" %></div>
        <div class="link-descr"><%= t('employee_payslips') %></div>
      </div>
    <% end %>
<!--
    <div class="link-box">
      <div class="link-heading"><%= link_to t('asset'), :action => "asset" %> </div>
      <div class="link-descr"><%= t('manages_asset') %></div>
    </div>
-->

  </div>
</div>