<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div class="profile_top_banner">
  <span class="profile"><%= t('details') %></span>
  <div class="profile-topbanner"></div>
</div>
<div class="profile_info_label_top"><%= t('joining_date') %></div>
<div class="profile_info_text_top"><%= I18n.l(@employee.joining_date, :format=>"%d %b,%Y")%></div>

<div class="profile_info_label_top2"><%= t('department') %></div>
<div class="profile_info_text_top2"><%= @employee.employee_department.name%></div>

<div class="profile_info_label_top"><%= t('category') %></div>
<div class="profile_info_text_top"><%= @employee.employee_category.name %></div>




<div class="profile_info_label_top2"><%= t('position') %></div>
<div class="profile_info_text_top2"> <%= @employee.employee_position.name %> </div>
<!--
<div class="profile_info_label_top"><%= t('grade') %></div>
<div class="profile_info_text_top"> <%= @employee.employee_grade.name unless @employee.employee_grade.nil? %> </div>

-->

<!--
<div class="profile_info_label_top2"><%= t('job_title') %></div>
<div class="profile_info_text_top2"> <%= @employee.job_title %> </div>

<div class="profile_info_label_top"><%= t('manager') %></div>
<div class="profile_info_text_top"> <%= @reporting_manager %>

  <% if permitted_to? :change_reporting_manager, :employee %>
    <%= link_to "#{t('change')}", :controller=> "employee", :action=> "change_reporting_manager", :id=>@employee.id %>
  <%end%>

</div>
-->


<div class="profile_info_label_top2"><%= t('gender') %></div>
<div class="profile_info_text_top2"> <%= t("#{@gender.downcase}") %> </div>

<div class="profile_info_label_top"><%= t('status') %></div>
<div class="profile_info_text_top"><%= t("#{@status.downcase}") %> </div>




<div class="profile_info_label_top2"><%= t('qualification') %></div>
<div class="profile_info_text_top2"><%= @employee.qualification %> </div>


<div class="profile_info_label_top"><%= t('total_exp') %></div>
<div class="profile_info_text_top"><%= @total_years.to_s+"Years "+@total_months.to_s+"Months" %> </div>

<div class="profile_info_label_top2"><%= t('exp_info') %></div>
<div class="profile_info_text_top2"><%= @employee.experience_detail %> </div>
<div class="extender"></div>
<div class="edit-pdf-group">
  <% if permitted_to?  :profile_pdf , :employee %>
    <div class="pdf">
      <%= link_to " ► #{t('pdf_report')}",
        {:controller => "archived_employee", :action => "profile_pdf", :id => @employee.id},:target => '_blank', :class=> 'user_button' %>
    </div>
  <% end %>
</div>
