<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.
-%>

<div id="pdf-header">
      <div class="logo">
        <%= image_tag  "#{RAILS_ROOT}/public/images/pdf_logo.jpg" ,:width => "620",  :height=>"101" %> <!--added my roshan-->
<!--        <% if FileTest.exists?("#{RAILS_ROOT}/public/uploads/image/institute_logo.jpg") %>
            <%= image_tag  "#{RAILS_ROOT}/public/uploads/image/institute_logo.jpg" ,:width => "90",  :height=>"85" %>
          <% else %>

          <div class="fed_logo">
            <%= image_tag  "#{RAILS_ROOT}/public/images/application/app_fedena_logo.jpg" ,:width => "90",  :height=>"85" %>
    </div>-->
          <% end %>
      </div>
<!--      <div class="header-content">
        <p><%=Configuration.get_config_value('InstitutionName'); %></p>
        <p><%=Configuration.get_config_value('InstitutionAddress'); %></p>
      </div>-->

</div>