<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% arrow_dir = rtl? ? "◀" : "▶" %>
<ul id="main-menu">
  <li class="a"><%= link_to t('dashboard_text'), :controller => "user", :action => "dashboard" %></li>
  <% if permitted_to? :index, :student %>
    <li class="a"><%= link_to t('student_details'), :controller => "student", :action => "index" %></li>
  <% end %>
  <% if @current_user.admin? %>
    <li class="a"><%= link_to "#{t('attendance')} ▼", :controller => "student_attendance", :action => "index" %>
      <ul class="level-1">
        <li><%= link_to "#{t('attendance_register')}", :controller => 'attendances', :action => 'index'  %></li>
        <li><%= link_to "#{t('attendance_report')}", :controller => "attendance_reports", :action => "index" %></li>
      </ul>
    </li>
  <% elsif @current_user.employee? %>
    <% @employee= @current_user.employee_record  %>
    <% @employee_subjects= @employee.subjects.collect(&:id)  %>
    <% @employee_batches=Batch.find_all_by_employee_id(@employee.id) %>
    <% @attendance_type = Configuration.find_by_config_key('StudentAttendanceType') %>
    <% if @attendance_type.config_value == 'Daily' %>
      <% if permitted_to? :index, :student_attendance or @employee_batches.present? or @current_user.privileges.map{|p| p.name}.include?("StudentAttendanceView") or @current_user.privileges.map{|p| p.name}.include?("StudentAttendanceRegister") %>
        <li class="a"><%= link_to "#{t('attendance')} ▼", :controller => "student_attendance", :action => "index" %>
          <ul class="level-1">
            <% if @employee_batches.present? or @current_user.privileges.map{|p| p.name}.include?("StudentAttendanceRegister") %>
              <li><%= link_to "#{t('attendance_register')}", :controller => 'attendances', :action => 'index'  %></li>
            <% end %>
            <li><%= link_to "#{t('attendance_report')}", :controller => "attendance_reports", :action => "index" %></li>
          </ul>
        </li>
      <% end %>
    <% else %>
      <% if permitted_to? :index, :student_attendance or @employee_batches.present? or @employee_subjects.present? or @current_user.privileges.map{|p| p.name}.include?("StudentAttendanceView") or @current_user.privileges.map{|p| p.name}.include?("StudentAttendanceRegister") %>
        <li class="a"><%= link_to "#{t('attendance')} ▼", :controller => "student_attendance", :action => "index" %>
          <ul class="level-1">
            <% if @employee_batches.present? or @employee_subjects.present? or @current_user.privileges.map{|p| p.name}.include?("StudentAttendanceRegister") %>
              <li><%= link_to "#{t('attendance_register')}", :controller => 'attendances', :action => 'index'  %></li>
            <% end %>
            <li><%= link_to "#{t('attendance_report')}", :controller => "attendance_reports", :action => "index" %></li>
          </ul>
        </li>
      <% end %>
    <% end %>
  <% end %>
  <% if permitted_to? :index, :configuration %>
    <li class="a"><%= link_to "#{t('settings')} ▼", :controller => "configuration", :action => "index" %>
      <ul class="level-1">
        <% if permitted_to? :create, :courses %>
          <li><%= link_to "#{t('manage_course_batch')}", courses_path %></li>
        <% end %>
<!--        
        <% if permitted_to? :settings, :configuration %>
          <li><%= link_to "#{t('manage_student_category')}", :controller => "student", :action => "categories" %></li>
        <% end %>
        -->
        <% if permitted_to? :index, :subjects %>
          <li><%= link_to "#{t('teaching_schedule')}", subjects_path %></li>
        <% end %>
        <% if permitted_to? :settings, :configuration %>
          <li><%= link_to "#{t('general_settings')}", :controller => "configuration", :action => "settings" %></li>
        <% end %>
        <% if permitted_to? :settings, :configuration %>
          <li><%= link_to "#{t('add_admission_additional_detail')}", :controller=>"student", :action => "add_additional_details" %></li>
        <% end %>
<!--  
        <% if permitted_to? :index, :sms %>
          <li><%= link_to "#{t('sms_module')}", :controller=>"sms", :action => "index" %></li>
        <% end %>
-->
      </ul>
    </li>
  <% end %>
  <!--
  <li><%= link_to t('news_text'), :controller => "news", :action => "index" \
    if @current_user.admin? %></li> -->
<!--  <% if permitted_to? :index, :timetable %>
    <li class="a"><%= link_to "#{t('timetable_text')} <span class='down-arrow'>▼</span>", :controller => "timetable", :action => "index" %>
      <ul class="level-1">
        <%  if permitted_to? :new_timetable,:timetable%>
          <li><%= link_to "#{t('create_timetable')}", :controller => "timetable", :action => "new_timetable" %></li>
        <%  end%>
        <%if permitted_to? :edit_master,:timetable%>
          <li><%= link_to "#{t('edit_timetable')}", :controller => "timetable", :action => "edit_master" %></li>
        <%  end%>
        <%  if permitted_to? :index,:class_timings%>
          <li><%= link_to "#{t('set_class_timings')}", :controller => "class_timings", :action => "index"   %></li>
        <%  end%>
        <%  if permitted_to? :index,:weekdays%>
          <li><%= link_to "#{t('set_weekdays')}", :controller => "weekday", :action => "index"   %></li>
        <%  end%>
        <%  if permitted_to? :view,:timetable%>
          <li><%= link_to "#{t('view_timetable')}", :controller => "timetable", :action => "view" %></li>
        <%  end%>
        <%  if permitted_to? :view,:timetable%>
          <li><%= link_to "#{t('teacher_timetable')}", :controller => "timetable", :action => "teachers_timetable" %></li>
        <%  end%>
        <li><%= link_to "#{t('institutional')} #{t('timetable_text')}", :controller => "timetable", :action => "timetable" %></li>
        <%  if permitted_to? :edit,:timetable%>
          <li><%= link_to "#{t('create_text')} #{t('weekdays_text')}", :controller => "weekday", :action => "index" %></li>
        <% end %>
        <%if permitted_to? :work_allotment,:timetable%>
          <li><%= link_to "#{t('work_allotment')}", :controller => "timetable", :action => "work_allotment" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
-->  <% if @current_user.admin? %>
    <% FedenaPlugin::AVAILABLE_MODULES.each do |mod| %>
      <% unless mod[:top_bar].blank? %>
        <% if permitted_to? "#{mod[:top_bar][:action]}".to_sym,"#{mod[:top_bar][:controller]}".to_sym %>
          <%= link_to "#{t(mod[:top_bar][:title])}", {:controller => "#{mod[:top_bar][:controller]}", :action => "#{mod[:top_bar][:action]}"} %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <li class="a"><a href="#"><%= t('more') %> ▼</a>
    <ul class="level-1" id="more-parent">
      <li><%= link_to "#{t('calendar_text')}" , :controller => "calendar", :action=>"index" %></li>
<!--      <% if permitted_to? :index, :exam %>
        <li><%= link_to "#{t('examination')} <span class='right-arrow'>#{arrow_dir}</span>" , :controller => "exam", :action=>"index" %>
          <ul class="level-2" id="exam-parent">
            <% @employee_subjects=[] %>
            <% @employee_subjects= @current_user.employee_record.subjects.map { |n| n.id} if @current_user.employee?  %>
            <% if (@current_user.admin? or @current_user.privileges.collect(&:name).include?('ExaminationControl')) %>
              <%  if permitted_to? :settings,:exam %>
                <li><%= link_to "Settings" ,:controller=>'exam',:action=>'settings' %> </li>
              <% end %>
              <%  if permitted_to? :create_exam, :exam  %>
                <li><%= link_to "#{t('exam_management')}" , :controller => "exam",:action=>'create_exam' %>  </li>
              <% end %>
              <%  if permitted_to? :generate_reports,:exam %>
                <li><%= link_to "Generate Reports" ,:controller=>'exam',:action=>'generate_reports' %> </li>
              <% end %>
              <li><%= link_to "Report Center" , :controller => "exam",:action=>'report_center' %></li>
            <% elsif (@current_user.privileges.collect(&:name).include?('EnterResults') or !@employee_subjects.empty?) %>
              <%  if permitted_to? :create_exam, :exam  %>
                <li><%= link_to "#{t('exam_management')}" , :controller => "exam",:action=>'create_exam' %>  </li>
              <% end %>
              <li><%= link_to "Report Center" , :controller => "exam",:action=>'report_center' %></li>
            <% elsif (@current_user.privileges.collect(&:name).include?('ViewResults') or (Batch.all.collect(&:employee_id).include?(@current_user.employee_record.id.to_s) if @current_user.employee?)) %>
              <li><%= link_to "Report Center" , :controller => "exam",:action=>'report_center' %></li>
            <% end %>
            <%  if Configuration.cce_enabled? %>
              <%  if permitted_to? :index, :cce_reports  %>
                <li><%= link_to "CCE Report" , :controller => "cce_reports" %>  </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
      -->
      <li><%= link_to "#{t('news_text')}" , :controller => "news", :action=>"index" %></li>
      <% if permitted_to? :index, :event %>
        <li><%= link_to "#{t('event_creations')}" , :controller => "event", :action=>"index" %></li>
      <% end %>
      <% if permitted_to? :hr, :employee %>
        <li><%= link_to "#{t('human_resource')}" , :controller => "employee", :action=>"hr" %>
   <!--add the following inside link_to to place right pointing arrow -> <span class='right-arrow'>#{arrow_dir}</span> -->
<!--          <ul class="level-2">
            <% if permitted_to? :settings, :employee %>
              <li><%= link_to "#{t('setting')}", :controller=>"employee", :action=>"settings"%></li>
            <%end%>
            <% if permitted_to? :employee_management, :employee %>
              <li><%= link_to "#{t('employee_management_text')}", :controller=>"employee", :action=>"employee_management"%></li>
            <%end%>
            <% if permitted_to? :employee_attendance, :employee %>
              <li><%= link_to "#{t('employee_leave_management')}", :controller=>"employee", :action=>"employee_attendance" %></li>
            <%end%>
            <% if permitted_to? :payslip, :employee %>
              <li><%= link_to  "#{t('create_payslip')}", :controller=>"employee", :action=>"payslip" %></li>
            <%end%>
            <% if permitted_to? :search, :employee %>
              <li><%= link_to "#{t('employee_search')}", :controller=>"employee", :action=>"search" %></li>
            <%end%>
            <% if permitted_to? :department_payslip, :employee %>
              <li><%= link_to "#{t('employee_payslip')}", :controller=>"employee", :action=>"department_payslip" %></li>
            <% end %>
            <% unless @modules.include?("Finance") %>
              <% if permitted_to? :payslip_approve, :employee %>
                <li><%= link_to "#{t('one_click_aprove_payslip')}", :controller=>"employee", :action=>"payslip_approve" %></li>
              <%end%>
            <%end%>
          </ul>-->
        </li>
      <% end %>
      <% if permitted_to? :index, :finance %>
        <li><%= link_to "#{t('finance_text')}" , :controller => "finance", :action=>"index" %>
<!--          <ul class="level-2" id="finance_menu">
            <li><%= link_to "#{t('fees_text')}", :controller => "student", :action => "view_all" %> </li>
            <li><%= link_to "#{t('category')}", :controller => "finance", :action => "categories" %> </li>
            <li><%= link_to "#{t('transactions')}", :controller => "finance", :action => "transactions" %> </li>
            <li><%= link_to "#{t('donations')}", :controller => "finance", :action => "donation" %></li>
            <li><%= link_to "#{t('automatic_transactions')}", :controller => "finance", :action => "automatic_transactions" %></li>
            <% if @modules.include?("HR") %>
              <li><%= link_to "#{t('payslip_text')}", :controller => "finance", :action => "payslip_index" %></li>
            <% end %>
            <li><%= link_to "#{t('asset_liability_management')}", :controller => "finance", :action => "asset_liability" %></li>
          </ul>-->
        </li>
      <% end %>
      <% if permitted_to? :index, :student %>
        <li><%= link_to "#{t('hostel_text')}" , :controller => "student", :action=>"view_hostel" %></li>
      <% end %>
      <% if @current_user.admin? %>
        <li><%= link_to "#{t('user_text')}" , :controller => "user", :action=>"index" %></li>
      <% end %>
    </ul>
  </li>
</ul>

<script type="text/javascript">
  function load_menu_from_plugins(){
<% FedenaPlugin::AVAILABLE_MODULES.each do |mod|  %>
  <% unless mod[:more_menu].blank? %>
    <% sub_menu_flag = 0 %>
    <% unless mod[:sub_menus].blank? %>
      <% mod[:sub_menus].each do|mnu| %>
        <% if can_access_request?("#{mnu[:action]}".to_sym,"#{mnu[:controller]}".to_sym) and mnu[:target_id]==mod[:name]%>
          <% sub_menu_flag = 1 %>
        <% end %>
      <% end %>
    <% end %>
    <% arrow = sub_menu_flag==1 ? " <span class=right-arrow>#{arrow_dir}</span>" : "" %>
    <% if mod[:more_menu][:target_id].present? %>
      <% if can_access_request?(mod[:more_menu][:action].to_sym,mod[:more_menu][:controller].to_sym) %>
        <% if sub_menu_flag==1 %>
              $('<%= mod[:more_menu][:target_id] %>').insert({bottom: '<li><%= link_to "#{t(mod[:more_menu][:title]).gsub("'","&#39;")}#{arrow}",:controller => "#{mod[:more_menu][:controller]}", :action=>"#{mod[:more_menu][:action]}" %><ul class="level-2" id="<%= mod[:name] %>"></ul></li>'})
        <% else %>
              $('<%= mod[:more_menu][:target_id] %>').insert({bottom: '<li><%= link_to "#{t(mod[:more_menu][:title]).gsub("'","&#39;")}#{arrow}",:controller => "#{mod[:more_menu][:controller]}", :action=>"#{mod[:more_menu][:action]}" %></li>'})
        <% end %>
      <% end %>
      <% unless mod[:sub_menus].blank? %>
        <% mod[:sub_menus].each do |submenu| %>
          <% if submenu[:target_id].present? %>
                if ($('<%= submenu[:target_id] %>')!=null)
                {
                  $('<%= submenu[:target_id] %>').insert({bottom: '<li><%= link_to "#{t(submenu[:title]).gsub("'","&#39;")}",:controller => "#{submenu[:controller]}", :action=>"#{submenu[:action]}"  if can_access_request? "#{submenu[:action]}".to_sym,"#{submenu[:controller]}".to_sym  %></li>'})
                }
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
  }
</script>
