<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="<%= (rtl?) ? 'rtl' : 'ltr' %>">
  <head>
    <% @direction = (rtl?) ? 'rtl/' : '' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <title><%= @title %></title>
    <% unless current_school_detail.new_record? %>
    <link rel="icon" href="<%=current_school_detail.logo.url%>" type="<%=current_school_detail.logo.content_type%>" />
    <link rel="shortcut icon" href="<%=current_school_detail.logo.url%>" type="<%=current_school_detail.logo.content_type%>" />
    <% end %>

    <%= stylesheet_link_tag(*get_stylesheets) %>

    <%= javascript_include_tag :defaults, :cache => 'cache/javascripts/all' %>
    <%= javascript_include_tag 'scripts/nicetitle', 'droplicious' %>
    <%= javascript_include_tag "fckeditor/fckeditor" %>
    <%= javascript_include_tag 'builder' %>
    <%= javascript_include_tag 'modalbox' %>
    <%= javascript_include_tag 'jquery/jquery.min.js' %>
    <%= javascript_include_tag 'jquery/jquery-ui.min.js'%>
    <%= javascript_include_tag 'jquery/jquery.hotkeys.js'%>
  </head>

  <body>
    <div id="header_bg">
      <div id="header">
        <div id="outer-header-link">
          <div id="institution-name">
            <%= current_school_name %>
          </div>
          <div id="header_link" >
            <div id="messages-link">
              <%= link_to t('messages'), :controller => "reminder", :action => "index" %><%= render :partial =>'layouts/reminder_count'%>
            </div>
            <div id="profile-link">
            <%= link_to @current_user.first_name, { :controller => 'user', :action => 'profile', :id => @current_user.username }, :class=>"profile-link" %>
            </div>
            <div id="logout-link">
            <%= link_to t('log_out'), :controller => 'user', :action => 'logout' %>
            </div>
          </div>
        </div>
        <div id="outer-main-menu">
          <%= main_menu %>
        </div>
        <div id="outer-autosuggest-menu">
          <%= render :partial => "layouts/autosuggest_menu" %>
        </div>
      </div>
    </div>

    <div id="content_wrapper" >
      <div id="content"> <%= yield %> </div>

      <div class="extender"></div>
    </div>

    <div id="footer">
      <div id="footer_logo">
        <div id="powered_by">
Powered by Guision Inc
        </div>
      </div>
    </div>
  </body>
</html>
