<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.
-%>

<div id="pdf-header">
  <div class="logo">
    <!--<%= wicked_pdf_image_tag "/"+(current_school_detail.logo.path||"#{Rails.root}/public/images/application/app_fedena_logo.jpg") %>-->
  <%= wicked_pdf_image_tag "#{Rails.root}/public/images/pdf_logo.jpg" %>
  </div>
<!--  <div class="header-content">
    <p><%=Configuration.get_config_value('InstitutionName'); %></p>
    <p><%=Configuration.get_config_value('InstitutionAddress'); %></p>
  </div>-->

</div>
