

#page-yield {
    width:-moz-max-content;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}

#pdf-info{
    padding-top: 50px;
}


.hor_line{
    width:-moz-max-content;
    background: #333333;
    height: 1px;
}

h2{
    text-align: center;
    margin:5px;
    font-size: 13px;
}
h3{
    font-size: 14px;
}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

td{
    padding: 12px 5px 12px 5px;
    border: 1px solid #ADACAB;
    border-collapse: collapse;
    width: 25px;
    text-align: center;
}

td.col-pdf-bold{
    font-weight: bold !important;
}

.table-header td{
/*    padding: 12px 12px 12px 15px;*/
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}
.table-footer td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}
table{
    border-right: 1px solid #ADACAB;
    font-size: 11px;
/*    border-collapse: collapse;*/
    margin-bottom: 20px;

}
.report{
    min-height: 1000px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}


.page-break td{
    height: 450px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}
.subject{
    text-align: left;
    width: 100px;
}
.sl_no{
    width: 10px;
}
.grade{
    max-width: 10px;
}
.info1{
    margin-top: 15px;
    font-size:13px;
    font-weight:normal;
    color:#444444;
    margin-bottom:5px;
}
.infolbl{
    color:#2C237E;
}
.field-label{
    width:80px;
    float:left;
}
.info-left{
    float:left;
}
.info-right{
    float:right;
}
.info{
    width:100%;
    float:left;
}
.high{
    color:#2C237E;
}



